.divider__8cf56.hasContent__8519e:not(.isUnread__6f880) {
    border-color: transparent;
}

.divider__8cf56.hasContent__8519e .content_d67847 {
    background: rgba(0, 0, 0, 0.1);
    color: var(--nox-white3);
    padding: 3px 10px;
    border-radius: 3px;
}

#---new-messages-bar.hasContent__8519e .content_d67847 {
    background: #2b2b2b;
}

#---new-messages-bar {
    border-top: 1px solid #f04747;
}

#---new-messages-bar:not(.hasContent__8519e):not(.beforeGroup__1e5e5) {
    margin-top: -3px;
    margin-bottom: 2px;
}