// invite embed
.wrapper_b9fe76 {
    background-color: var(--nox-level2);
    border-radius: 3px;
}
.wrapper_b9fe76 .flowerStar_ff7d90 path {
    fill: var(--nox-accent);
}
.guildIconExpired_b9fe76 {
    filter: grayscale(1);
    background-color: rgba(255, 255, 255, .05);
    border-radius: 50%;
}

// bot embed
.embedFull_b0068a {
    border-color: var(--nox-white1);
    background: var(--nox-level2);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.botTagRegular_a02df3 {
    background: var(--nox-accent);
}

// file embed
.attachment_a4623d.attachment_a4623d {
    background-color: var(--nox-level2);
    border-color: var(--nox-level3);
    border-radius: 2px;
}
.attachment_a4623d .metadata_a4623d {
    color: var(--nox-white2)
}

// textfile embed
.newMosaicStyle_ad9cbd .textContainer_ad9cbd {
    border-radius: 3px 3px 0 0;
}
.newMosaicStyle_ad9cbd .footer_ad9cbd {
    border-radius: 0 0 3px 3px;
}
.textContainer_ad9cbd,
.footer_ad9cbd,
.codeView_ad9cbd {
    background-color: var(--nox-level2);
    border-color: var(--nox-level3);
    color: var(--nox-white6);
}
.toggleExpandSection_ad9cbd {
    color: var(--nox-white6);
}
.theme-dark .hljs-code,
.theme-dark .hljs-comment,
.theme-dark .hljs-formula {
    color: var(--nox-white4);
}
.toggleExpandSection_ad9cbd:hover {
    color: var(--nox-white9);
}
.footer_ad9cbd .formattedSize_ad9cbd {
    color: var(--nox-white2);
}
.footer_ad9cbd .downloadButton_ad9cbd,
.footer_ad9cbd .codeIcon_ad9cbd {
    color: var(--nox-white4);
}
.footer_ad9cbd .downloadSection_ad9cbd:hover .downloadButton_ad9cbd,
.footer_ad9cbd .codeIcon_ad9cbd:hover {
    color: var(--nox-white6);
}
// language selector
.languageSelector_ad9cbd {
    background-color: var(--nox-level2);
    border-radius: 0;
}
.languageSelector_ad9cbd .container__33507 {
    background-color: var(--nox-level1);
    border-radius: 0;
    margin: 2px 2px 0 2px;
}
.languageSelector_ad9cbd .item_eef3ef {
    border-radius: 3px;
    color: var(--nox-white4);
}
.focused_eef3ef, .item_eef3ef:hover:not(.disabled_eef3ef) {
    background-color: rgba(255, 255, 255, .05);
    color: var(--nox-white6);
}
.item_eef3ef.item_eef3ef.selected_eef3ef {
    background-color: var(--nox-black3);
    color: var(--nox-white9);
}

// video embed
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e:after,
.mediaBarProgress_f7877e:before {
    background-color: var(--nox-accent);
}
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e,
.mediaBarInteractionDragging_f7877e .mediaBarGrabber_f7877e {
    background-color: var(--nox-accent);
}

// audio embed
.wrapperAudio_f316dd.wrapperAudio_f316dd {
    background-color: var(--nox-level2);
    border: none;
    border-radius: 3px;
}
.audioControls_f316dd {
    background-color: var(--nox-level3);
}
.audioMetadata_f316dd:before {
    filter: hue-rotate(-17deg);
}

// voice embed
.messageAttachment__5dae1 .container_d6cb89 {
    background-color: var(--nox-level3);
    border-radius: 4px;
}
.theme-dark .container_d6cb89:not(.playing_d6cb89) .playButtonContainer_d6cb89 {
    background: var(--nox-accent);
}
.theme-dark .container_d6cb89:not(.playing_d6cb89) .playButtonContainer_d6cb89:hover {
    background: var(--nox-accent);
    filter: brightness(1.1);
}
.playing_d6cb89 .playIcon_d6cb89 {
    color: var(--nox-accent);
}
.rippleContainer_d6cb89 {
    border-radius: 0;
}
.ripple_d6cb89 {
    background-color: var(--nox-level1-5);
    border-radius: 0;
}
.playing_d6cb89 .volumeButtonIcon_d6cb89 {
    color: var(--nox-white6);
}