.contentWrapper__321ed {
    background: var(--nox-level2);

    .navButtonActive__735cb {
        background: var(--nox-white1);
    }

    .header_f7f1f3,
    .header_f71767,
    .header__55964 {
        background: var(--nox-level3);
        padding: 6px;
    }
    .searchBar__3b162,
    .container_e4c233 {
        background: none;
    }

    // gifpicker favourites
    .categoryFadeBlurple_e73c11 {
        background: var(--nox-accent);
        opacity: 0.6;
    }
    .categoryFadeBlurple_e73c11:hover {
        background: var(--nox-accent);
        opacity: 0.7;
    }
    // gifpicker hover/focus
    .result_e1fc74:hover:after,
    .focused__036ed:after {
        box-shadow: inset 0 0 0 2px var(--nox-accent), inset 0 0 0 3px #2f3136
    }

    .placeholder__1d2a8 {
        background: var(--nox-level1);
    }

    //stickerpicker
    .categoryList__5dbc1,
    .inspector__993e1 {
        background: var(--nox-level3);
    }

    .categoryList__5dbc1 {
        margin-top: -4px;
    }

    .wrapper__7a35f {
        background: var(--nox-level2);
    }

    // hover background
    .stickerInspected__1c897 .inspectedIndicator_f00108,
    .guildIcon__4d796,
    .firstPartyCategorySelected__99299,
    .firstPartyCategorySelected__99299:hover,
    .stickerCategoryGenericSelected__44ec4,
    .stickerCategoryGenericSelected__44ec4:hover {
        background: var(--nox-level1);
    }

    //emojipicker
    .header__55964,
    .emojiPicker_b65ce9 {
        border-radius: 0;
    }

    .categoryList_f8c48f {
        background: var(--nox-level3);
        margin-top: -4px;
    }

    // hover background
    .emojiItem_b15dee.emojiItemSelected__1a09a,
    .categoryItemDefaultCategorySelected__8245a,
    .categoryItemDefaultCategorySelected__8245a:hover {
        background: var(--nox-level1);
    }

    .imageLoading__37d01 {
        background-image: none;
        background-color: var(--nox-level1);
        border-radius: 8px;
    }
}

