.contentWrapper_e0bb2c {
    background: var(--nox-level2);

    .navButtonActive__0c878 {
        background: var(--nox-white1);
    }

    .header_aac16f,
    .header__643ce,
    .header_e5d8b2 {
        background: var(--nox-level3);
        padding: 6px;
    }
    .searchBar_ca009d,
    .container_ec5ce2 {
        background: none;
    }

    // gifpicker favourites
    .categoryFadeBlurple_ffb0c5 {
        background: var(--nox-accent);
        opacity: 0.6;
    }
    .categoryFadeBlurple_ffb0c5:hover {
        background: var(--nox-accent);
        opacity: 0.7;
    }
    // gifpicker hover/focus
    .result_e1fc74:hover:after,
    .focused__79359:after {
        box-shadow: inset 0 0 0 2px var(--nox-accent), inset 0 0 0 3px #2f3136
    }

    .placeholder__99206 {
        background: var(--nox-level1);
    }

    //stickerpicker
    .categoryList_a35b58,
    .inspector__80c84 {
        background: var(--nox-level3);
    }

    .categoryList_a35b58 {
        margin-top: -4px;
    }

    .wrapper__91b2c {
        background: var(--nox-level2);
    }

    // hover background
    .stickerInspected__29120 .inspectedIndicator__0c5e3,
    .guildIcon_ed1ab4,
    .firstPartyCategorySelected__54b34,
    .firstPartyCategorySelected__54b34:hover,
    .stickerCategoryGenericSelected_b553f9,
    .stickerCategoryGenericSelected_b553f9:hover {
        background: var(--nox-level1);
    }

    //emojipicker
    .header_e5d8b2,
    .emojiPicker__5e2e2 {
        border-radius: 0;
    }

    .categoryList_eac4ac {
        background: var(--nox-level3);
        margin-top: -4px;
    }

    // hover background
    .emojiItem_de65fd.emojiItemSelected__023be,
    .categoryItemDefaultCategorySelected__7d6e0,
    .categoryItemDefaultCategorySelected__7d6e0:hover {
        background: var(--nox-level1);
    }

    .imageLoading_fb7de7 {
        background-image: none;
        background-color: var(--nox-level1);
        border-radius: 8px;
    }
}

