.form_d8a4a1 {
    background: none;
    padding: 0;
    box-shadow: $elevation-shadow;
}

.form_d8a4a1::after,
.form_d8a4a1::before {
    content: none;
}

.channelTextArea_c2094b .scrollableContainer_ff917f {
    // max-height: 400px!important;
    // overflow-y: scroll!important;
    background: var(--nox-level1-5);
    padding: 10px 0 10px 0;
    border-radius: 0;
}

// reply bar
.attachedBars_c1606a {
    background: var(--nox-level2);
}

.replyBar_ed6afc {
    background: none;
}

.channelTextArea_c2094b {
    background: none;
    margin: 0;
}

.placeholder_dec8c7 {
    color: var(--nox-white3);
}

.typing__6fd1d {
    background: var(--nox-level2);
    color: var(--nox-white);
    bottom: 100%;
    padding: 0 20px;
    margin-left: 15px;
    border-radius: 5px 5px 0 0;
    opacity: 0.95;
    transition: opacity 200ms ease
}

.typing__6fd1d:hover {
    opacity: 1;
}

.typing__6fd1d .text_eb454c {
    line-height: 26px;
}

.typingDots__0448d {
    margin-right: 5px;
}

.cooldownWrapper__193b2 {
    color: var(--nox-white5) !important;
}

// removes gap above edit box
.channelTextArea__626ee {
    margin-top: 0;
}

// edit box bg
.channelTextArea__626ee .themedBackground__3a4c0 {
    background: var(--nox-level1-5);
    border-radius: 3px;
}

.button_dd99ad[disabled]>.innerButton__9efb8>.buttonChild_eaf65e,
.buttonChild_eaf65e {
    color: var(--nox-white2);
}

.activeButtonChild__58171 {
    color: var(--nox-accent);
}

.button_dd99ad.button_dd99ad:focus-within .activeButtonChild__58171,
.button_dd99ad.button_dd99ad:focus .activeButtonChild__58171,
.button_dd99ad.button_dd99ad:hover .activeButtonChild__58171 {
    color: var(--nox-accent);
    opacity: 0.6 !important;
    transition: opacity ease 300ms;
}

.button_dd99ad.button_dd99ad:active .activeButtonChild__58171 {
    color: var(--nox-accent);
    opacity: 1 !important;
}

.codeBlockText_bcfd01,
.codeLine__10acb {
    color: var(--nox-white5);
}

.codeBlockSyntax__4104a,
.syntaxAfter__23aff,
.syntaxBefore_bd3975 {
    color: var(--nox-white6);
}

.codeBlockLang__61f8b {
    color: var(--nox-accent);
}