// main bg
.container_a6d69a {
    background: var(--nox-level1);
}

// submit button
.form_c1668f .submitButton_c1668f {
    border-radius: 2px;
}

// search bar
.header_a6d69a.header_a6d69a {
    background-color: var(--nox-level1-5);
}

.headerWithMatchingPosts_a6d69a {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

// search thing
.matchingPostsRow_a6d69a {
    background-color: var(--nox-level2);
    width: 95%;
    align-self: center;
    border-radius: 0 0 5px 5px;
    .clear_a6d69a {
        color: var(--nox-accent) !important;
    }
}

// dropdown buttons
.sortDropdown_a6d69a,
.tagsButton_a6d69a {
    border-radius: 6px;
    background-color: var(--nox-level2);
}
.countContainer_a6d69a {
    background-color: var(--nox-accent);
}

// filters/tags
.pill_c993da {
    border-radius: 6px;
    background-color: var(--nox-level2);
    border: none;
    
    .text-xs-semibold__767f1,
    .text-sm-semibold_d260b0 {
        color: var(--nox-white8);
    }

    &.pill_c993da.pill_c993da:hover {
        background-color: rgba(255, 255, 255, .06);
    }

    &.selected_c993da.selected_c993da.selected_c993da {
        background-color: var(--nox-accent);
    }
}

// card
.mainCard_a6d69a,
.loadingCard_a6d69a { // placeholder
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
}

.loadingCard-0_a6d69a,
.loadingCard-1_a6d69a {
    opacity: 0.7;
}

.mainCard_a6d69a.isOpen_d331f1.isOpen_d331f1 {
    background-color: var(--nox-black4);
}

// hover
.container_d331f1:hover {
    transform: none;
    background-color: rgba(2, 2, 2, .2);
    box-shadow: initial;
}

// pin icon
.pinIcon_f451cd {
    background-color: var(--nox-accent);
}

// title
.postTitleText_d331f1 {
    --header-primary: var(--nox-white9);
    --text-muted: var(--nox-white4);
}

// author
.author_c2ac9c.hasUnreads_c2ac9c .anchor_af404b {
    color: var(--nox-white6)
}

.author_c2ac9c .anchor_af404b {
    color: var(--nox-white4);
}

// message
.messageFocusBlock_d331f1 {
    --header-secondary: var(--nox-white4);
    --text-muted: var(--nox-white3);
}

.messageCountIcon_d331f1,
.messageCountText_d331f1,
.bullet_d331f1 {
    color: var(--nox-white6);
}

.newMessageCount_d331f1 {
    color: var(--nox-accent) !important;
}

.footer_d331f1 .text-sm-normal__95a78 {
    color: var(--nox-white6) !important;
}

// forums icon in post
.iconWrapper_e378b3 {
    background-color: var(--nox-level2);
}

// op tag text color
.botTagOP_a02df3 {
    color: var(--nox-white);
}

// locked post
.chatHeaderBar_e2f46e {
    background-color: var(--nox-level2);
}
.chatHeaderBarText_e2f46e {
    color: var(--nox-white6) !important;
}

// original messge divider
.divider_af45f8 {
    display: none;
}

// follow post section

.messageListItem_d5deea:has(+ .container_b385c8) {
    margin-bottom: 20px;
}

.messageListItem_d5deea + .header_b385c8.header_b385c8 {
    background-color: transparent;
    justify-content: center;
}

.container_b385c8 {
    background: none;
    border: none;
    margin: 0 0 0 16px;
    width: calc(100% - 16px);
    box-sizing: border-box;
    justify-content: center;

    // when section is near top of screen
    &.header_b385c8 {
        box-shadow: none;
        background-color: var(--nox-level2);
        border-radius: 0 0 6px 6px;
        justify-content: space-between;
    }

    .buttons_b385c8{
        border-radius: 2px;
        gap: 16px;
    }

    .addReactButton_b385c8,
    .buttonInner_b385c8 {
        background-image: none;
        background-color: var(--nox-white1);
        border-radius: 4px;
        border: none;
        color: var(--nox-white7);

        &:hover {
            background-color: var(--nox-white2);
            color: var(--nox-white9);
        }

        &:active {
            background-color: var(--nox-level1-5);
        }

        // following post
        &.active_b385c8 {
            color: var(--nox-accent);
        }
    }
}

// new badge
.newBadge_d331f1 {
    background-color: var(--nox-accent) !important;
    color: var(--nox-white);
    font-weight: 600;
}

// new posts button
.newPostsButton_a6d69a {
    background-color: var(--nox-accent);
    border: none;
    box-shadow: $elevation-shadow;
    height: unset;
    padding: 0;

    .text-md-medium_a84e09 {
        color: var(--nox-white) !important;
        padding: 4px 16px;
        font-weight: 600;
    }
}

// new posts indicator in channel list
.channelInfo_f6f816  .text-xs-semibold__767f1 {
    --text-brand: var(--nox-accent);
}