.expandedInboxHeader_f0cd33 {
    .inboxIcon_f0cd33,
    .inboxTitle_f0cd33 {
        color: var(--nox-white7);
    }
}

.topPill_a0 {
    .tab_f0cd33.selected_a0.selected_a0.selected_a0.selected_a0 {
        background-color: var(--nox-white1);
    }

    .tab_f0cd33.tab_f0cd33.tab_f0cd33:hover {
        background-color: rgba(255, 255, 255, .05);
    }
}

.friendRequestsButton_c0c071,
.button__292b6.secondary__45d4f { // filter button
    background-color: var(--nox-white1);
    color: var(--nox-white6);
    &:hover {
        background-color: var(--nox-white2);
    }
}

.container_fe1358 {
    background-color: var(--nox-level1);
}

.body_fd8ff1 {
    .text-md-normal__6e567,
    .text-xs-medium_d3e0f1 {
        color: var(--nox-white6) !important;
    }
}

.recentMentionsPopout_ddb5b4 {
    .channelHeader_f3978e {
        background: var(--nox-level2);
        box-shadow: -2px 2px 4px rgba(0,0,0,.4);
    }

    .messageContainer_ddb5b4 {
        background: var(--nox-level1);
        border: none;
        border-radius: 3px;
        margin-right: 2px;
    }

    .message_ddb5b4 {
        background: rgba(0 0 0 / 10%);
        margin: 12px 16px 12px 72px;
        padding: 0 7px 2px 10px;
        overflow: visible;

        &::before {
            box-sizing: border-box;
            content: "";
            width: 0;
            height: 0;
            left: -20px;
            display: block;
            position: relative;
            border-style: solid;
            border-width: 0 10px 10px 0;
            border-color: rgba(0,0,0,0) rgba(0,0,0,.1) rgba(0,0,0,0) rgba(0,0,0,0);
        }

        .avatar_ec86aa {
            left: -60px;
            top: 0;
        }
    }
}