.chat-9g_3Xj .messagesWrapper-RpOMA3 {
    background: var(--nox-level1);
    margin-bottom: 8px;
}

// message loading placeholder
.wrapper-3HVHpV {
    background: none;
}

.wrapper-15CKyy {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 7px .25rem 10px !important;
    margin: 0 40px 0 80px;
    position: static;
}

.wrapper-15CKyy .contents-1UYEBX {
    position: relative;
}

.wrapper-15CKyy .avatar-l9Txm5 {
    left: -70px;
    top: -10px;
    margin: 0;
}

.wrapper-15CKyy:has(.avatar-l9Txm5)::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

// codeblocks
.markup-eYLPri code {
    background: var(--nox-level2);
    border-color: var(--nox-level3);
    border-radius: 2px;
}

// timestamp
.timestamp-6-ptG3 {
    background-color: rgba(255, 255, 255, .1);
}

// inline code
.markup-eYLPri code.inline {
    border-radius: 2px;
}
.after_inlineCode-2_JXPm,
.before_inlineCode-1zngJj,
.inlineCode-ERyvy_{
    background: var(--nox-level2);
}

.blockquoteDivider-363utW {
    background-color: var(--nox-black3);
}