.chat__52833 .messagesWrapper_ea2b0b {
    background: var(--nox-level1);
    margin-bottom: 8px;
}

// message loading placeholder
.wrapper__3d460 {
    background: none;
}

.wrapper__5c5cd {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 7px .25rem 10px !important;
    margin: 0 40px 0 80px;
    position: static;
}

.wrapper__5c5cd .contents__15d74 {
    position: relative;
}

.wrapper__5c5cd .avatar_eb6eba {
    left: -70px;
    top: -10px;
    margin: 0;
}

.wrapper__5c5cd:has(.avatar_eb6eba)::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

// codeblocks
.markup_a7e664 code {
    background: var(--nox-level2);
    border-color: var(--nox-level3);
    border-radius: 2px;
}

// timestamp
.timestamp_a65714 {
    background-color: rgba(255, 255, 255, .1);
}

// inline code
.markup_a7e664 code.inline {
    border-radius: 2px;
}
.after_inlineCode__2197d,
.before_inlineCode__37e14,
.inlineCode_d702a4{
    background: var(--nox-level2);
}

.blockquoteDivider__96157 {
    background-color: var(--nox-black3);
}