.message_d5deea.cozy_ec86aa {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 7px .25rem 10px !important;
    margin: 0 40px 0 80px;
    // overflow: visible;
}

.message_d5deea.groupStart_d5deea {
    margin-top: 20px;
}

.message_d5deea .contents_ec86aa {
    position: relative;
}

.groupStart_d5deea::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

.message_d5deea .avatar_ec86aa {
    left: -70px;
    top: -10px;
    margin: 0;
}


.repliedMessage_ec86aa:before {
    content: none;
}

.replying_d5deea::before,
.ephemeral_d5deea::before {
    background: none;
}

.replying_d5deea .messageContent_ec86aa {
    position: relative;
    padding-left: 8px;
    margin-left: -10px;
    border-left: 2px solid var(--nox-accent);
}

.messageListItem_d5deea .hasReply_ec86aa .avatar_ec86aa {
    top: -30px;
}

.message_d5deea .avatarDecoration_ec86aa {
    left: -74px;
    top: -12px;
}

.message_d5deea.hasReply_ec86aa .avatarDecoration_ec86aa {
    top: -32px;
}

.repliedMessage_ec86aa {
    top: -3px;
    color: var(--nox-white5);
}

.timestamp_ec86aa.timestampVisibleOnHover_ec86aa.alt_ec86aa {
    left: -70px;
}
.timestamp_ec86aa.timestampInline_ec86aa,
.timestamp_ec86aa.timestampVisibleOnHover_ec86aa.alt_ec86aa {
    color: var(--nox-white2);
}

.message_d5deea.selected_d5deea,
.message_d5deea.message_d5deea.message_d5deea:hover {
    background-color: rgba(2, 2, 2, 0.06);
}
.groupStart_d5deea.selected_d5deea::before,
.groupStart_d5deea:hover::before {
    border-color: rgba(0,0,0,0) rgba(2,2,2,0.06) rgba(0,0,0,0) rgba(0,0,0,0);
}

// mentioned
.mentioned_d5deea::before {
    background: none;
}
.message_d5deea.mentioned_d5deea .messageContent_ec86aa {
    position: relative;
    padding-left: 3px;
    margin-left: -4px;
    background: rgba(250,166,26,.1);
    border-left: 4px solid rgb(250,166,26);
    border-radius: 2px;
}
.message_d5deea.mentioned_d5deea:hover .messageContent_ec86aa,
.message_d5deea.selected_d5deea.mentioned_d5deea .messageContent_ec86aa {
    background: rgba(250,166,26,.15);
}

// mentions
.roleMention_d6076c {
    border-radius: 2px;
}

.mention,
.roleMention_d6076c:not([style]),
.channelMention {
    position: relative;
    color: var(--nox-accent);
    background: none;

    &::after {
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        opacity: 0.15;
        background-color: var(--nox-accent);
        border-radius: 2px;
    }
    
    &:hover {
        color: var(--nox-white);
        background: none;

        &::after {
            opacity: 1;
        }
    }
}

// reactions
.reaction_f61c73, // forums
.reaction_ec6b19 {
    background: var(--nox-white1);
    border-radius: 4px;
    border: none !important;
}

.reaction_f61c73:hover, // forums
.reaction_ec6b19:hover {
    background: var(--nox-black1);
}

.reaction_f61c73.reactionMe_f61c73, // forums
.reaction_ec6b19.reactionMe_ec6b19 {
    background: var(--nox-accent);
}

.reaction_f61c73 .reactionCount_f61c73, // forums
.reaction_ec6b19 .reactionCount_ec6b19 {
    color: var(--nox-white);
}

.reaction_f61c73.reactionMe_f61c73 .emoji, // forums
.reaction_ec6b19.reactionMe_ec6b19 .emoji {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}