.message_ccca67.cozy_f5c119 {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 7px .25rem 10px !important;
    margin: 0 40px 0 80px;
    // overflow: visible;
}

.message_ccca67.groupStart__7b93c {
    margin-top: 20px;
}

.message_ccca67 .contents_d3ae0d {
    position: relative;
}

.groupStart__7b93c::before {
    content: "";
    width: 0;
    height: 0;
    left: -20px;
    top: 0;
    display: block;
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}

.message_ccca67 .avatar__08316 {
    left: -70px;
    top: -10px;
    margin: 0;
}


.repliedMessage__636d2:before {
    content: none;
}

.replying__38514::before,
.ephemeral_eb5d84::before {
    background: none;
}

.replying__38514 .messageContent_abea64 {
    position: relative;
    padding-left: 8px;
    margin-left: -10px;
    border-left: 2px solid var(--nox-accent);
}

.messageListItem__050f9 .hasReply__602e2 .avatar__08316 {
    top: -30px;
}

.message_ccca67 .avatarDecoration__8a0c2 {
    left: -74px;
    top: -12px;
}

.message_ccca67.hasReply__602e2 .avatarDecoration__8a0c2 {
    top: -32px;
}

.repliedMessage__636d2 {
    top: -3px;
}

.timestamp_c79dd2.timestampVisibleOnHover__1679f.alt__6c563 {
    left: -70px;
}
.timestamp_c79dd2.timestampInline__430cf,
.timestamp_c79dd2.timestampVisibleOnHover__1679f.alt__6c563 {
    color: var(--nox-white2);
}

.message_ccca67.selected_e3bc5d,
.message_ccca67.message_ccca67.message_ccca67:hover {
    background-color: rgba(2, 2, 2, 0.06);
}
.groupStart__7b93c.selected_e3bc5d::before,
.groupStart__7b93c:hover::before {
    border-color: rgba(0,0,0,0) rgba(2,2,2,0.06) rgba(0,0,0,0) rgba(0,0,0,0);
}

// mentions
.mentioned_fa6fd2::before {
    background: none;
}
.message_ccca67.mentioned_fa6fd2 .messageContent_abea64 {
    position: relative;
    padding-left: 3px;
    margin-left: -4px;
    background: rgba(250,166,26,.1);
    border-left: 4px solid rgb(250,166,26);
    border-radius: 2px;
}
.message_ccca67.mentioned_fa6fd2:hover .messageContent_abea64,
.message_ccca67.selected_e3bc5d.mentioned_fa6fd2 .messageContent_abea64 {
    background: rgba(250,166,26,.15);
}

// reactions
.reaction__4a43f {
    background: var(--nox-white1);
    border-radius: 4px;
    border: none !important;
}

.reaction__4a43f:hover {
    background: var(--nox-black1);
}

.reaction__4a43f.reactionMe__0fffc {
    background: var(--nox-accent);
}

.reaction__4a43f .reactionCount__2c34d {
    color: var(--nox-white);
}

.reaction__4a43f.reactionMe__0fffc .emoji {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}