.messagesPopoutWrap_ac90a2 {
    background-color: var(--nox-level2);
}
.header_ac90a2 {
    background-color: var(--nox-level2);
    box-shadow: none;
}
.footer_ac90a2 {
    background-color: var(--nox-level3);
}

.messageGroupWrapper_ac90a2 {
    background: var(--nox-level1);
    border: none;
    border-radius: 3px;
    margin-right: 2px;

    .messageGroupCozy_ac90a2 {
        background: rgba(0 0 0 / 10%);
        margin: 12px 16px 12px 72px;
        padding: 0 7px 2px 10px;
    }

    .messageGroupCozy_ac90a2::before {
        content: "";
        width: 0;
        height: 0;
        left: -20px;
        display: block;
        position: relative;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: rgba(0,0,0,0) rgba(0,0,0,.1) rgba(0,0,0,0) rgba(0,0,0,0);
    }
    
    .avatar_f9f2ca {
        left: -60px;
        top: 0;
    }
    .avatarDecoration_f9f2ca {
        left: -64px;
        top: 0;
    }
}
