.searchBar_a46bef {
    background: var(--nox-level2);
}

.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root,
.icon_effbe2 {
    color: var(--nox-white3);
}

.searchBar_a46bef .searchAnswer_b0fa94,
.searchBar_a46bef .searchFilter_b0fa94 {
    background: rgba(255 255 255 / 10%);
    padding-left: 0;
    margin-left: 0;
}

.searchFilter_b0fa94:first-child {
    padding-left: 2px;
    margin-left: -2px;
}

// search options popouts (could also do other popouts)
.container_eedf95 {
    background: var(--nox-level3);
    box-shadow: 0px 5px 10px rgba(0 0 0 / 40%);
}

.searchOption_b0286e {
    .filter_b0286e {
        color: var(--nox-white6);
    }
    .answer_b0286e {
        color: var(--nox-white4);
        font-weight: 400;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);;
        .filter_b0286e {
            color: var(--nox-white9);
        }
        .answer_b0286e {
            color: var(--nox-white6);
        }
    }
}

.container_eedf95 .option_b0286e:after {
    background: none;
}

.container_eedf95 .queryContainer_eedf95 {
    background: var(--nox-level2);
    border: none;
}
.resultsGroup_b0286e {
    .header_b0286e,
    .searchLearnMore_b0286e {
        color: var(--nox-white7);
        font-weight: 700;
    }
    
    .searchLearnMore_b0286e:hover {
        color: var(--nox-white9);
    }
    
    &::before {
        content: none;
    }
}

// results pane
.searchResultsWrap_c2b47d,
.searchHeader_b7c924 {
    background-color: var(--nox-level2);
}

// indexing spinner
.path2_b6db20.path2_b6db20,
.path3_b6db20.path3_b6db20,
.path_b6db20.path_b6db20 {
    stroke: var(--nox-accent);
}

.searchResult_ddc613 {
    border-radius: 3px;
    background: var(--nox-level1);

    .wrapper_ec86aa {
        background: rgba(0 0 0 / 10%);
        margin: 0 16px 0 72px;
        padding: 0 7px 2px 10px;
    }

    .wrapper_ec86aa::before {
        content: "";
        width: 0;
        height: 0;
        left: -20px;
        display: block;
        position: relative;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: rgba(0,0,0,0) rgba(0,0,0,.1) rgba(0,0,0,0) rgba(0,0,0,0);
    }

    .avatar_ec86aa {
        left: -60px;
        top: 0;
    }
    .avatarDecoration_ec86aa {
        left: -64px;
        top: 0;
    }
}
