.searchBar_c322aa {
    background: var(--nox-level2);
    border: 0;
    border-radius: 2px;
}

.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root.public-DraftEditorPlaceholder-root,
.icon_fea832 {
    color: var(--nox-white3);
}

.searchBar_c322aa .searchAnswer_bd8186,
.searchBar_c322aa .searchFilter_bd8186 {
    margin-left: 0;
    padding-left: 0;
    background: rgba(255 255 255 / 10%);
}

.searchFilter_bd8186:first-child {
    margin-left: -2px;
    padding-left: 2px;
}

// search options popouts (could also do other popouts)
.container__16eb0 {
    background-color: var(--nox-level3);
    border: 0;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
}
.groupWrapper__971b5 {
    gap: 0;
}
.groupHeader__971b5 {
    --text-subtle: var(--nox-white8)
}
.itemContainer__971b5 {
    border-radius: 0;

    &:nth-child(2) {
        border-radius: 2px 2px 0 0;
    }
    &:last-child {
        border-radius: 0 0 2px 2px;
    }

    --text-default: var(--nox-white9);
    --text-strong: var(--nox-white6);
    --text-subtle: var(--nox-white6);
    --text-muted: var(--nox-white4);
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        --text-default: var(--nox-white);
        --text-strong: var(--nox-white9);
        --text-subtle: var(--nox-white9);
        --text-muted: var(--nox-white6);
    }
}
.answerPill__971b5,
.filterPill__971b5 {
    background-color: var(--nox-level1);
}

.container__55c99 .option__16eb0::after {
    background: none;
}

.container__55c99 .queryContainer__55c99 {
    border: 0;
    background: var(--nox-level2);
}
.searchResultGroup_a7e67f {
    .header__16eb0,
    .searchLearnMore__16eb0 {
        color: var(--nox-white7);
        font-weight: 700;
    }
    
    .searchLearnMore__16eb0:hover {
        color: var(--nox-white9);
    }
    
    &::before {
        content: none;
    }
}

// results pane
.searchResultsWrap_a98f3b,
.searchHeader_ae7890 {
    background-color: var(--nox-level2);
}

// indexing spinner
.path2__46696.path2__46696,
.path3__46696.path3__46696,
.path__46696.path__46696 {
    stroke: var(--nox-accent);
}

.searchResult__80bf8 {
    border-radius: 3px;
    background: var(--nox-level1);

    .wrapper_c19a55 {
        margin: 0 16px 0 72px;
        padding: 0 7px 2px 10px;
        background: rgba(0 0 0 / 10%);
    }

    .wrapper_c19a55::before {
        content: "";
        display: block;
        position: relative;
        left: -20px;
        width: 0;
        height: 0;
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .avatar_c19a55 {
        top: 0;
        left: -60px;
    }
    .avatarDecoration_c19a55 {
        top: 0;
        left: -64px;
    }
}

.messageSpine_c19a55:before {
    content: none;
}
