// thread icon
.iconContainer_e62b38 {
    left: -85px;
    right: unset;
}

.hasThread_ec86aa.hasThread_ec86aa {
    // line pointing to thread    
    &::after{
        content: none;
    }

    // non link thread header text
    .container_e62b38 {
        color: var(--nox-white4);
    }

    .anchor_af404b {
        color: var(--nox-white8);
    }
}

// thread attachement box
.systemMessageContainer_c15230 {
    background-color: var(--nox-level2);
    border-radius: 2px;

    // title
    .name_c15230 {
        color: var(--nox-white8);
    }
    // message
    .bottomLine_c15230 {
        color: var(--nox-white4);
    }
    // timestamp
    .timestamp_c15230 {
        color: var(--nox-white3);
    }
}

// split view
.threadSidebarOpen_a7d72e.threadSidebarOpen_a7d72e,
.container_d1c246 {
    border-radius: 0;
}
section.chatContent_a7d72e {
    background: var(--nox-level1);
}
.resizeHandle_d1c246 {
    background: var(--nox-level3);
}