.container_fc4f04.themed_fc4f04 {
    background: var(--nox-level3);
}

// Remove stupid gradient
.children_fc4f04::after {
    display: none;
}

// channel description
.topic_bf3bbb {
    color: var(--nox-white4);
}

.selected_fd6364 .header_fd6364,
.clickable_fd6364 .header_fd6364:hover {
    background-color: rgba(255,255,255, 0.05);
}