.container_e44302.themed_e44302 {
    background: var(--nox-level3);
}

// Remove stupid gradient
.children_e44302::after {
    display: none;
}

// channel description
.topic_bf3bbb {
    color: var(--nox-white4);
}

.selected_fd6364 .header_fd6364,
.clickable_fd6364 .header_fd6364:hover {
    background-color: rgba(255,255,255, 0.05);
}