// remove top border
.container__133bf {
    border: 0;
}

.tabBody__133bf {
    background: var(--nox-level1);
}

// toolbar
.icon__9293f {
    color: var(--nox-white4);
}
.title__9293f {
    color: var(--nox-white7);
}
.item__133bf.item__133bf {
    border-radius: 4px;
    color: var(--nox-white4);
}
.item__133bf.item__133bf.item__133bf:hover {
    background-color: rgb(255 255 255 / 5%);
    color: var(--nox-white6);
}
.item__133bf.item__133bf.item__133bf.selected_aa8da2 {
    background-color: var(--nox-white1);
    color: var(--nox-white9);
}
.addFriend__133bf.addFriend__133bf.addFriend__133bf.addFriend__133bf {
    background-color: var(--nox-accent);
    color: var(--nox-white9);

    &:hover {
        background-color: hsl(from var(--nox-accent) h calc(s * .7) calc(l * .7));
        color: var(--nox-white9);
    }
    
    &[aria-selected=true] {
        background-color: hsl(from var(--nox-accent) h s l / 15%);
        color: hsl(from var(--nox-accent) h s calc(l * 1.1));
    }
}

// search bar
.searchBar__5ec2f {
    margin-right: 24px;
    .wrapper__72c38 {
        border: 0;
        border-radius: 4px;
        background: var(--nox-level3);
    }
}
.input_a45028 {
    color: var(--nox-white6);
}
.input_a45028::placeholder {
    color: var(--nox-white3);
}
.icon_a45028 {
    color: var(--nox-white4);
}
.iconLayout_a45028:hover .clear_a45028 {
    color: var(--nox-white9);
}

// friend list
.peopleListItem_cc6179.peopleListItem_cc6179.peopleListItem_cc6179 {
    margin: 0 10px 0 20px;
    padding: 16px 10px;
    // border-radius: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.peopleListItem_cc6179.peopleListItem_cc6179:hover {
    // margin-bottom: 16px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.03);
}
.sectionTitle__5ec2f+.peopleListItem_cc6179 {
    border-radius: 4px 4px 0 0;
}
.peopleListItem_cc6179:last-child {
    border-radius: 0 0 4px 4px;
}

.avatar__0a06e {
    align-self: center;
}
.title__1472a,
.username__0a06e {
    color: var(--nox-white6);
}
.discriminator__0a06e,
.subtext__0a06e {
    color: var(--nox-white4);
}
.actionButton_f8fa06,
.actionButton_f8fa06.highlight_f8fa06 {
    background-color: var(--nox-black4);
    color: var(--nox-white6);
}
.actionButton_f8fa06:hover {
    background-color: var(--nox-black6);
    color: var(--nox-white9);
}

// activity section
.nowPlayingColumn__133bf,
.container__7d20c {
    background: none;
}

.scroller__7d20c.scroller__7d20c {
    border-left-color: rgba(255, 255, 255, 0.05);
}
.scroller__7d20c .defaultColor__4bd52 {
    color: var(--nox-white7);
}
.itemCard__7e549.itemCard__7e549 {
    border: 0;
    border-radius: 4px;
    background-color: var(--nox-black4);
}
.body__00943.body__00943 {
    background: none;
}
.section__00943.section__00943 {
    background-color: var(--nox-white1);
}
.theme-dark .outer_bf1984.interactive_bf1984:hover {
    background-color: var(--nox-black2);
}
.itemCard__7e549 .defaultColor__4bd52 {
    color: var(--nox-white6);
}
.itemCard__7e549 .text-sm\/normal_cf4812.textContent__00943 {
    color: var(--nox-white4) !important;
}
.section__00943 .textContent__00943 {
    color: var(--nox-white7);
}

.tabBody__133bf .image__08515 {
    filter: grayscale(1);
}

// add friend section
#add_friend-tab .title_b717a1 {
    color: var(--nox-white7);
}
.description_ddd181,
.labelDescriptor_ddd181,
.text__0e310,
.title__496be {
    color: var(--nox-white4);
}
.addFriendInputWrapper__72ba7 {
    border: 0;
    border-radius: 4px;
    background-color: var(--nox-level2);
}
.input__72ba7 {
    color: var(--nox-white6);
    letter-spacing: normal;
}
.input__72ba7::placeholder {
    color: var(--nox-white2);
}
.container_a14595 {
    border: 0;
    border-radius: 4px;
    background-color: var(--nox-black4);
}
.container_a14595:hover {
    background-color: var(--nox-black2);
}
.container_a14595:active {
    background-color: var(--nox-black1);
}
.container_a14595 .icon_a14595 {
    border-radius: 50%;
}
.container_a14595:last-child .icon_a14595 {
    filter: brightness(93%) hue-rotate(93deg) saturate(170%);
}
.container_a14595 .text_a14595,
.arrow_a14595 {
    color: var(--nox-white4);
}
.container_a14595:hover .text_a14595,
.container_a14595:hover .arrow_a14595,
.container_a14595:active .text_a14595,
.container_a14595:active .arrow_a14595 {
    color: var(--nox-white6);
}