.container_c2739c,
.container_bf550a {
    background: var(--nox-level1);
}

// toolbar
.icon_fc4f04 {
    color: var(--nox-white4);
}
.title_fc4f04 {
    color: var(--nox-white7);
}
.tabBar_c2739c .item_c2739c.item_c2739c.selected_a0,
.tabBar_c2739c .item_c2739c.item_c2739c.selected_a0:hover
 {
    background-color: var(--nox-white1);
}
.themed_a0.item_c2739c {
    color: var(--nox-white4);
}
.themed_a0.item_c2739c:hover {
    color: var(--nox-white6);
}
.tabBar_c2739c .themed_a0.item_c2739c:hover:not(.disabled_a0):not(.addFriend_c2739c) {
    background-color: rgba(255, 255, 255, 0.05);
}
.item_c2739c.selected_a0,
.item_c2739c.selected_a0:hover {
    color: var(--nox-white9);
}
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c,
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c:hover {
    background-color: var(--nox-accent);
    color: var(--nox-white9);
}
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c[aria-selected=true],
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c[aria-selected=true]:hover {
    background-color: transparent;
    color: var(--nox-accent);
}

// search bar
.searchBar_e0840f {
    margin-left: 20px;
    margin-right: 25px;
    background: var(--nox-level3);
}
.input__48d49 {
    color: var(--nox-white6);
}
.input__48d49::placeholder {
    color: var(--nox-white3);
}
.icon_fb52f0 {
    color: var(--nox-white4);
}
.iconLayout__67261:hover .clear__9f79a {
    color: var(--nox-white9);
}

// friend list
.peopleListItem_d51464 {
    margin: 0 10px 0 20px;
    padding: 16px 10px;
    // border-radius: 0;
    border-top: none;
    background-color: rgba(0,0,0,.1);
}
.peopleListItem_d51464:hover {
    // margin-bottom: 16px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.03);
}
.peopleListItem_d51464:nth-child(2) {
    border-radius: 4px 4px 0 0;
}
.peopleListItem_d51464:last-child {
    border-radius: 0 0 4px 4px;
}
.title_a1cafe,
.username_f3939d {
    color: var(--nox-white6);
}
.discriminator_f3939d,
.subtext_f3939d {
    color: var(--nox-white4);
}
.actionButton_e01b91,
.actionButton_e01b91.highlight_e01b91 {
    background-color: var(--nox-black4);
    color: var(--nox-white6);
}
.actionButton_e01b91:hover {
    background-color: var(--nox-black6);
    color: var(--nox-white9);
}

// activity section
.scroller_bf550a {
    border-left-color: rgba(255, 255, 255, 0.05);
}
.scroller_bf550a .defaultColor_e9e35f {
    color: var(--nox-white7);
}
.itemCard_f02fcf {
    border: none;
    background-color: var(--nox-black4);
    border-radius: 4px;
}
.body_cd82a7.body_cd82a7 {
    background: none;
}
.section_cd82a7 {
    background-color: var(--nox-white1);
}
.section_cd82a7:first-child {
    border-radius: 4px 4px 0 0;
}
.section_cd82a7:last-child {
    border-radius: 0 0 4px 4px;
}
.section_cd82a7:only-child {
    border-radius: 4px;
}
.theme-dark .outer_c0f6a6.interactive_c0f6a6:hover {
    background-color: var(--nox-black2);
}
.itemCard_f02fcf .defaultColor__77578 {
    color: var(--nox-white6);
}
.itemCard_f02fcf .text-sm-normal__95a78.textContent_cd82a7 {
    color: var(--nox-white4) !important;
}
.section_cd82a7 .textContent_cd82a7 {
    color: var(--nox-white7);
}

.tabBody_c2739c .image__08515 {
    filter: grayscale(1);
}

// add friend section
#add_friend-tab .title_c46f6a {
    color: var(--nox-white7);
}
.description_b89ec7,
.labelDescriptor_b89ec7,
.text__0e310,
.title__496be {
    color: var(--nox-white4);
}
.addFriendInputWrapper_de812f {
    background-color: var(--nox-level2);
    border: none;
    border-radius: 4px;
}
.input_de812f {
    color: var(--nox-white6);
    letter-spacing: normal;
}
.input_de812f::placeholder {
    color: var(--nox-white2);
}
.container_aef5fd{
    border: none;
    background-color: var(--nox-black4);
    border-radius: 4px;
}
.container_aef5fd:hover {
    background-color: var(--nox-black2);
}
.container_aef5fd:active {
    background-color: var(--nox-black1);
}
.container_aef5fd .icon_aef5fd {
    border-radius: 50%;
}
.container_aef5fd:last-child .icon_aef5fd {
    filter: brightness(93%) hue-rotate(93deg) saturate(170%);
}
.container_aef5fd .text_aef5fd,
.arrow_aef5fd {
    color: var(--nox-white4);
}
.container_aef5fd:hover .text_aef5fd,
.container_aef5fd:hover .arrow_aef5fd,
.container_aef5fd:active .text_aef5fd,
.container_aef5fd:active .arrow_aef5fd {
    color: var(--nox-white6);
}