.members__9f47b,
.members__9f47b > div,
.container_b2ce9c,
.member_aa4760 {
    background: var(--nox-level2);
}

.container_b2ce9c {
    z-index: $channels-elevation;
    box-shadow: $elevation-shadow;
    background: var(--nox-level2);
}