.content-3dzVd8 .attachment-33OFj0 {
    background: var(--nox-level2);
    border: none;
}

.container-1YxwTf .applicationTile-1Goy1W {
    background: var(--nox-level2);
    border-radius: 3px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-1YxwTf .applicationTile-1Goy1W:hover {
    background: var(--nox-level3);
}