// Unread message divider
.messagesWrapper-1sRNjr .divider-3_HH5L.isUnread-3Ef-o9 {
    margin-bottom: 0px;
    margin-top: 23px;
    // top: 5px;
    border-top: thin solid #f04747;
}

// Move pill to outside message bg
.unreadPill-2HyYtt, .unreadPillCap-3_K2q2 {
    right: -3px;
}

// Fix spacing issues from unread message divider
.messageListItem-1-jvGY + .isUnread-3Ef-o9:not(.hasContent-1cNJDh) {
    margin-top: -1px;
}

// Make unread dates readable
.messagesWrapper-1sRNjr .divider-3_HH5L.isUnread-3Ef-o9 .content-1o0f9g {
    background: #2b2b2b;
}

// Remove date dividers borders
.messagesWrapper-1sRNjr .divider-3_HH5L {
    border: none;
}

// Adjust date divider labels
.messagesWrapper-1sRNjr .divider-3_HH5L .content-1o0f9g {
    background: rgba(0, 0, 0, .1);
    color: var(--nox-white3);
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: 500;
}