// Unread message divider
.messagesWrapper-RpOMA3 .divider-IqmEqJ.isUnread-3Lojb- {
    margin-bottom: 0px;
    margin-top: 23px;
    // top: 5px;
    border-top: thin solid #f04747;
}

// Move pill to outside message bg
.unreadPill-3nEWYM, .unreadPillCap-2-iI4h {
    right: -3px;
}

// Fix spacing issues from unread message divider
.messageListItem-ZZ7v6g + .isUnread-3Lojb-:not(.hasContent-31hcsn) {
    margin-top: -1px;
}

// Make unread dates readable
.messagesWrapper-RpOMA3 .divider-IqmEqJ.isUnread-3Lojb- .content-3spvdd {
    background: #2b2b2b;
}

// Remove date dividers borders
.messagesWrapper-RpOMA3 .divider-IqmEqJ {
    border: none;
}

// Adjust date divider labels
.messagesWrapper-RpOMA3 .divider-IqmEqJ .content-3spvdd {
    background: rgba(0, 0, 0, .1);
    color: var(--nox-white3);
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: 500;
}