.container-2sjPya .embed-hKpSrO .embedPill-1Zntps {
    display: none;
}

.container-2sjPya .embed-hKpSrO .embedPill-1Zntps[style] {
    height: calc(100% - 7px);
    width: 3px;
    position: absolute;
    top: 50%;
    left: 5px;
    z-index: 1;
    display: block!important;
    border-radius: 100px;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 0.9;
}

.container-2sjPya .embed-hKpSrO {
    position: relative
}

.theme-dark .container-2sjPya .embedPill-1Zntps[style]+ .embedInner-1-fpTo {
    padding-left: 16px;
    padding-right: 12px;
    border: none;
}

.embedThumbnail-2nTasl {
    transition: 300ms cubic-bezier(.2, .11, 0, 1);
}



/*-----EMBED VIDEO-----*/

.embedVideoActionsInner-2reMo2 {
    padding: 0!important;
    width: 100%;
    height: 100%;
    border-radius: 3px!important;
    background: rgba(0, 0, 0, .6)!important;
    transition: all 300ms cubic-bezier(.23, .01, 0, 1);
    overflow:hidden;
}

.embedVideoPlay-1r-B3h:first-of-type {
    width: 100%!important;
    height: 100%!important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTQuNXYtOWw2IDQuNS02IDQuNXoiLz48L3N2Zz4=)!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: 80px!important;
    transition: all 300ms cubic-bezier(.23, .01, 0, 1);
}

.embedVideoActionsInner-2reMo2:hover {
    background: rgba(0, 0, 0, .7)!important;
}

.embedVideoPlay-1r-B3h+.embedVideoPopout-304geM {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTkgMTlINVY1aDdWM0g1Yy0xLjExIDAtMiAuOS0yIDJ2MTRjMCAxLjEuODkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJ2LTdoLTJ2N3pNMTQgM3YyaDMuNTlsLTkuODMgOS44MyAxLjQxIDEuNDFMMTkgNi40MVYxMGgyVjNoLTd6Ii8+PC9zdmc+)!important;
    background-size: 100%!important;
    height: 25px!important;
    width: 25px!important;
}

.embedVideo-2ixt5A {
    transition: all 300ms cubic-bezier(.23, .01, 0, 1);
}

.change-log .embed .embedVideoActions-2XdFk2 {
    padding-bottom: 4px
}

.detTubeButton {
    position: absolute;
    right: 40px;
    bottom: 12px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxM2gydi0ySDN2MnptMCA0aDJ2LTJIM3Yyem0yIDR2LTJIM2MwIDEuMS44OSAyIDIgMnpNMyA5aDJWN0gzdjJ6bTEyIDEyaDJ2LTJoLTJ2MnptNC0xOEg5Yy0xLjExIDAtMiAuOS0yIDJ2MTBjMCAxLjEuODkgMiAyIDJoMTBjMS4xIDAgMi0uOSAyLTJWNWMwLTEuMS0uOS0yLTItMnptMCAxMkg5VjVoMTB2MTB6bS04IDZoMnYtMmgtMnYyem0tNCAwaDJ2LTJIN3YyeiIvPjwvc3ZnPg==)!important;
    background-size: 100%!important;
    height: 24px!important;
    width: 25px!important;
}

.embed .embedFields-2yHGHT{
    margin-top:0;
}
.embedVideo-2ixt5A iframe{
    width:100%!important;
}

.theme-dark .container-2sjPya .embed .embedFields-2yHGHT .embedFieldName-9LYSyR{
    padding-left:0px;
}

.embed .embedVideoActions-2XdFk2 .embedVideoPopout-304geM {
    background: url(/assets/7ff0938769e7e232f880731d45851b94.svg) no-repeat;
    margin-top: 2px
}


/*-----/EMBED VIDEO-----*/


.container-2sjPya .embed-hKpSrO {
    background-color: var(--nox-level2)!important;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.embed-hKpSrO::after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 3px;
    right: 5px;
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 3px;
    pointer-events: none;
}

.embed-hKpSrO .embedInner-1-fpTo {
    background: transparent;
}




/*-----EMBED AUDIO-----*/

.wrapperAudio-1Bzv_Z {
    background-color: var(--nox-level2)!important;
    border: none!important;
    border-radius: 3px!important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.audioControls-3fmemK {
    background: var(--nox-level3);
}

.audioMetadata-1Hrt8T:before {
    filter: grayscale(100%);
}



.mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317,
.mediaBarProgress-38I317::before,
.mediaBarProgress-38I317::after {
    background: var(--nox-accent);
}

.mediaBarGrabber-FvJKJg:active,
.mediaBarInteractionDragging-3XLL8k .mediaBarGrabber-FvJKJg,
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg {
    background: var(--nox-accent);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.mediaBarGrabber-FvJKJg:active {
    background: var(--nox-accent);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}


/*-----/EMBED AUDIO-----*/


/*-----EMBED FILE-----*/

.textContainer-36wgKK,
.footer-GXWBBp,
.modalTextContainer-1FUO2W {
    background-color: var(--nox-level2);
    border-color: var(--nox-level3);
}

// Language selector
.languageSelector-2e1IuO {
    background-color: var(--nox-level2);
    border-radius: 0;
}
.container-2oNtJn {
    background-color: var(--nox-level1);
    border-radius: 0;
    margin: 2px 2px 0 2px;
}
.input-2m5SfJ,
.icon-3CDcPB {
    color: var(--nox-white7);
}
.item-1BCeuB {
    border-radius: 2px;
    color: var(--nox-white4);
}
.focused-qp-W9B, .item-1BCeuB:hover {
    background-color: var(--nox-black2);
    color: var(--nox-white6);
}
.item-1BCeuB.selected-22ukbQ {
    background-color: var(--nox-black3);
    color: var(--nox-white9);
}
/*-----/EMBED FILE-----*/