// Parent container 
.scrollableContainer-38zsVD {
    background-color: unset;
}

.chat-2ZfjoI .content-1jQy2l form {
    background: var(--nox-level1);
    margin: 0;
    border: none!important;
    margin: 0;
    box-shadow: rgba(0, 0, 0, .1) 0 0 20px;
    padding: 0;
}

.chat-2ZfjoI .content-1jQy2l form::before {
    content:none;
}

.inner-NQg18Y {
    border-radius:0;
    box-sizing: border-box;
    transition: all 200ms ease;
    min-height:70px;
    padding-bottom: 13px;
}

.emojiButton-3FRTuj .sprite-2lxwfc {
    display: none
}

.emojiButton-3FRTuj {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQgOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5LjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0LjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3ZnPg==)!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    background-color: transparent!important;
    transition: all 100ms ease;
    width: 50px;
}

form .channelTextArea-1FufC0 {
    margin: 0;
    padding: 0;
    border: 0!important;
    border-radius: 0;
    background: none;
}
//.textArea-2CLwUE
.channelTextArea-1VQBuV .scrollableContainer-15eg7h {
    background: var(--nox-level2);
}
.channelTextArea-1FufC0 .scrollableContainer-15eg7h {
    // max-height: 400px!important;
    // overflow-y: scroll!important;
    background: #3A3A3A;
    border-radius: 0;
}
form .textArea-2CLwUE {
    // max-height: 400px!important;
    // overflow-y: scroll!important;
    margin-top: 0;
    margin-bottom: 0;
    padding: 13px 25px 0px 10px;
    padding-right: 25px;
    padding-left: 10px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    overflow:hidden;
    letter-spacing: normal;
    min-height:18px;
    transition: all 200ms ease;
    margin:0;
    color: rgba(255,255,255,.7);
    background: none;
}

// .inner-NQg18Y:hover .textArea-2CLwUE{
//     color: rgba(255,255,255,.8);
//     opacity: 1!important;
//     transition: all 200ms ease;
// }

// .inner-NQg18Y .textArea-2CLwUE:focus {
//     color: rgba(255,255,255,1);
//     opacity: 1!important;
//     transition: all 200ms ease;
// }

.theme-dark .attachButtonDivider-3Glu60{
    display: none;
}

.attachWrapper-3slhXI {
    align-self: unset;
    top: 13px;
    height: 44px;
}

.attachButton-_ACFSu,
.tipIcon-24kLNQ {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTIgMTIuNUMyIDkuNDYgNC40NiA3IDcuNSA3SDE4YzIuMjEgMCA0IDEuNzkgNCA0cy0xLjc5IDQtNCA0SDkuNUM4LjEyIDE1IDcgMTMuODggNyAxMi41UzguMTIgMTAgOS41IDEwSDE3djJIOS40MWMtLjU1IDAtLjU1IDEgMCAxSDE4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMkg3LjVDNS41NyA5IDQgMTAuNTcgNCAxMi41UzUuNTcgMTYgNy41IDE2SDE3djJINy41QzQuNDYgMTggMiAxNS41NCAyIDEyLjV6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==)!important;
}

.attachButton-_ACFSu {
    // position: absolute;
    // top:0;
    // left:0;
    // height:100%;
    // width:100%;
    padding:0 16px;
    opacity:0.24;
    background-color:transparent!important;
    background-size: 22px !important;
    background-position: 50% calc(50% - 2px)!important;
    background-repeat: no-repeat!important;
    margin:0;
    transition: all 200ms ease;
    box-shadow: none!important;
    transform: none!important;
}

.inner-NQg18Y:hover .attachButton-_ACFSu{
    opacity:.3;
    transition: all 200ms ease;
}

.attachButton-_ACFSu *{
    fill:transparent!important;
}

.inner-NQg18Y .attachButton-_ACFSu:hover{
    opacity:.9!important;
    transform: none;
    transition: all 100ms ease;
}

.tipSubtext-qn0l_- {
    color: var(--nox-white3)
}

.labelContainer-2vJzYL:hover .tipSubtext-qn0l_- {
    color: var(--nox-accent);
}

.tipIcon-24kLNQ {
    opacity: 0.3;
    background-size: 18px;
    background-repeat: no-repeat;
    color: transparent;
    position: relative;
    top: -1px;
    margin: 0 2px;
}

.labelContainer-2vJzYL:hover .tipIcon-24kLNQ {
    opacity: 1;
    background-image: none !important;
    background-color: var(--nox-accent);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTIgMTIuNUMyIDkuNDYgNC40NiA3IDcuNSA3SDE4YzIuMjEgMCA0IDEuNzkgNCA0cy0xLjc5IDQtNCA0SDkuNUM4LjEyIDE1IDcgMTMuODggNyAxMi41UzguMTIgMTAgOS41IDEwSDE3djJIOS40MWMtLjU1IDAtLjU1IDEgMCAxSDE4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMkg3LjVDNS41NyA5IDQgMTAuNTcgNCAxMi41UzUuNTcgMTYgNy41IDE2SDE3djJINy41QzQuNDYgMTggMiAxNS41NCAyIDEyLjV6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTIgMTIuNUMyIDkuNDYgNC40NiA3IDcuNSA3SDE4YzIuMjEgMCA0IDEuNzkgNCA0cy0xLjc5IDQtNCA0SDkuNUM4LjEyIDE1IDcgMTMuODggNyAxMi41UzguMTIgMTAgOS41IDEwSDE3djJIOS40MWMtLjU1IDAtLjU1IDEgMCAxSDE4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMkg3LjVDNS41NyA5IDQgMTAuNTcgNCAxMi41UzUuNTcgMTYgNy41IDE2SDE3djJINy41QzQuNDYgMTggMiAxNS41NCAyIDEyLjV6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    mask-size: 18px;
    -webkit-mask-size: 18px;
    // mask-mode: match-source;
}


.channelTextArea-1FufC0 .inner-NQg18Y>.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz{
    border-right-color: var(--nox-white0) !important;
    width: 80px;
    height:100%;
    visibility: visible;
    display: block!important;
    position: absolute;
    z-index: 2
}


form .buttons-uaqb-5 button > .contents-3ca1mk {
    color: white;
}

form .buttons-uaqb-5 {
    top:13px;
}

form .buttons-uaqb-5 button {
    top:0;
    right:0;
    opacity:0.24;
    transition: all 200ms ease;
}

form .buttons-uaqb-5 button:hover,
form .buttons-uaqb-5 button:active,
form .buttons-uaqb-5 button.active-z80xEj,
form .buttons-uaqb-5 button[aria-expanded="true"] {
      opacity:1;
      transition: all 100ms ease;
}
  .innerAutocomplete-1PN280{
      opacity: 1!important
  }
  .theme-dark .autocomplete-3NRXG8{
      background-color: #252525!important;
      border-radius: 0px;
      border-bottom: 0px;
      margin-bottom: 0px;
      margin-right: 20px;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
      margin-right:0;
      z-index:10;
      bottom: 100%
  }
  .iconForeground-2P-YQq{
      fill:var(--nox-white3);
  }
  .theme-dark .selectorSelected-1_M1WV{
      background-color: rgba(255,255,255,.05)!important;
      border-radius: 2px;
  }

  .textArea-2CLwUE::-webkit-scrollbar{
    display: none;
}

  .channelTextArea-1FufC0 .inner-NQg18Y>.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz~.textArea-2CLwUE{
    padding-left: 0;
    padding-left:80px;
  }

  .chat-2ZfjoI form .typing-2J1mQU {
    background: #333333 !important;
    bottom: 100%;
    padding-left: 20px;
    z-index: 0;
    animation: opacity 300ms ease;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -ms-transform: scale(1);
    transform: scale(1);
    width: auto;
    padding-right: 20px;
    padding-top: 0px;
    border-radius: 5px 5px 0 0;
    margin-left: 15px;
    color: var(--nox-white);
    box-shadow: 0 -3px 20px rgba(0, 0, 0, .1);
    opacity: .95;
    transition: all 200ms ease;
    overflow-y: visible!important;
	z-index: 5;
}

.typing-2J1mQU .text-3S7XCz {
    line-height: 26px
}

.typing-2J1mQU .ellipsis-1e7x0D {
    margin-left: 0;
    margin-right: 5px;
}

.chat-2ZfjoI form .typing-2J1mQU:hover {
    opacity: 1;
}






.listeningAlong-2UPsxf {
    box-shadow: 0 2px 20px rgba(0,0,0,.4);
    z-index:4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.1));
    background-color: var(--nox-level3);
    transition: all 500ms ease;
    border: none;
}

// .channelTextArea-1FufC0 .buttons-uaqb-5 {
//     position: absolute;
//     right: 0;
//     max-width: 80px;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
// }
.channelTextArea-1VQBuV button,
.channelTextArea-1FufC0 button {
    box-shadow: none!important;
    filter: none!important;
}

.channelTextArea-1VQBuV button,
.channelTextArea-1FufC0 .buttons-uaqb-5 button {
    background: none;
    margin: 0;
    box-shadow: none;
    padding: 6px;
    min-height: unset;
    transition: unset;
    border-radius: 0;
    height: 100%;
    width: 50px;
}

.channelTextArea-1VQBuV .buttonContainer-21MN7J,
.channelTextArea-1FufC0 .buttons-uaqb-5 .buttonContainer-21MN7J {
    height: 100%;
}

.channelTextArea-1VQBuV .button-2fCJ0o,
.channelTextArea-1FufC0 .buttons-uaqb-5 button .button-2fCJ0o {
    padding: 0;
}

// Reply bar
.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
    background: var(--nox-level2);
}
.attachedBars-2BCP3l {
    background: none;
}

// Inline code
.after_inlineCode-WydEur, .before_inlineCode-xn8Llh, .inlineCode-2auMQi {
    background: var(--nox-black3);
}

// Mardown popout
.toolbar-37BrJ5 {
    background: #1C1C1C;
}

.toolbar-37BrJ5:before {
    border-top-color: #1C1C1C;
}

.button-lA2rvH {
    padding: 0;
    background: none;
    border-radius: 0;
}

.button-lA2rvH:hover {
    transform: none;
    background: rgba(255, 255, 255, 0.15);
    
}