.chat-3bRxxu .content-yTz4x3 form {
    background: var(--nox-level1);
    margin: 0;
}

.emojiButton-3uL3Aw .sprite-2iCowe {
    display: none
}

.emojiButton-3uL3Aw {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQgOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5LjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0LjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3ZnPg==)!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    background-color: transparent!important;
    transition: all 100ms ease;
    width: 50px;
}

form .channelTextArea-rNsIhG {
    margin: 0;
    padding: 0;
    border: 0!important;
    background: #3A3A3A;
}

.textArea-2Spzkt{
    max-height: 400px!important;
    overflow-y: scroll!important;
    margin-top: 0;
    margin-bottom: 0;
    padding: 26px 0px;
    font-size: 0.875rem;
    line-height: 1.125rem;
    overflow:hidden;
    letter-spacing: normal;
    min-height:18px;
    transition: all 200ms ease;
    padding-right: 10px;
    opacity: 0.64;
    background: #3A3A3A!important;
    margin:0;
    color: rgba(255,255,255,.7);
  }
  .inner-zqa7da:hover .textArea-2Spzkt{
    color: rgba(255,255,255,.8);
    opacity: 1!important;
    transition: all 200ms ease;
  }
  .inner-zqa7da .textArea-2Spzkt:focus {
    color: rgba(255,255,255,1);
    opacity: 1!important;
    transition: all 200ms ease;
  }
  .inner-zqa7da{
    border-radius:0;
    box-sizing: border-box;
  }
  .theme-dark .attachButtonDivider-3Glu60{
      display: none;
  }
  
  .attachButton-1UjEWA {
      fill:transparent!important;
      position: absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      padding:0;
      opacity:0.24;
      background-color:transparent!important;
      background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTIgMTIuNUMyIDkuNDYgNC40NiA3IDcuNSA3SDE4YzIuMjEgMCA0IDEuNzkgNCA0cy0xLjc5IDQtNCA0SDkuNUM4LjEyIDE1IDcgMTMuODggNyAxMi41UzguMTIgMTAgOS41IDEwSDE3djJIOS40MWMtLjU1IDAtLjU1IDEgMCAxSDE4YzEuMSAwIDItLjkgMi0ycy0uOS0yLTItMkg3LjVDNS41NyA5IDQgMTAuNTcgNCAxMi41UzUuNTcgMTYgNy41IDE2SDE3djJINy41QzQuNDYgMTggMiAxNS41NCAyIDEyLjV6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==)!important;
      background-size: 21px !important;
      background-position: 50%!important;
      background-repeat: no-repeat!important;
      margin:0;
      transition: all 200ms ease;
      box-shadow: none!important;
      transform: none!important;
  }
  .inner-zqa7da:hover .attachButton-1UjEWA{
      opacity:.3;
      transition: all 200ms ease;
  }
  .attachButton-1UjEWA *{
      fill:transparent!important;
  }
  .inner-zqa7da .attachButton-1UjEWA:hover{
      opacity:.9!important;
      transform: none;
      transition: all 100ms ease;
  }
  .channelTextArea-1LDbYG .inner-zqa7da>.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6{
      border-right-color: var(--nox-white0) !important;
      width: 80px;
      height:100%;
      visibility: visible;
      display: block!important;
      position: absolute;
      z-index: 2
  }
  
  .theme-dark .inner-zqa7da{
      transition: all 200ms ease;
  }
  
  .theme-dark .channel-textarea-emoji{
      top:0;
      right:0;
      opacity:0.3;
  }
  .theme-dark .emojiButton-3uL3Aw{
      top:0;
      right:0;
      opacity:0.24;
      transition: all 200ms ease;
  }
//   .theme-dark .inner-zqa7da:hover .emojiButton-3uL3Aw{
//       opacity:0.3;
//       transition: all 200ms ease;
//   }
  
  .theme-dark .inner-zqa7da .emojiButton-3uL3Aw:hover,
  .theme-dark .inner-zqa7da .emojiButton-3uL3Aw:active,
  .theme-dark .inner-zqa7da .emojiButton-3uL3Aw.popout-open,
  .theme-dark .channel-textarea-emoji.popout-open,
  .theme-dark .channel-textarea-emoji:hover,
  .theme-dark .channel-textarea-emoji:active{
      opacity:1;
      transition: all 100ms ease;
  }
  .innerAutocomplete-1PN280{
      opacity: 1!important
  }
  .theme-dark .autocomplete-1vrmpx{
      background-color: #252525!important;
      border-radius: 0px;
      border-bottom: 0px;
      margin-bottom: 0px;
      margin-right: 20px;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
      margin-right:0;
      z-index:10;
  }
  .iconForeground-1w5n7R{
      fill:var(--nox-white3);
  }
  .theme-dark .selectorSelected-1_M1WV{
      background-color: rgba(255,255,255,.05)!important;
      border-radius: 2px;
  }

  .textArea-2Spzkt::-webkit-scrollbar{
    display: none;
}

.textArea-2Spzkt{
    padding-left: 25px;
  }
  .channelTextArea-1LDbYG .inner-zqa7da>.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6~.textArea-2Spzkt{
    padding-left: 0;
    padding-left:80px;
  }

  .chat-3bRxxu form .typing-2GQL18 {
    background: #333333 !important;
    bottom: 100%;
    padding-left: 20px;
    z-index: 0;
    animation: opacity 300ms ease;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -ms-transform: scale(1);
    transform: scale(1);
    width: auto;
    padding-right: 20px;
    padding-top: 0px;
    border-radius: 5px 5px 0 0;
    margin-left: 15px;
    color: var(--nox-white);
    box-shadow: 0 -3px 20px rgba(0, 0, 0, .1);
    opacity: .95;
    transition: all 200ms ease;
    overflow-y: visible!important;
	z-index: 5;
}

.typing-2GQL18 .text-1y-e8- {
    line-height: 26px
}

.typing-2GQL18 .ellipsis-19qdx6 {
    height: 31px
}

.chat-3bRxxu form .typing-2GQL18:hover {
    opacity: 1;
}



.theme-dark .chat-3bRxxu form {
    border: none!important;
    margin: 0;
    box-shadow: rgba(0, 0, 0, .1) 0 0 20px;
}






.listeningAlong-2UPsxf {
    box-shadow: 0 2px 20px rgba(0,0,0,.4);
    z-index:4;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.1));
    background-color: var(--nox-level3);
    transition: all 500ms ease;
    border: none;
}

// .channelTextArea-1LDbYG .buttons-205you {
//     position: absolute;
//     right: 0;
//     max-width: 80px;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
// }

.channelTextArea-1LDbYG .buttons-205you button {
    background: none;
    margin: 0;
    box-shadow: none;
    padding: 6px;
    min-height: unset;
    transition: unset;
    border-radius: 0;
    height: 100%;
    width: 50px;
}

.channelTextArea-1LDbYG .buttons-205you .buttonContainer-21MN7J {
    height: 100%;
}

.channelTextArea-1LDbYG .inner-zqa7da {
    align-items: center;
}

.channelTextArea-1LDbYG .buttons-205you button .button-2vd_v_ {
    padding: 0;
}
