.content-98HsJk {
    background: var(--nox-level3);
}

.threadSidebar-1o3BTy {
    margin-left: 4px;
}

.threadSidebar-1o3BTy,
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
    border-radius: 0;
}

.chat-3bRxxu, .threadSidebar-1o3BTy {
    background: var(--nox-level1);
}

.theme-dark .form-2fGMdU:before {
    background: none;
}

.threadSidebar-1o3BTy .form-2fGMdU {
    padding: 0;
}

.cozy-3raOZG.hasThread-2k82W0:after {
    left: -2.7rem !important;
    border-color: var(--nox-white2);
    border-bottom-left-radius: 2px;
}
.spine--Wla_O {
    color: var(--nox-white2);
}