.content-1SgpWY {
    background: var(--nox-level3);
}

.threadSidebar-1o3BTy {
    margin-left: 4px;
}

.threadSidebar-1o3BTy,
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    border-radius: 0;
}

.chat-2ZfjoI, .threadSidebar-1o3BTy {
    background: var(--nox-level1);
}

.theme-dark .form-3gdLxP:before {
    background: none;
}

.threadSidebar-1o3BTy .form-3gdLxP {
    padding: 0;
}

.cozy-VmLDNB.hasThread-3h-KJV:after {
    left: -2.7rem !important;
    border-color: var(--nox-white2);
    border-bottom-left-radius: 2px;
}
.spine-29OFwR {
    color: var(--nox-white2);
}

.container-3i3IzO {
    background: var(--nox-level2);
}
