// common
.userProfileModalOuter__90b4a {

    .userProfileModalInner__84e47 {
        background-size: 50%;
    }

    .topSection__2d8b8 {
        margin: 0;
        padding-bottom: 60px;
    }

    .additionalActionsIcon__6b109 { // menu button next to send message
        opacity: 0.5;
        transition:100ms ease;
    }

    .additionalActionsIcon__6b109:hover { // menu button next to send message
        opacity: 1;
    }

    .badgeList__126b0 {
        background: none;
    }

    .avatar__445f3 circle[fill="black"],
    .avatar__445f3 > svg > rect[fill="black"] {
        visibility: hidden;
    }

    .overlayBackground__345c9 {
        margin: 0;
        background: none;
        border-radius: 0;
    }

    .body_bd4552 {
        border-radius: 0;
    }

    .container__9f51c {
        padding-top: 12px;
        padding-left: 28px;
        padding-right: 28px;
        z-index: 1;
    }

    .tabBarContainer_b283be {
        margin: 0;
        padding-top: 20px;
        padding-left: 28px;
        padding-right: 28px;
        border: none;
        box-shadow: 0 11px 20px -10px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .divider-SH6OnO,
    .userInfoSection_e816c1+.userInfoSection_e816c1 {
        border: none;
    }

    .infoScroller__0920a,
    .listScroller__18a19 {
        z-index: 0;
        overflow: hidden overlay !important;
    }
    .infoScroller__0920a {
        padding-left: 28px;
        padding-right: 28px !important;
    }
    .listScroller__18a19 {
        padding-left: 16px;
        padding-right: 16px !important;
    }

    // Tab icons 
    .tabBar__35f81 { // eliminate gap between icons
        gap: 0;
    }

    // all icons
    .tabBarItem_ce14f3 {
        height: 24px;
        padding: 7px 6px;
        opacity: 0.4;
    }

    // hover/selected
    .tabBarItem_ce14f3.selected_a523ff,
    .tabBarItem_ce14f3:hover {
        opacity: 1;
        border-bottom-color: transparent !important;

    }

    // user info
    .tabBarItem_ce14f3:nth-child(1) {
        padding-left: 0;
    }

    // mutual servers & friends
    .listRow__50619 {
        margin: 1px 0;
        padding: 8px;
    }

    // mutual server icons
    .listRow__50619 .icon__94164 {
        border-radius: 50%;
    }

    .emptyIcon__7b2a1 { // no common servers/friends icon
        filter: contrast(1.1) grayscale(1) brightness(1.5);
    }
}

// Unthemed
.userProfileModalOuter__90b4a.userProfileOuterUnthemed__9741c {

    .userProfileModalInner__84e47 {
        background-color: var(--nox-level2);
    }

    .infoScroller__0920a,
    .listScroller__18a19 {
        background: var(--nox-level1);
    }

    
    .listRow__50619:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

}

// Themed
.userProfileModalOuter__90b4a.userProfileOuterThemed_a425f3 {

    .infoScroller__0920a::before,
    .listScroller__18a19::before {
        content: '';
        width: 600px;
        height: 264px;
        position: fixed;
        left: 4px;
        bottom: 4px;
        background-color: var(--profile-gradient-overlay-color);
        opacity: 0.75;
    }
    .infoScroller__0920a::after,
    .listScroller__18a19::after {
        content: '';
        width: 600px;
        height: 264px;
        position: fixed;
        left: 4px;
        bottom: 4px;
        background: linear-gradient(var(--profile-gradient-primary-color) -400px, var(--profile-gradient-secondary-color));
        z-index: -1;
    }
    .infoScroller__0920a > *,
    .listScroller__18a19 > *{
        position: relative;
    }
    .userProfileInnerThemedPremiumWithoutBanner_ee8277 .infoScroller__0920a::after,
    .userProfileInnerThemedPremiumWithoutBanner_ee8277 .listScroller__18a19::after {
        background: linear-gradient(var(--profile-gradient-primary-color) -300px, var(--profile-gradient-secondary-color));
    }
}

.theme-dark {
    .tabBarItem_ce14f3:nth-child(1) { // user info
        padding-left: 0;
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
    }

    .tabBarItem_ce14f3:nth-child(2):nth-last-child(3) { // activity
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTUgNy41VjJIOXY1LjVsMyAzIDMtM3pNNy41IDlIMnY2aDUuNWwzLTMtMy0zek05IDE2LjVWMjJoNnYtNS41bC0zLTMtMyAzek0xNi41IDlsLTMgMyAzIDNIMjJWOWgtNS41eiIvPjwvc3ZnPg==);
    }

    .tabBarItem_ce14f3:nth-last-child(2) { // mutual friends
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTYgMTFjMS42NiAwIDIuOTktMS4zNCAyLjk5LTNTMTcuNjYgNSAxNiA1Yy0xLjY2IDAtMyAxLjM0LTMgM3MxLjM0IDMgMyAzem0tOCAwYzEuNjYgMCAyLjk5LTEuMzQgMi45OS0zUzkuNjYgNSA4IDVDNi4zNCA1IDUgNi4zNCA1IDhzMS4zNCAzIDMgM3ptMCAyYy0yLjMzIDAtNyAxLjE3LTcgMy41VjE5aDE0di0yLjVjMC0yLjMzLTQuNjctMy41LTctMy41em04IDBjLS4yOSAwLS42Mi4wMi0uOTcuMDUgMS4xNi44NCAxLjk3IDEuOTcgMS45NyAzLjQ1VjE5aDZ2LTIuNWMwLTIuMzMtNC42Ny0zLjUtNy0zLjV6Ii8+PC9zdmc+);
    }

    .tabBarItem_ce14f3:nth-last-child(1) { // mutual servers
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xdi02YzAtLjU1LS40NS0xLTEtMXpNNyAxOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6TTIwIDNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xVjRjMC0uNTUtLjQ1LTEtMS0xek03IDljLTEuMSAwLTItLjktMi0ycy45LTIgMi0yIDIgLjkgMiAyLS45IDItMiAyeiIvPjwvc3ZnPg==);
    }
}

.theme-light {
    .tabBarItem_ce14f3:nth-child(1) { // user info
        padding-left: 0;
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
    }

    .tabBarItem_ce14f3:nth-child(2):nth-last-child(3) { // activity
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTUgNy41VjJIOXY1LjVsMyAzIDMtM3pNNy41IDlIMnY2aDUuNWwzLTMtMy0zek05IDE2LjVWMjJoNnYtNS41bC0zLTMtMyAzek0xNi41IDlsLTMgMyAzIDNIMjJWOWgtNS41eiIvPjwvc3ZnPg==);
    }

    .tabBarItem_ce14f3:nth-last-child(2) { // mutual friends
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTYgMTFjMS42NiAwIDIuOTktMS4zNCAyLjk5LTNTMTcuNjYgNSAxNiA1Yy0xLjY2IDAtMyAxLjM0LTMgM3MxLjM0IDMgMyAzem0tOCAwYzEuNjYgMCAyLjk5LTEuMzQgMi45OS0zUzkuNjYgNSA4IDVDNi4zNCA1IDUgNi4zNCA1IDhzMS4zNCAzIDMgM3ptMCAyYy0yLjMzIDAtNyAxLjE3LTcgMy41VjE5aDE0di0yLjVjMC0yLjMzLTQuNjctMy41LTctMy41em04IDBjLS4yOSAwLS42Mi4wMi0uOTcuMDUgMS4xNi44NCAxLjk3IDEuOTcgMS45NyAzLjQ1VjE5aDZ2LTIuNWMwLTIuMzMtNC42Ny0zLjUtNy0zLjV6Ii8+PC9zdmc+);
    }

    .tabBarItem_ce14f3:nth-last-child(1) { // mutual servers
        content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xdi02YzAtLjU1LS40NS0xLTEtMXpNNyAxOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6TTIwIDNINGMtLjU1IDAtMSAuNDUtMSAxdjZjMCAuNTUuNDUgMSAxIDFoMTZjLjU1IDAgMS0uNDUgMS0xVjRjMC0uNTUtLjQ1LTEtMS0xek03IDljLTEuMSAwLTItLjktMi0ycy45LTIgMi0yIDIgLjkgMiAyLS45IDItMiAyeiIvPjwvc3ZnPg==);
    }
}