// common card styling
.userPopoutInner_f545a3 {
    background-size: 90%; // resize nox shapes background

    // replace default avatar hint
    .avatarHintInner__3d1c9 {
        color: transparent;
        background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTEyIDEyYzIuMjEgMCA0LTEuNzkgNC00cy0xLjc5LTQtNC00LTQgMS43OS00IDQgMS43OSA0IDQgNHptMCAyYy0yLjY3IDAtOCAxLjM0LTggNHYyaDE2di0yYzAtMi42Ni01LjMzLTQtOC00eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        box-shadow: none;
        background-color: rgba(0,0,0,.25);

    }

    .userPopoutOverlayBackground_d8afa4 { // moving layout to body sections
        margin: 0;
    }

    .divider_ed0c1d { // hide divider below name
        display: none;
    }

    .scrollerSeparator__321f3 { // hide divider when scrolling on large cards
        box-shadow: none;
    }

    .scroller__83262 { // place scrollbar on top of content move padding to children
        padding: 0 !important;
        overflow: hidden overlay !important;
    }

    .profileBadges__7a7cb { // profile badges
        background: none;
        padding: 4px;
    }

    .section__6f61e { // card body padding moved from scroller & spacing between sections
        padding: 12px 16px 0 16px;
        position: relative;
    }

    .section__6f61e:has(.activity__20c1e) { // activity bg + layout
        background: var(--nox-black3);
        padding-bottom: 12px;
        margin-top: 6px;
    }

    .section__6f61e:has(.note_ba0c31) { // add space before note/footer section
        margin-top: 12px;
    }

    .lastSection__37b97 { // creates padding between last section and end of card
        padding-bottom: 12px;
    }

    .note_ba0c31 {
        textarea { // align note text with title
            margin-left: -4px;
            width: calc(100% + 4px);
        }

        textarea::selection { // change selection color to accent
            background: var(--nox-accent);
        }
    }

    .messageInputContainer__768e6 { // remove quickmessage border
        border: none;

        .input__95bc4::selection { // change selection color to accent
            background: var(--nox-accent);
        }
    }

    .messageInputContainer__768e6:after { // quickmessage bottom border animation
        content: '';
        position: relative;
        width: 0;
        height: 2px;
        left: auto;
        bottom: 0;
        background: var(--nox-accent);
        transition: all ease-in-out .3s;
    }

    .messageInputContainer__768e6:focus-within::after { // quickmessage bottom border animation
        width: 308px;
    }

}

// Recolor card background for unthemed cards
.userPopoutOuter_d739b2.userProfileOuterUnthemed__48723 {
    background-color: var(--nox-level2);

    .avatar__991e2 { // avatar bg
        background: var(--nox-level2);
    }

    .userPopoutOverlayBackground_d8afa4 .section__6f61e:has(.note_ba0c31), // note section
    .userPopoutOverlayBackground_d8afa4 .section__6f61e.section__76155 { // quick message section
        background-color: var(--nox-level1);
    }
}

// Remove default coloring
.userPopoutInner_f545a3.userProfileInnerThemedNonPremium__3d0a6,
.userPopoutOverlayBackground_d8afa4 {
    background-color: transparent;
}

// Role stuff
.role__631a3 { // set up role bg
    background: none;
    padding: 0 2px 0 6px;
    border-width: 0;
    border-radius: 3px;
    overflow: hidden;

    .roleName_d19d33 { // puts text on top of role bg
        z-index: 1;
    }

    .roleIcon__7599e { // role icon styling and puts on top of role bg 
        z-index: 1;
        border-radius: 3px;
        height: auto;
    }

    .roleRemoveButton__737f2 { // move remove role button to end
        order: 2;

        // role bg color
        .roleCircle_bae511::before,
        .roleFlowerStar__170d5::before {
            content: "";
            visibility: visible;
            background-color: inherit;
            position: absolute;
            right: -10px;
            height: 22px;
            width: 308px;
            opacity: 0.6;
        }
    
        .roleFlowerStar__170d5::before { // connected account role layout fix
            top: -4px;
        }

        // hide role circle
        .roleCircle_bae511,
        .roleFlowerStar__170d5 {
            margin: 0;
            visibility: hidden;
        }

    }

    .roleRemoveButton__737f2[aria-hidden="false"] { // re-add remove role button if removable role
        background: transparent;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0icm9sZVJlbW92ZUljb24tMml1MGlFIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wIDBoMTJ2MTJIMCI+PC9wYXRoPjxwYXRoIGNsYXNzPSJmaWxsIiBmaWxsPSIjZmZmZmZmIiBkPSJNOS41IDMuMjA1TDguNzk1IDIuNSA2IDUuMjk1IDMuMjA1IDIuNWwtLjcwNS43MDVMNS4yOTUgNiAyLjUgOC43OTVsLjcwNS43MDVMNiA2LjcwNSA4Ljc5NSA5LjVsLjcwNS0uNzA1TDYuNzA1IDYiPjwvcGF0aD48L2c+PC9zdmc+);
        margin-right: 2px;    
    }

    // remove space occupied by role circle
    .roleRemoveButton__737f2[aria-hidden="true"] .roleCircle_bae511,
    .roleRemoveButton__737f2:has(.roleFlowerStar__170d5) {
        width: 0;
    }
}

// Themed card stuff
.userPopoutOuter_d739b2.userProfileOuterThemed__6eb84 .userPopoutInner_f545a3 {

    // remove online indicator outline on themed cards
    .avatarWrapper_f77579 circle,
    .avatarWrapper_f77579 rect[fill="black"] {
        visibility: hidden;
    }

    // adds background to pfps to block nox shapes
    // .avatarStack__6604a::before {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     border-radius: 50%;
    //     position: absolute;
    //     // background: linear-gradient(var(--profile-gradient-primary-color) -40px, var(--profile-gradient-secondary-color) 40vh);
    //     z-index: -1;
    // }

    // darkens avatar background
    // .avatar__991e2 {
    //     border-radius: 50%;
    //     // background-color: var(--profile-gradient-overlay-color);
    //     // position: relative;
    //     // z-index: 100000;
    // }

    // solid background for notes + quick message

    // setup solid bg
    .section__76155::before,
    .lastSection__37b97:not(.section__76155)::before,
    .section__76155::after,
    .lastSection__37b97:not(.section__76155)::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0;
    }

    // has quickmessage
    .section__76155::before,
    .section__76155::after {
        height: calc(200% + 9px);
    }
    // no quickmessage
    .lastSection__37b97:not(.section__76155)::before, 
    .lastSection__37b97:not(.section__76155)::after {
        height: 100%;
    }

    // adds actual bg
    .section__76155::before,
    .lastSection__37b97:not(.section__76155)::before {
        background: linear-gradient(var(--profile-gradient-primary-color) -40vh, var(--profile-gradient-secondary-color));
    }
    .section__76155::after,
    .lastSection__37b97:not(.section__76155)::after {
        background-color: var(--profile-gradient-overlay-color);
    }

    // puts notes+quickmessage back above bg
    .section__6f61e:has(.note_ba0c31) .title_ef4a6d,
    .section__6f61e:has(.note_ba0c31) .note_ba0c31,
    .section__76155 .inputWrapper__934f5 {
        position: relative;
        z-index: 1;
    }
}