// Dark & unthemed popouts
.userPopoutOuter-1OHwPL.theme-dark {
    .title-3CjiSS { // headings
        color: var(--nox-white);
    }

    .text-sm-normal-AEQz4v, // join dates
    .discordIcon-32mgeP { // discord logo
        color: var(--nox-white7);
    }

    .nickname-3P1RuO { // nickname
        color: var(--nox-white);
    }

    .pronouns-17_QV6 { // pronouns
        color: var(--nox-white7);
    }

    .userTagUsernameBase-267ALn { // username
        color: var(--nox-white7);
    }

    .discrimBase-v65kTs { // discriminator
        color: var(--nox-white5);
    }
    
    .customStatus-19KW6v { // status
        color: var(--nox-white7);
    }

    .activityUserPopoutV2-3eKqzY { // activity
        .headerText-3g1XK9 { // heading
            color: var(--nox-white);
        }
        .nameWrap-3TyM52 { // content
            color: var(--nox-white7);
        }
    }

    // notes section
    .note-1NN2aP {
        textarea {
            color: var(--nox-white6);
        }

        textarea::placeholder {
            color: var(--nox-white2);
        }
    
        textarea:focus {
            background-color: var(--nox-black2);
        }

        textarea:focus::placeholder {
            color: var(--nox-white4);
        }

        textarea::selection {
            color: var(--nox-white);
        }
    }

    // quick message section
    .messageInputContainer-24qqTx {

        .input-2z42oC {
            color: var(--nox-white9);
        }

        .input-2z42oC::-webkit-input-placeholder {
            color: var(--nox-white2);
        }

        .input-2z42oC:focus::-webkit-input-placeholder {
            color: var(--nox-white6);
        }

        .input-2z42oC::selection {
            color: var(--nox-white);
        }

    }

}

// Light themed popouts
.userPopoutOuter-1OHwPL.theme-light {
    .title-3CjiSS { // headings
        color: var(--nox-black);
    }

    .text-sm-normal-AEQz4v, // join dates
    .discordIcon-32mgeP { // discord logo
        color: var(--nox-black8);
    }

    .nickname-3P1RuO { // nickname
        color: var(--nox-black);
    }

    .pronouns-17_QV6 { // pronouns
        color: var(--nox-black8);
    }

    .userTagUsernameBase-267ALn { // username
        color: var(--nox-black8);
    }

    .discrimBase-v65kTs { // discriminator
        color: var(--nox-black6);
    }

    .customStatus-19KW6v { // status
        color: var(--nox-black8);
    }

    .activityUserPopoutV2-3eKqzY { // activity
        .headerText-3g1XK9 { // heading
            color: var(--nox-black);
        }
        .nameWrap-3TyM52 { // content
            color: var(--nox-black8);
        }
    }

    // notes section
    .note-1NN2aP {
        textarea {
            color: var(--nox-black7);
        }

        textarea::placeholder {
            color: var(--nox-black5);
        }
    
        textarea:focus {
            background-color: var(--nox-white1);
        }

        textarea:focus::placeholder {
            color: var(--nox-black6);
        }

        textarea::selection {
            color: var(--nox-black);
        }
    }

    // quick message section
    .messageInputContainer-24qqTx {

        .input-2z42oC {
            color: var(--nox-black9);
        }

        .input-2z42oC::-webkit-input-placeholder {
            color: var(--nox-black5);
        }

        .input-2z42oC:focus::-webkit-input-placeholder {
            color: var(--nox-black7);
        }

    }
}

// Dark & unthemed modals
.userProfileModalOuter-2wdWjU.theme-dark {
    //top section

    .text-lg-semibold-UQkeZc { // nickname
        color: var(--nox-white);
    }

    .discriminator-hnHkyt:first-child { // username
        color: var(--nox-white7);
    }

    .discriminator-hnHkyt { // discriminator
        color: var(--nox-white5);
    }

    .pronouns-RGQpyK, // pronouns
    .customStatusText-1uNQ8w { // status
        color: var(--nox-white7) !important;
    }


    // user info

    .userInfoSectionHeader-2mYYun { // headings
        color: var(--nox-white);
    }
    
    .text-sm-normal-AEQz4v { // body text
        color: var(--nox-white7);
    }

    // notes section
    .note-3M15gE {
        textarea {
            color: var(--nox-white6);
        }

        textarea::placeholder {
            color: var(--nox-white2);
        }
    
        textarea:focus {
            background-color: var(--nox-black2);
        }

        textarea:focus::placeholder {
            color: var(--nox-white4);
        }

        textarea::selection {
            color: var(--nox-white);
        }
    }

    .listRowContent-PEmSWj { // mutual server title
        color: var(--nox-white7);
    }
    .guildNick-fe8oPN { // mutual server nickname
        color: var(--nox-white4);
    }

    .listName-PwbeHL { // mutual friend name
        color: var(--nox-white7);
    }
    .listDiscriminator-1HAKWY { // mutual friend discriminator
        color: var(--nox-white4);
    }

    .emptyText-mZZyQk { // no servers/friends in common
        color: var(--nox-white5);
    }

    .additionalActionsIcon-3Cy8UU { // menu button next to send message
        color: var(--nox-white6);
    }
}