.premium-settings .premium-header.splash {
    border-bottom: 0;
}

.premium-settings .premium-header.splash {
    position: relative;
    background: none!important;
}

.premium-settings .premium-header.splash::before {
    width: 100%;
    background: url(https://canary.discordapp.com/assets/99d84e6e97d1a7737be24c391fbf57e3.svg) 100% 0px no-repeat;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    filter: invert(85%) grayscale(100%);
    pointer-events: none;
}



.premium-settings .premium-header .intro-subtitle {
    color: var(--nox-white3)
}

.premium-settings .premium-feature .premium-feature-title {
    color: var(--nox-white3)
}

.premium-settings.v1 .premium-features .premium-feature .ui-form-text.style-default {
    color: var(--nox-white7);
}

.premium-settings .premium-header.splash {
    margin-bottom: 0!important
}

.premium-settings.v1 .premium-features {
    padding-top: 20px;
    padding-bottom: 20px;
}