// outer menu
.menu_d90b3d {
    box-shadow: none;
    background: none;
    border-radius: 2px;
    padding: 0 8px;
}

.menu_d90b3d.submenu_d90b3d {
    padding: 0;
}

// divider line
.separator_d90b3d {
    display: none;
}

// inner menu
.scroller_d90b3d {
    box-shadow: $elevation-shadow;
    padding: 0;
    overflow: hidden auto !important;
    background-color: var(--nox-level2);

    // menu items
    .item_d90b3d {
        margin: 0;
        padding: 10px 12px 10px 16px;
        border-radius: 0;

        &.colorDefault_d90b3d {
            color: var(--nox-white6);

            &.focused_d90b3d {
                // background-color: rgba(225, 225, 225, 0.03);
                background-color: var(--nox-accent);
                color: var(--nox-white8);
            }
        }

        &.colorBrand_d90b3d {
            color: var(--nox-accent);

            &.focused_d90b3d {
                background-color: var(--nox-accent);
                color: var(--nox-white9);
            }
        }

        &.colorDanger_d90b3d {
            color: #F04747;

            &.focused_d90b3d {
                background-color: #F04747;
                color: var(--nox-white9);
            }
        }

    }

    // quick reacts
    .wrapper_a24e84 {
        padding: 6px 4px 6px 6px;
    }
    .button_a24e84 {
        background-color: rgba(225, 225, 225, 0.05);
        padding: 2px;

        &:hover {
            background-color: rgba(225, 225, 225, 0.07);
        }
    }
}