.leading_c38106::before {
    content: "";
    display: block;
    width: 70px;
    height: 17px;
    margin: 3px 0;
    background-image: url(inline-image("resources/images/logo.png"));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.bar_c38106 {
    padding-left: 0;
    background: #191919;
}