.wordmark__5b8c9 {
    padding: 0;
    font-size: 12px;
}

.wordmark__5b8c9::before {
    content: "";
    display: block;
    width: 70px;
    height: 17px;
    margin: 3px 0;
    background-image: url(inline-image("resources/images/logo.png"));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.wordmark__5b8c9 svg {
    display: none;
}

.titleBar__710b0 {
    background: #191919 !important;
}

.typeWindows_e41dab {
    margin-top: 0;
    padding-top: 4px;
}