@use "../elevations";

.tooltip__4e35b {
    background-color: var(--nox-level3);
    box-shadow: inset 0 0 0 1px var(--nox-white1), elevations.$elevation-shadow;
    border-radius: 6px;
    --text-strong: var(--nox-white7);
    --text-default: var(--nox-white7);
    --text-muted: var(--nox-white5);
}
.caretIcon__4e35b {
    .caretFill__4e35b {
        fill: var(--nox-level3);
    }
    .caretStroke__4e35b {
        stroke: var(--nox-white2);
    }
}

// message buttons
.buttonsInner__5126c {
    background-color: var(--nox-level2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1) !important;
}

.button_f7ecac {
    color: var(--nox-white7);

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--nox-white9);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.15);
        color: var(--nox-white9);
    }

    &.selected_f7ecac {
        background-color: rgba(0, 0, 0, 0.3);
        color: var(--nox-white9);
    }
}

// formatting toolbar
.toolbar_bba883 {
    background: var(--nox-level3);

    &::before {
        border-top-color: var(--nox-level3);
    }

    .icon_bba883 {
        color: var(--nox-white6);
    }

    .hover_d0ebf2:hover,
    .active__05fbc {
        background: rgba(255, 255, 255, 0.15);

        .icon_bba883 {
            color: var(--nox-white9);
        }
    }
}

// toasts
.bd-toast {
    background-color: var(--nox-level1);
    color: var(--nox-white9);
}