//animator-US5i9g
.animator-US5i9g .action-1lSjCi.create-3jownz:hover .actionButton-2PeQbJ,
.form .btn-primary:hover {
    filter: brightness(93%)contrast(110%);
}

.animator-US5i9g .action-1lSjCi.join-33Tr-7 .actionButton-2PeQbJ{
    background: #3ca374;
}



.animator-US5i9g .action-1lSjCi {
    background: var(--nox-level2);
    transition: 200ms ease;
    box-shadow:0 5px 10px rgba(0,0,0,.3);
}
.animator-US5i9g .action-1lSjCi:hover {
    background: #252525;
    box-shadow:0 5px 5px rgba(0,0,0,.3);
}
.animator-US5i9g .action-1lSjCi .actionBody-1qj65C{
    transition: all 200ms ease!important;
}
.animator-US5i9g .action-1lSjCi:active .actionBody-1qj65C,
.animator-US5i9g .action-1lSjCi:hover .actionBody-1qj65C{
    color:var(--nox-white9);
}
.animator-US5i9g .action-1lSjCi:active {
    transition: 50ms ease!important;
    box-shadow:0 5px 15px rgba(0,0,0,.8);
}
.animator-US5i9g .action-1lSjCi.create-3jownz .actionButton-2PeQbJ,
.animator-US5i9g .action-1lSjCi.create-3jownz:active {
  background: var(--nox-accent);
}
.animator-US5i9g .action-1lSjCi.join-33Tr-7:active{
  background: #3CA374;
}
.animator-US5i9g .action-1lSjCi .actionHeader-2CT5c7{
  transition:all 200ms ease;
}
.animator-US5i9g .action-1lSjCi.create-3jownz .actionHeader-2CT5c7{
    color:var(--nox-accent);
  }
.animator-US5i9g .action-1lSjCi:active .actionHeader-2CT5c7{
  color:var(--nox-white);
  transition:all 50ms ease;
}
body .animator-US5i9g .action-1lSjCi.join-33Tr-7:active .actionButton-2PeQbJ,
body .animator-US5i9g .action-1lSjCi.create-3jownz:active .actionButton-2PeQbJ{
  background:var(--nox-white)!important;
}
body .animator-US5i9g .action-1lSjCi.create-3jownz:active .actionButton-2PeQbJ{
  color:var(--nox-accent)!important;
}
body .animator-US5i9g .action-1lSjCi.join-33Tr-7:active .actionButton-2PeQbJ{
  color:#3CA374!important;
}
.animator-US5i9g p{
    color:var(--nox-white5);
}
.animator-US5i9g .action-1lSjCi .actionBody-1qj65C{
    color:var(--nox-white4);
}
.slide-2pHaq5 header{
    color:var(--nox-accent)!important;
}


.animator-US5i9g {
    visibility: visible;
    overflow: hidden;
    background: none!important;
}

.animator-US5i9g div.slide-2pHaq5 {
    background: var(--nox-level3);
}

.animator-US5i9g .content-2BXhLs {
    padding: 0;
}

.animator-US5i9g .item-5R5nmE .inner-3wn6Q5 {
    background: none;
}
.animator-US5i9g .item-5R5nmE .actions-pBaxX6 .or-3THJsp {
    display: none;
}

.animator-US5i9g form.slide-2pHaq5 {
    background: var(--nox-level2);
}

.animator-US5i9g .action-1lSjCi.create-3jownz .actionIcon-2IISM_ {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQsNEgyMEExLDEgMCAwLDEgMjEsNVY5QTEsMSAwIDAsMSAyMCwxMEg0QTEsMSAwIDAsMSAzLDlWNUExLDEgMCAwLDEgNCw0TTksOEgxMFY2SDlWOE01LDZWOEg3VjZINU04LDE2SDExVjEzSDEzVjE2SDE2VjE4SDEzVjIxSDExVjE4SDhWMTZaIiAvPjwvc3ZnPg==) 50% no-repeat;
    background-size: 33%;
}

.animator-US5i9g .action-1lSjCi.join-33Tr-7 .actionIcon-2IISM_ {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iLTE5ODcgMTk4OSAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAtMTk4NyAxOTg5IDI0IDI0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNLTE5NjcsMTk5M2gtMTZjLTAuNiwwLTEsMC40LTEsMXY0YzAsMC42LDAuNCwxLDEsMWgxNmMwLjYsMCwxLTAuNCwxLTF2LTRDLTE5NjYsMTk5My40LTE5NjYuNCwxOTkzLTE5NjcsMTk5M3ogTS0xOTgwLDE5OTdoLTJ2LTJoMlYxOTk3eiBNLTE5NzcsMTk5N2gtMXYtMmgxVjE5OTd6Ii8+PHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSItMTk3Mi40LDIwMDQuNiAtMTk3NC45LDIwMDIuMSAtMTk3Ni4zLDIwMDMuNSAtMTk3NC44LDIwMDUgLTE5NzksMjAwNSAtMTk3OSwyMDA3IC0xOTc0LjgsMjAwNyAtMTk3Ni4zLDIwMDguNSAtMTk3NC45LDIwMDkuOSAtMTk3Mi40LDIwMDcuNCAtMTk3MSwyMDA2ICIvPjwvc3ZnPg==) 50% no-repeat;
    background-size: 33%;
}

.animator-US5i9g .footer-3rDWdC {
    background: none;
    border: none;
    box-shadow: none;
}

.animator-US5i9g .title-2Dc-Cb {
    color: var(--nox-accent);
}

.animator-US5i9g .avatarUploaderInner-3UNxY3 {
    background: var(--nox-accent);
}

.animator-US5i9g .sampleLink-KPFu3I {
    color: var(--nox-accent);
}


.animator-US5i9g .input-cIJ7To {
    color: var(--nox-white);
}


.slide-2pHaq5 .slideBody-2nMrnU {
    background: none;
}







// .animator-US5i9g input {
//     border: none!important;
//     border-bottom: 2px solid rgba(255, 255, 255, .05)!important;
//     border-radius: 0;
// }

// .animator-US5i9g input:hover {
//     border: none!important;
//     border-bottom: 2px solid var(--nox-white1)!important
// }

// .animator-US5i9g input:focus {
//     border: none!important;
//     border-bottom: 2px solid var(--nox-accent)!important
// }

// .animator-US5i9g .join-server .link-container label {
//     color: var(--nox-white4);
//     margin-top: 10px
// }

// .animator-US5i9g .form-actions .btn-default {
//     color: var(--nox-white6);
// }

// .animator-US5i9g .form-actions .btn-default::before {
//     background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTFINy44M2w1LjU5LTUuNTlMMTIgNGwtOCA4IDggOCAxLjQxLTEuNDFMNy44MyAxM0gyMHYtMnoiLz48L3N2Zz4=);
//     background-size: 100%;
//     opacity: .6;
//     background-position: 0 50%;
// }
// .animator-US5i9g .form-actions .btn-default:active::before {
//     background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMjAgMTFINy44M2w1LjU5LTUuNTlMMTIgNGwtOCA4IDggOCAxLjQxLTEuNDFMNy44MyAxM0gyMHYtMnoiLz48L3N2Zz4=);
//     background-size: 100%;
//     opacity: .6;
//     background-position: 0 50%;
//     transition: all 50ms ease;
// }



// .animator-US5i9g .join-server .sample-link{
//     color:#2196F3;
// }

// .animator-US5i9g .create-guild .guild-form{
//     overflow:visible;
// }