.root-g14mjS .footer-1Ip3Sd {
  background-color: var(--nox-level2);
  border-top: 0!important;
  box-shadow: none;
}

.root-g14mjS .emojiButtonContainer-1cdx-p {
    margin-left: 0;
}

.root-g14mjS .emojiButton-3jVE8H {
    padding: 0;
    width: 32px;
    filter: none!important;
    box-shadow: none!important;
    background-color: transparent;
}

.root-g14mjS .emojiButton-3jVE8H img.emoji,
.root-g14mjS .emojiButton-3jVE8H img.emoji:hover {
    background-color: var(--nox-level2);
}

.art-2p0nYa {
    filter: grayscale(100%) brightness(90%);
}