.backdrop-2ByYRN[style*="background-color: rgb(255, 255, 255);"] {
    background-color: black!important;
  }
  
  .downloadApps-14IgKV .footer-2TRYcZ a,
  .downloadApps-14IgKV .header-1lOVWt {
    color: var(--nox-accent);
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A {
    border-color: var(--nox-accent);
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A .downloadButton-2XskEc {
    background-color: var(--nox-accent);
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A p {
    color: var(--nox-accent);
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu .icon-1DpQvw {
    transform: scale(0.8);
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A .icon-1DpQvw.active-1j5w_A {
    opacity: 0;
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A .icon-1DpQvw {
    opacity: 1;
    filter: brightness(0);
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu .iconWrap-smv3Q2 {
    transition: background 200ms ease;
    border-radius: 25px;
    background: transparent;
  }
  
  .downloadApps-14IgKV .platforms-15zUsJ .platform-1ZMvDu.active-1j5w_A .iconWrap-smv3Q2 {
    background: var(--nox-accent);
  }