.close-1kwMUs{
    color:var(--nox-white6);
    background:transparent; /* Previous:  white1; */
    position: relative;
    border-radius:50%;
    box-shadow: none; /* Previous: 0 0 0 13px #212121 inset; */
  }
  .theme-dark .close-1kwMUs:hover{
    color:var(--nox-white);
    background:transparent;
  }
  .modal-yWgWj- .footer-3rDWdC {
    background-color: var(--nox-level2);
    border-top: 0!important
}
.theme-dark .footer-3mqk7D {box-shadow: none;}
// .modal-yWgWj- .header-2tA9Os .close-1kwMUs svg {display: none;}
// .modal-yWgWj- .header-2tA9Os .close-1kwMUs {
//     background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
//     background-size: 100%;
//     position: absolute;
//     top: 0;
//     right: 15px;
//     zoom: 1.8
// }
// .modal-yWgWj- .header-2tA9Os .close-1kwMUs{
//     top: 10px;
// }


.modal-yWgWj- .message-group .comment {
    background: rgba(0, 0, 0, .08);
}
.modal-yWgWj- .message-group .comment::before {
    border-color: transparent rgba(0, 0, 0, .08) transparent transparent;
}
.modal-yWgWj- .message-group .comment code {
    background: rgba(0, 0, 0, .0)!important;
    border: none!important;
}
.modal-yWgWj- .message-group .comment pre {
    background: rgba(0, 0, 0, .05)!important;
    border: none!important;
    border-radius: 3px!important;
}
.modal-yWgWj- .message-group .comment code.inline {
    background: rgba(0, 0, 0, .08)!important;
}



.modal-1UGdnR .modal-yWgWj- {
  background: var(--nox-level1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, .5);
  border-radius: 3px;
  color: var(--nox-white6);
}
.modal-yWgWj- .header-2tA9Os {
  border-bottom: 0px;
  color: var(--nox-white8);
  background: var(--nox-level3);
  box-shadow: 0 0px 10px rgba(0, 0, 0, .3), 0 2px 2px rgba(255, 255, 255, 0.04) inset;
}    
.content-8biNdB {
  padding-top: 15px;
}


.theme-dark .message-2qRu38 {
  box-shadow: none;
  background: none;
}


.maxLength-39QFBo{
  color:var(--nox-white2);
  transition: 200ms ease;
}
textarea:focus + .maxLength-39QFBo{
  color:var(--nox-white3);
}

.theme-brand .content-Qb0rXO {
  color: #f6f6f7;
}


.header-2tA9Os .searchBar-2_Yu-C {
  background: var(--nox-level1);
}

.header-2tA9Os .searchBarInner-1_Tg2R {
  background: none;
}

.header-2tA9Os .searchBarTag-2xRzm8 {
  background: var(--nox-level2);
}

.modal-yWgWj-.popout-3Nppv9.sizeSmall-Sf4iOi {
  animation: toppopout 400ms cubic-bezier(0.3, 0.3, 0, 1);
  left: 10px;
}

// .backdrop-1wrmKB {
//   z-index: 1006!important;
// }

// .modal-3c3bKg {
//   z-index: 1007;
// }

.theme-dark .modal-yWgWj-,
.modal-yWgWj-.modal-1sor29 {
  background: var(--nox-level2);
  box-shadow: none;
  border-radius: 5px;
  overflow: hidden;
}

.modal-yWgWj- .footer-3rDWdC {
  background-color: var(--nox-level2);
  border-top: 0!important;
  box-shadow: none;
}