.keyboardShortcutsModal-2CRmCm{
    background:var(--nox-level2)!important;
}
.keyboardShortcutsModal-2CRmCm .modalTitle-2skSKy{
    margin:0;
    padding-bottom:5px;
    z-index:2;
    color:var(--nox-white9);
}
.keyboardShortcutsModal-2CRmCm .modalSubtitle-2lx7qk,
.keyboardShortcutsModal-2CRmCm .modalTitle-2skSKy{
    background:var(--nox-level3);
}
.keyboardShortcutsModal-2CRmCm .modalSubtitle-2lx7qk{
    border-bottom:none;
    box-shadow:0 0 10px rgba(0, 0, 0, .3);
    z-index:1;
    color:var(--nox-white4);
}
.keyboardShortcutsModal-2CRmCm .ddrArrows-24s05s{
    z-index:3;
    filter: grayscale(100%) brightness(90%);
}
.keyboardShortcutsModal-2CRmCm .keyboardShortcutList-3VFAYS .keybindGroup-39HP2U .keybindDescription-oXh6w_{
    color:var(--nox-white4);
}
.theme-dark .keybindShortcut-3zF1P9 span{
    border:none;
    box-shadow:0 2px 10px rgba(0,0,0,.3);
    background:var(--nox-level1);
    line-height:17px;
    color:var(--nox-white6);
    cursor:pointer;
}
.theme-dark .keybindShortcut-3zF1P9 span:active{
    color:var(--nox-white7);
    border:none;
    box-shadow:none;
    transform:translate(0,2px);
    height:23px;
    background:#353535;
}
.theme-dark .keybindShortcut-3zF1P9 span svg g{
    fill:var(--nox-white6)!important;
}
.theme-dark .keybindShortcut-3zF1P9 span:active svg g{
    fill:var(--nox-white7)!important;
}
.theme-dark .keybindShortcut-3zF1P9.dim-2Uxgxb span{
    background:var(--nox-level2);
    color:var(--nox-white6);
}
.theme-dark .keybindShortcut-3zF1P9.dim-2Uxgxb span:active{
    background:#282828;
    color:var(--nox-white6);
}