.theme-dark .container-KM8BU6,
.theme-dark .reactors-1VXca7 {
    background: var(--nox-level2);
}
.reactionDefault-1Sjj1f .count-1vzEyg {
    color: rgba(255, 255, 255, 0.3);
}
.reactionSelected-1aMb2K .count-1vzEyg{
    color: var(--nox-white);
}
.reactionDefault-1Sjj1f:hover .count-1vzEyg{
    color: rgba(255, 255, 255, 0.8);
}
.modal-3HD5ck{
    border:none;
}
.theme-dark .modal-3HD5ck{
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    overflow: hidden;
    border-radius: 4px;
    background: var(--nox-level1);
}
.modal-3HD5ck .header-1R_AjF{
  border-radius: 4px 4px 0 0
}
.theme-dark .reactorDefault-3GSyaV{
    box-shadow: none;
}
.theme-dark .primary-jw0I4K{
    color:var(--nox-white8);
}

.container-KM8BU6 .scroller-2GkvCq {
    background: var(--nox-level1)
}
.reactionSelected-1aMb2K {
    background: var(--nox-white1)!important
}
.reactionDefault-1Sjj1f:hover {
    background: rgba(255, 255, 255, .04)!important
}