.theme-dark .container-1If-HZ,
.theme-dark .reactors-Blmlhw {
    background: var(--nox-level2);
}
.reactionDefault-GBA58K .count-1vzEyg {
    color: rgba(255, 255, 255, 0.3);
}
.reactionSelected-1pqISm .count-1vzEyg{
    color: var(--nox-white);
}
.reactionDefault-GBA58K:hover .count-1vzEyg{
    color: rgba(255, 255, 255, 0.8);
}
.modal-3HD5ck{
    border:none;
}
.theme-dark .modal-3HD5ck{
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    overflow: hidden;
    border-radius: 4px;
    background: var(--nox-level1);
}
.modal-3HD5ck .header-1R_AjF{
  border-radius: 4px 4px 0 0
}
.theme-dark .reactorDefault-1IUqMZ{
    box-shadow: none;
}
.theme-dark .primary-jw0I4K{
    color:var(--nox-white8);
}

.theme-dark .sidebar-1-SQro {
    background: var(--nox-level1)
}
.reactionSelected-1pqISm {
    background: var(--nox-white1)!important
}
.reactionDefault-GBA58K:hover {
    background: rgba(255, 255, 255, .04)!important
}