/*Upload animation*/

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20{
    animation: none!important;
}
.uploadDropModal-13Kd20 .bgScale-1iWuPF{
    background:var(--nox-accent);
    border-radius:50%;
    display: block;
    position: absolute;
    box-shadow:0 5px 20px rgba(0,0,0,.4),0 -2px 0px rgba(0,0,0,.1) inset,0 3px 1px var(--nox-white1) inset;
    transition: 400ms cubic-bezier(.3,0,0,1) 200ms!important;
    transform:scale(0)!important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1)!important;
    animation: none;
    transition: 400ms cubic-bezier(.3,0,0,1)!important;
    background-color: var(--nox-level1);
}
html[lang="fr"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.25)!important;
}
html[lang="es-ES"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.2)!important;
}
html[lang="de"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.27)!important;
}
html[lang="it"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.4)!important;
}
html[lang="nl"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.25)!important;
}
html[lang="pl"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.1)!important;
}
html[lang="pt-BR"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.2)!important;
}
html[lang="fi"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.2)!important;
}
html[lang="ru"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.3)!important;
}
html[lang="ja"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.5)!important;
}
html[lang="ko"] .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF{
    transform:scale(1.25)!important;
}
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE{
    margin-top:-0px;
    padding-top:23px;
    margin-bottom:5px;
    overflow: hidden;
}
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE .wrapThree-3wCMkN{
    display: none;
}
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE .wrapTwo-3T9wbh .icon-HW4tZ-,
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE .wrapOne-2VKwBJ .icon-HW4tZ-{
    display: none;
}
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE:before{
    content:"";
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgc3R5bGU9Imlzb2xhdGlvbjppc29sYXRlIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iIE0gMCAwIEwgMjQgMCBMIDI0IDI0IEwgMCAyNCBMIDAgMCBaICIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9IiBNIDkgMTYgTCAxNSAxNiBMIDE1IDEwIEwgMTkgMTAgTCAxMiAzIEwgNSAxMCBMIDkgMTAgTCA5IDE2IFogIiBmaWxsPSJyZ2IoMjU1LDI1NSwyNTUpIi8+PC9zdmc+);
    width:120px;
    height:120px;
    display: block;
    background-size:100%;
    position:absolute;
    top:-50px;
    left:50%;
    display: block;
    top:-15px;
    transition:400ms cubic-bezier(.3,0,0,1)!important;
    transform:translate(-50%,85px);
}
.uploadDropModal-13Kd20 .sprite{
    display: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE:before{
    transform:translate(-50%,0);
    transition:400ms cubic-bezier(.1,0,0,1) 150ms!important;
}
.uploadDropModal-13Kd20{
    height:260px;
    width:260px;
    border-radius:50%;
}
.uploadDropModal-13Kd20.error-3lNz4C {
    transform: scale(1.2);
    height:260px;
    width:260px;
    border-radius:50%;
}
.uploadDropModal-13Kd20.error-3lNz4C .premiumPromo-2gqHS_ {
    display: none;
}
.uploadDropModal-13Kd20.error-3lNz4C .icons-1UZPvE{
    background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);;
    background-size: 100%;
    background-position: 50%;
}
.uploadDropModal-13Kd20.error-3lNz4C .icons-1UZPvE:before,
.uploadDropModal-13Kd20.error-3lNz4C .icons-1UZPvE *{
    display: none!important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS{
    /* border:none;
    left:50%;
    transform:translate(-50%);
    position:absolute;
    top:60px; */
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE .wrapTwo-3T9wbh{
    background: var(--nox-accent);
    width:70px;
    height:20px;
    position:absolute;
    top:65px;
    left:50%;
    display: block;
    transform:translate(-50%,0)scale(1,0);
    animation:none;
    transform-origin:bottom;
    transition:400ms ease!important;
    animation: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE .wrapTwo-3T9wbh{
    transform:translate(-50%,0)scale(1,1);
    animation: none;
}
.uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE .wrapOne-2VKwBJ{
    background:rgba(0,0,0,0.3);
    width:70px;
    height:10px;
    position:absolute;
    top:75px;
    left:50%;
    display: block;
    transition:300ms cubic-bezier(.4,0,0,1) !important;
    transform:translate(-50%,0)scale(0,1);
    animation:none;
    transform-origin:bottom;
    z-index: 2
}
.uploadModalIn-2w48Zf .inner-rBP-MS .icons-1UZPvE .wrapOne-2VKwBJ{
    transition:500ms cubic-bezier(.1,0,0,1) 100ms!important;
    transform:translate(-50%,0)scale(1,1);
    animation:none;
}

.uploadDropModal-13Kd20 .instructions-272j2As{
    transition:300ms cubic-bezier(.2,0,0,1);
    opacity: 0;
    transform:translate(0,-20px);
    animation:none;

}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .instructions-272j2As{
    transition:300ms cubic-bezier(.2,0,0,1) 150ms;
    transform:translate(0,0px);
    opacity: 1;
    animation:none;
    padding: 5px 10px;
}
.uploadDropModal-13Kd20 .title-3ChJ_v{
    transition:300ms cubic-bezier(.2,0,0,1) 50ms;
    opacity: 0;
    transform:translate(0,-20px);
    animation:none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .title-3ChJ_v{
    transition:300ms cubic-bezier(.2,0,0,1) 100ms;
    transform:translate(0,0px);
    opacity: 1;
    animation:none;
    text-align: center;
}
@keyframes upload-instructions{
    from{
        opacity: 0;
        transform:translate(0,-20px);
    }
}
/*/Upload animation*/