/* Invite from web modal */
.inviteModal-34DdOm {
    background: var(--nox-level2);
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    border-radius: 4px;
}

.inviteModal-34DdOm .inviteTitle-2-D7Bk {
    color: var(--nox-white);
}

.inviteModal-34DdOm .inviteBody-1Y3j7y {
    color: var(--nox-white3);
}

.inviteModal-34DdOm .inviteBody-1Y3j7y strong {
    color: var(--nox-white5);
}
/* End invite from web modal */