.layer-v9HyYc .container-3cGP6G {
    background:#353535;
    border-color:#353535;
    border-radius:2px;
    cursor: pointer;
    padding: 0;
}
.container-3cGP6G .item-1Yvehc {
    color:var(--nox-white4);
    background: none;
    padding: 2px !important;
    min-height: unset;
    margin: 0;
    border-radius: 0;
    width: 100%;
    transform: none!important;
    box-shadow: none!important;
}
.container-3cGP6G .item-1Yvehc:hover {
    color:var(--nox-white7);
    background:rgba(255,255,255,.05);
    transform: none;
}
.container-3cGP6G .item-1Yvehc:active {
    color:var(--nox-white7);
    background:rgba(0,0,0,.1);
    transform: none;
}