.container-2XeR5Z,
.wrapper-2Gsate.categoryList-xW5xXr,
.inspector-S2gM3e {
    background: var(--nox-level3);
}

.wrapper-1-Fsb8 {
    background: var(--nox-level3);
    height: auto;
    padding: 4px;
    border-radius: 5px;
}

.stickerInspected-2EM4w- .inspectedIndicator-59EII8 {
    background: var(--nox-white1);
}

.premiumCategorySelected-23oFPJ, .premiumCategorySelected-23oFPJ:hover, .stickerCategoryRecentSelected-2gbLs2, .stickerCategoryRecentSelected-2gbLs2:hover {
    background: var(--nox-white1);
}