// Remove rounded corner at top left of channel list and allow shadow
.platform-win .sidebar_ded4b5 {
    z-index: $channels-elevation;
    overflow: visible;
    border-radius: 0;
    box-shadow: $elevation-shadow;
}

// Main channel list container
.sidebar_ded4b5 .container__590e2 {
    background: var(--nox-level2);
}

// Scroller
.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar {
    width: 8px !important;
    border-radius: 0 !important;
    background: var(--nox-level2) !important;
}

.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-thumb {
    visibility: visible !important;
    border: 0 solid transparent !important;
    border-left: 4px solid var(--nox-level2) !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.05) !important;
}

.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-thumb:hover {
    background: var(--nox-white1) !important;
}

.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-thumb:active {
    background: var(--nox-white2) !important;
}

.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-track {
    background: transparent !important;
}

.sidebar_ded4b5 .scroller_f0f183::-webkit-scrollbar-thumb {
    display: var(--nox-channels-scrollbar);
}

.wrapper__7bcde:hover .link__95dc0 {
    background: rgba(255, 255, 255, 0.05);
}

.modeSelected__487d6 .link__95dc0,
.modeSelected__487d6:hover .link__95dc0 {
    background: var(--nox-level3);
}

// name and icon color
.name__590d6,
.name__8d1ec,
.icon_eff5d4 {
    color: var(--nox-white4);
}

// hover name and icon color
.wrapper__9c483.muted_de6e6e:hover .icon_ef4486,
.wrapper__9c483.muted_de6e6e:hover .name__590d6,
.wrapper__9c483:hover .icon_ef4486,
.wrapper__9c483:hover .name__590d6,
.wrapper__7bcde:hover .overflow__87fe8.name__8d1ec,
.wrapper__7bcde:hover svg.icon_eff5d4,
.wrapper__7bcde:hover .actionIcon_d679b5 {
    color: var(--nox-white6);
}

// selected/unread name and icon color
.wrapper__7bcde.modeSelected__487d6 .name__8d1ec,
.wrapper__7bcde.modeSelected__487d6 .icon_eff5d4,
.wrapper__7bcde.modeSelected__487d6 .actionIcon_d679b5,
.modeUnread_f74c03 .name__8d1ec,
.modeUnread_f74c03:hover .name__8d1ec,
.modeUnread_f74c03 .icon_eff5d4,
.modeUnread_f74c03:hover .icon_eff5d4 {
    color: var(--nox-white9);
}

// muted name and icon color
.wrapper__7bcde.modeMuted__0aeea .name__8d1ec,
.wrapper__7bcde.modeMuted__0aeea .icon_eff5d4,
.wrapper__9c483.muted_de6e6e .name__590d6,
.wrapper__9c483.muted_de6e6e .icon_ef4486 {
    color: var(--nox-white1);
}

// userlimit
.wrapper__5848b {
    color: var(--nox-white4);
}
.users__65981 {
    background-color: var(--nox-level1);
}
.total_c01838 {
    background-color: var(--nox-level3);
}
.total_c01838:after {
    border-right-color: var(--nox-level3);
}

// Private channels
.privateChannels__93473,
.theme-dark .scroller__4b984 {
    background: var(--nox-level2);
}

.interactive__776ee:hover {
    background: rgba(255, 255, 255, 0.05);
    color: var(--nox-white6);
}

.interactiveSelected_ec846b,
.interactive__776ee:hover.interactiveSelected_ec846b,
.interactive__776ee:focus-within.interactiveSelected_ec846b {
    color: var(--nox-white9);
    background: var(--nox-level3);
}

.interactive_a868bc,
.privateChannelsHeaderContainer_ddcec6,
.clickable_d23a1a .icon__4cb88 {
    color: var(--nox-white4);
}
.privateChannelsHeaderContainer_ddcec6:hover,
.clickable_d23a1a:hover .icon__4cb88 {
    color: var(--nox-white6);
}