// Remove rounded corner at top left of channel list and allow shadow
.platform-win .sidebar_a4d4d9 {
    z-index: $channels-elevation;
    overflow: visible;
    border-radius: 0;
    box-shadow: $elevation-shadow;
}

// Main channel list container
.sidebar_a4d4d9 .container_ee69e0 {
    background: var(--nox-level2);
}

// Scroller
.sidebar_a4d4d9 .scroller_c43953::-webkit-scrollbar {
    width: 8px !important;
    border-radius: 0 !important;
    background: var(--nox-level2) !important;
}

.sidebar_a4d4d9 .scroller_c43953::-webkit-scrollbar-thumb {
    visibility: visible !important;
    border: 0 solid transparent !important;
    border-left: 4px solid var(--nox-level2) !important;
    border-radius: 0 !important;
    background: rgba(255, 255, 255, 0.05) !important;
}

.sidebar_a4d4d9 .scroller_c43953::-webkit-scrollbar-thumb:hover {
    background: var(--nox-white1) !important;
}

.sidebar_a4d4d9 .scroller_c43953::-webkit-scrollbar-thumb:active {
    background: var(--nox-white2) !important;
}

.sidebar_a4d4d9 .scroller_c43953::-webkit-scrollbar-track {
    background: transparent !important;
}

.sidebar_a4d4d9 .scroller_c43953::-webkit-scrollbar-thumb {
    display: var(--nox-channels-scrollbar);
}

.wrapper_d8bfb3:hover .link_d8bfb3 {
    background: rgba(255, 255, 255, 0.05);
}

.modeSelected_d8bfb3 .link_d8bfb3,
.modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: var(--nox-level3);
}

// name and icon color
.name_a08117,
.name_d8bfb3,
.icon_d8bfb3 {
    color: var(--nox-white4);
}

// hover name and icon color
.wrapper_a08117.muted_a08117:hover .icon_a08117,
.wrapper_a08117.muted_a08117:hover .name_a08117,
.wrapper_a08117:hover .icon_a08117,
.wrapper_a08117:hover .name_a08117,
.wrapper_d8bfb3:hover .overflow_c74e70.name_d8bfb3,
.wrapper_d8bfb3:hover svg.icon_d8bfb3,
.wrapper_d8bfb3:hover .actionIcon_f6f816 {
    color: var(--nox-white6);
}

// selected/unread name and icon color
.wrapper_d8bfb3.modeSelected_d8bfb3 .name_d8bfb3,
.wrapper_d8bfb3.modeSelected_d8bfb3 .icon_d8bfb3,
.wrapper_d8bfb3.modeSelected_d8bfb3 .actionIcon_f6f816,
.modeUnreadImportant_d8bfb3 .name_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .name_d8bfb3,
.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .icon_d8bfb3 {
    color: var(--nox-white9);
}

// muted name and icon color
.wrapper_d8bfb3.modeMuted_d8bfb3 .name_d8bfb3,
.wrapper_d8bfb3.modeMuted_d8bfb3 .icon_d8bfb3,
.wrapper_a08117.muted_a08117 .name_a08117,
.wrapper_a08117.muted_a08117 .icon_a08117 {
    color: var(--nox-white1);
}

// userlimit
.wrapper_a5bc92 {
    color: var(--nox-white4);
}
.users_a5bc92 {
    background-color: var(--nox-level1);
}
.total_a5bc92 {
    background-color: var(--nox-level3);
}
.total_a5bc92:after {
    border-right-color: var(--nox-level3);
}

// Private channels
.privateChannels_f0963d,
.theme-dark .scroller_c47fa9 {
    background: var(--nox-level2);
}

.interactive_f5eb4b:hover {
    background: rgba(255, 255, 255, 0.05);
    color: var(--nox-white6);
}

.interactiveSelected_c91bad,
.interactive_f5eb4b:hover.interactiveSelected_c91bad,
.interactive_f5eb4b:focus-within.interactiveSelected_c91bad {
    color: var(--nox-white9);
    background: var(--nox-level3);
}

.interactive_c91bad,
.privateChannelsHeaderContainer_c47fa9,
.clickable_fc4f04 .icon_fc4f04 {
    color: var(--nox-white4);
}
.privateChannelsHeaderContainer_c47fa9:hover,
.clickable_fc4f04:hover .icon_fc4f04 {
    color: var(--nox-white6);
}