// Sidebar background color
.standardSidebarView_c25c6d .sidebarRegionScroller_c25c6d {
    background: var(--nox-level3);
}

// Separator style
.sidebarRegionScroller_c25c6d .separator-2wx7h6 {
    height: 2px !important;
    background: rgba(255, 255, 255, 0.04) !important;
}