// Sidebar background color
.standardSidebarView__1129a .sidebarRegionScroller__1fa7e {
    background: var(--nox-level3);
}

// Separator style
.sidebarRegionScroller__1fa7e .separator-2wx7h6 {
    height: 2px !important;
    background: rgba(255, 255, 255, 0.04) !important;
}