.addGamePopout-2RY8Ju .buttonGreyLinkDefault-3eCAFJ{
    background:#393939;
}
.addGamePopout-2RY8Ju .buttonGreyLinkDefault-3eCAFJ:hover{
    background:#3B3B3B;
}

.theme-dark .addGamePopout-2RY8Ju{
    background:var(--nox-level1);
}

.addGamePopout-2RY8Ju .divider-3573oO {
    opacity: 0;
    margin: 4px 0;
}