.addGamePopout-3yePJc .buttonGreyLinkDefault-3eCAFJ{
    background:#393939;
}
.addGamePopout-3yePJc .buttonGreyLinkDefault-3eCAFJ:hover{
    background:#3B3B3B;
}

.theme-dark .addGamePopout-3yePJc{
    background:var(--nox-level1);
}

.addGamePopout-3yePJc .divider-_0um2u {
    opacity: 0;
    margin: 4px 0;
}