// .container-1S70rv

.container-1S70rv .autocompleteArrow-jJE9TQ {
    background: var(--nox-level3);
}

.container-1S70rv .autocompleteHeaderBackground-3u7TwO {
    background: var(--nox-level3);
}

.popouts-3dRSmE .container-1S70rv .sectionTag-28mLyE {
    background: var(--nox-level2);
}

.container-1S70rv .row-1Ib2uD.selected-1IWCoj {
    background: var(--nox-level1);
}

.container-1S70rv .row-1Ib2uD.selected-1IWCoj:active {
    background: var(--nox-level3);
}

.container-2O1UgZ {
    background: var(--nox-level2);
}
