// .container-VSDcQc

.container-VSDcQc .autocompleteArrow-Zxoy9H {
    background: var(--nox-level3);
}

.container-VSDcQc .autocompleteHeaderBackground-30T70q {
    background: var(--nox-level3);
}

.popouts-3dRSmE .container-VSDcQc .sectionTag-pXyto9 {
    background: var(--nox-level2);
}

.container-VSDcQc .row-rrHHJU.selected-1pIgLL {
    background: var(--nox-level1);
}

.container-VSDcQc .row-rrHHJU.selected-1pIgLL:active {
    background: var(--nox-level3);
}