.container-3ISnnM {
    box-shadow: 0 0 0 1px var(--nox-level3), 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container-3ISnnM .header-1TOWci {
    background: var(--nox-level3);
}

.container-3ISnnM .content-ySCtCx {
    background: var(--nox-level2);
}

.container-3ISnnM .searchBar-1MOL6S {
    background: none;
}

.container-3ISnnM .focused-1En8bG:after,
.container-3ISnnM .result-3w1ZcL:hover:after {
    box-shadow: inset 0 0 0 2px var(--nox-accent), inset 0 0 0 3px #2f3136;
}

.container-3ISnnM .searchSuggestion-2K8OBX.searchSuggestion-2K8OBX:hover {
    background-color: var(--nox-accent);
    border-color: var(--nox-accent);
}

.result-3w1ZcL {
    background-color: var(--nox-level1);
}

.result-3w1ZcL[style*="background-color"] {
    background-color: var(--nox-accent)!important;
}

.result-3w1ZcL[style*="background-color: rgb(24, 25, 28);"] {
    background-color: var(--nox-level1)!important;
}

.container-3ISnnM .categoryFadeBlurple-1j72_A {
    background: none;
    overflow: hidden;
}

.categoryFadeBlurple-1j72_A::after {
    display: block;
    content: "";
    background: var(--nox-accent);
    height: 100%;
    opacity: 0.8;
}

.emptyHint-2ZHXNQ .emptyHintCard-2mUdMe {
    background: var(--nox-level1);
}

//backButton-JyKGC1 da-backButton

// .backButton-JyKGC1,
// .backButton-JyKGC1:hover,
// .backButton-JyKGC1:active {
//     padding: 0;
//     background: none;
//     min-height: unset;
//     filter: none !important;
//     box-shadow: none;
//     transform: none;
//     width: 48px;
// }

// .backButton-JyKGC1:active {
//     color: #dcddde;
// }

.backButton-JyKGC1 {
    position: relative;
    width: 28px;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButton-JyKGC1::after{
    content:"";
    background:var(--nox-white);
    border-radius:50%;
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    opacity:0;
    transition:300ms ease;
}
.backButton-JyKGC1:active::after{
    opacity:0.1;
    animation:scale 100ms cubic-bezier(.4,0,0,1),opacity 100ms ease;
}
.backButton-JyKGC1:active{
    background-color:transparent;
    transform:none;
}