.theme-dark .popoutList-10IFAa{
    background:var(--nox-level2);
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    border-radius: 4px;
}

.popoutList-10IFAa .searchBar-1MOL6S {
    background: none;
    border-radius: 0;
}

.popoutList-10IFAa .searchBar-1MOL6S input {
    color: var(--nox-white)!important;
    border-bottom: 2px solid var(--nox-white1);
    padding-bottom: 3px;
    padding-right: 25px;
    height: 30px;
    border-radius: 0;
}

.popoutList-10IFAa .searchBar-1MOL6S input:focus {
    border-bottom: 2px solid var(--nox-accent);
}

.theme-dark .elevationBorderHigh-3drnJX{
    box-shadow:0 5px 10px rgba(0,0,0,.3),0 1px 0px rgba(255,255,255,.02) inset;
}

.themedPopout-25DgLi {
    border: none!important;
    border-radius: 3px!important;
    overflow: hidden;
}
.popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    border-radius: 3px 3px 0 0;
    box-shadow:0 3px 10px rgba(0, 0, 0, .3);
}

.popoutList-10IFAa .selectableItem-3-fmiM:hover {
    background: var(--nox-level3);
}

.selectableItem-3-fmiM.selected-1l_Bxn {
    background: var(--nox-accent) !important;
}

.popoutList-10IFAa .divider-_0um2u {
    opacity: 0;
    margin: 4px 0;
}