/* Messages Popouts */

.layer-2aCOJ3 .messagesPopoutWrap-3zryHW,
.layer-2aCOJ3 .container-18GwIk {
    margin-top: 10px;
    margin-right: -10px;
    border: none;
}

.messagesPopoutWrap-3zryHW .comment {
    background: rgba(0, 0, 0, .3);
    border-radius: 0 3px 3px 3px!important;
    padding: 0px 7px 10px 10px!important;
    margin-right: 0;
}

.theme-dark .messagesPopoutWrap-3zryHW .has-more button {
    background: var(--nox-level1);
    color: var(--nox-white5);
    border: none;
    transition: 100ms ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.theme-dark .messagesPopoutWrap-3zryHW .has-more button:hover {
    background: #353535;
    color: var(--nox-white6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.theme-dark .messagesPopoutWrap-3zryHW .has-more button:active {
    background: var(--nox-accent);
    color: var(--nox-white);
    transition: 0ms;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.private-channel-recipients-invite,
.messagesPopoutWrap-3zryHW,
.container-18GwIk {
    animation: toppopout 400ms cubic-bezier(.3, .3, 0, 1);
}

body:active .private-channel-recipients-invite:not(:active),
body:active .messagesPopoutWrap-3zryHW:not(:active) {
    opacity: 0;
    transition: all 100ms ease;
}

.messagesPopoutWrap-3zryHW,
.container-18GwIk {
    background: var(--nox-level1)!important;
    box-shadow:0 0 0 1px var(--nox-level3),0 5px 10px rgba(0, 0, 0, .3)!important;
    max-height: 541px!important;
}

@keyframes pins {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

.messagesPopoutWrap-3zryHW .messagesPopout-eVzQcI .message-group {
    background: transparent!important;
    border: 0px !important;
}

.messagesPopoutWrap-3zryHW .comment::before {
    left: -20px;
    top: 0px;
    border-color: transparent rgba(0, 0, 0, .3) transparent transparent;
}

.private-channel-recipients-invite .footer,
.private-channel-recipients-invite .header,
.messagesPopoutWrap-3zryHW .footer-1K57q_,
.messagesPopoutWrap-3zryHW .header-1w9Q93,
.container-18GwIk .header-3_zmOb {
    background: var(--nox-level3)
}

.sink-interactions .clickable, .actionButtons-2mNSAB {
    background: transparent!important;
    box-shadow: none!important;
}

.actionButtons-2mNSAB {
    right: 20px;
    top: 5px;
}

.actionButtons-2mNSAB .spinner-2RT7ZC {
    display: none;
}

.jumpButton-1ZwI_j {
    background: var(--nox-level2)!important;
    border-radius: 100px!important;
}

.emptyPlaceholder-1-a1LK .body-GBnhET {
    color: rgba(225, 225, 225, 0.3)!important;
}

.messagesPopoutWrap-3zryHW .emptyPlaceholder-1-a1LK .image-t6rLT3 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTExLjk5IDJDNi40NyAyIDIgNi40NyAyIDEyczQuNDcgMTAgOS45OSAxMFMyMiAxNy41MyAyMiAxMiAxNy41MiAyIDExLjk5IDJ6TTEyIDIwYy00LjQyIDAtOC0zLjU4LTgtOHMzLjU4LTggOC04IDggMy41OCA4IDgtMy41OCA4LTggOHptNC4xOC0xMi4yNGwtMS4wNiAxLjA2LTEuMDYtMS4wNkwxMyA4LjgybDEuMDYgMS4wNkwxMyAxMC45NCAxNC4wNiAxMmwxLjA2LTEuMDZMMTYuMTggMTJsMS4wNi0xLjA2LTEuMDYtMS4wNiAxLjA2LTEuMDZ6TTcuODIgMTJsMS4wNi0xLjA2TDkuOTQgMTIgMTEgMTAuOTQgOS45NCA5Ljg4IDExIDguODIgOS45NCA3Ljc2IDguODggOC44MiA3LjgyIDcuNzYgNi43NiA4LjgybDEuMDYgMS4wNi0xLjA2IDEuMDZ6TTEyIDE0Yy0yLjMzIDAtNC4zMSAxLjQ2LTUuMTEgMy41aDEwLjIyYy0uOC0yLjA0LTIuNzgtMy41LTUuMTEtMy41eiIvPiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+)!important;
    opacity: 0.3;
    animation: sadface 5000ms ease infinite;
}

@keyframes sadface {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(0, 10px);
    }
}

.messagesPopoutWrap-3zryHW .emptyPlaceholder-1-a1LK.bottom .image-t6rLT3 {
    display: none;
}

.messagesPopout-eVzQcI .emptyPlaceholder-1-a1LK .body-GBnhET{
  display:none;
}

.messagesPopout-eVzQcI .emptyPlaceholder-1-a1LK .image-t6rLT3+.body-GBnhET{
  display:block;
}

.messagesPopout-eVzQcI .message-group .actionButtons-2mNSAB .closeButton-17RIVZ{
  position: relative;
}

.messagesPopout-eVzQcI .message-group .actionButtons-2mNSAB .closeButton-17RIVZ::after{
    content:"";
    background:var(--nox-white);
    border-radius:50%;
    display:block;
    width:100%;
    padding-top:100%;
    height:0;
    position:absolute;
    opacity:0;
    transform:scale(1.4);
    transition:all 300ms ease, visibility 0ms 300ms;
    animation-fill-mode: forwards;
    visibility: hidden;
    pointer-events: none;
}

.messagesPopout-eVzQcI .message-group .actionButtons-2mNSAB .closeButton-17RIVZ:active::after{
    opacity:0.1;
    transition:all 300ms ease, visibility 0ms;
    visibility: visible;
    animation:scale 100ms cubic-bezier(.2,0,0,1),opacity 50ms ease;
}

/* End Messages Popouts */

.container-18GwIk {
    border-radius: 4px;
}
.theme-dark .header-3_zmOb .tabBar-2WhZ9G .tab-2Jo-cu.active-346HgG,
.theme-dark .list-1uSVgu .tabBar-3N44FC .tab-1tp4jL.active-3WMEyE {
    background: var(--nox-white1);
}
.container-2rzKKA {
    background: var(--nox-black2);
    border: none;
    border-radius: 2px;
}

.popout-3sVMXz.popoutBottomRight-2JrySt header::before,
.popout-3sVMXz.popoutBottom-1YbShG header::before{
    display:none;
}

.messagesPopoutWrap-3zryHW  .messagesPopout-eVzQcI {
    background: none;
    border-radius: 0;
}
.messagesPopout-eVzQcI .messageGroupWrapper-1jf_7C {
    background: none;
    border: none;
    padding: 0 10px;
}

.messagesPopoutWrap-3zryHW .header-1w9Q93 .title-3OGHA5,
.messagesPopoutWrap-3zryHW .header-SsaQ8X .title-23FrqZ {
    color: var(--nox-white);
}

.messageGroupWrapper-1jf_7C .button-f2h6uQ {
    background: none;
    padding: 0 6px;
    min-height: unset;
    transform: none;
    box-shadow: none;
}

.messageGroupWrapper-1jf_7C:hover .actionButtons-2mNSAB .closeButton-17RIVZ {
    opacity: 0.4;
}

.messageGroupWrapper-1jf_7C .button-f2h6uQ:hover .closeButton-17RIVZ {
    opacity: 0.7;
}

//#A1A1A1
// .messagesPopoutWrap-3zryHW:not(.recentMentionsPopout-2bI1ZN) .header-1w9Q93 {
//     background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI0IDI0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSJub25lIiBkPSJNMCwwaDI0djI0SDBWMHoiLz4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTcuOSwxMy43IDE1LjgsMTIuNiAxNS4xLDUuMyAxNi40LDUgMTYuNCwzIDcuNiwzIDcuNiw1IDguOSw1LjMgOC4yLDEyLjYgNi4xLDEzLjcgNi4xLDE1LjcgDQoJMTEsMTUuNyAxMSwyMSAxMywyMSAxMywxNS43IDE3LjksMTUuNyAiLz4NCjwvc3ZnPg0K);
//     background-size: 24px;
//     background-repeat: no-repeat;
//     background-position: 97.5% 50%;
// }

.avatar-2e8lTP {
    left: -70px;
}

.footer-5ji8u1 {
    background-color: var(--nox-level2);
}