.rolePopout-27VCjW {
    background: var(--nox-level2);
    border-radius: 2px;
    box-shadow: 0 2px 25px rgba(0,0,0,0.4) !important;
    animation: opacity 50ms ease,context-open-new 150ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
    border: 1px solid #252525;
}

.clickable-28SzVr:hover .layout-1qmrhw {
    background: rgba(255, 255, 255, 0.04);
}