.container-1SX9VC,
.wrapper-22rqw6.categoryList-2GgCrD,
.inspector-DFKXwB {
    background: var(--nox-level3);
}

.wrapper-1NNaWG {
    background: var(--nox-level3);
    height: auto;
    padding: 4px;
    border-radius: 0px 0px 5px 5px;
}

.stickerInspected-mwnU6w .inspectedIndicator-27zwNZ {
    background: var(--nox-white1);
}

.premiumCategorySelected-2KWLhN, .premiumCategorySelected-2KWLhN:hover, .stickerCategoryRecentSelected-2gbLs2, .stickerCategoryRecentSelected-2gbLs2:hover {
    background: var(--nox-white1);
}