.panels__58331 {
    background: var(--nox-level3);
}

.panels__58331  .container_ca50b9 {
    background: none;
    height: 64px;
}

.panels__58331 .hoverRoll__041cb {
    pointer-events: none;
}

.panels__58331 .title__10613,
.panels__58331 .subtext__8f869 {
    color: var(--nox-white7);
}

.panels__58331 .withTagAsButton_cc125f:hover,
.panels__58331 .withTagless__98b7d:hover {
    background: none;
    .title__10613 {
        color: var(--nox-white);
    }
}

.panels__58331 .withTagAsButton_cc125f:after,
.panels__58331 .withTagless__98b7d:after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 40px;
    background: var(--nox-white);
    border-radius: 32px;
    opacity: 0;
    transition: 300ms ease;
    pointer-events: none;
}

.panels__58331 .withTagAsButton_cc125f:active:after,
.panels__58331 .withTagless__98b7d:active:after {
    opacity: 0.1;
    animation: scale 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease;
}