.panels__58331 {
    background: var(--nox-level3);

    .container_debb33 {
        background: none;
        height: 64px;
    }
    
    .hoverRoll__3ea9e {
        pointer-events: none;
    }
    
    .title__4a7a9,
    .subtext_ce73b4 {
        color: var(--nox-white4);
    }
    
    .withTagAsButton_e22174:hover,
    .withTagless__058f8:hover {
        background: none;
        .title__4a7a9 {
            color: var(--nox-white7);
        }
    }
    
    .withTagAsButton_e22174:after,
    .withTagless__058f8:after {
        content: "";
        display: block;
        position: absolute;
        width: 120px;
        height: 40px;
        background: var(--nox-white);
        border-radius: 32px;
        opacity: 0;
        transition: 300ms ease;
        pointer-events: none;
    }
    
    .withTagAsButton_e22174:active:after,
    .withTagless__058f8:active:after {
        opacity: 0.1;
        animation: scale 200ms cubic-bezier(0, 0, 0, 1);
        transition: 0ms ease;
    }    
}


// Icons
.container_debb33 {
    // Settings cog
    .button_ae40a4[aria-label="User Settings"] svg {
        d: path("M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z");
    }

    // Deafen
    .button_ae40a4[aria-label="Deafen"][aria-checked="false"] {
        top: 1px;
    }
    .button_ae40a4[aria-label="Deafen"] svg {
        d: path("M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7c0-4.97-4.03-9-9-9z");
    }
    .button_ae40a4[aria-label="Deafen"][aria-checked="true"] svg {
        d: path("M12 4c3.87 0 7 3.13 7 7v2h-2.92L21 17.92V11c0-4.97-4.03-9-9-9-1.95 0-3.76.62-5.23 1.68l1.44 1.44C9.3 4.41 10.6 4 12 4zM2.27 1.72L1 3l3.33 3.32C3.49 7.68 3 9.29 3 11v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-1.17.29-2.26.79-3.22L15 17v4h3c.3 0 .59-.06.86-.14L21 23l1.27-1.27-20-20.01z");
    }

    // Mute
    .button_ae40a4[aria-label="Mute"] svg {
        d: path("M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z");
    }
    .button_ae40a4[aria-label="Mute"][aria-checked="true"] svg {
        d: path("M19 11h-1.7c0 .74-.16 1.43-.43 2.05l1.23 1.23c.56-.98.9-2.09.9-3.28zm-4.02.17c0-.06.02-.11.02-.17V5c0-1.66-1.34-3-3-3S9 3.34 9 5v.18l5.98 5.99zM4.27 3L3 4.27l6.01 6.01V11c0 1.66 1.33 3 2.99 3 .22 0 .44-.03.65-.08l1.66 1.66c-.71.33-1.5.52-2.31.52-2.76 0-5.3-2.1-5.3-5.1H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c.91-.13 1.77-.45 2.54-.9L19.73 21 21 19.73 4.27 3z");
    }
}