// Content background color
.standardSidebarView__12528 .contentRegionScroller__9ae20 {
    background: var(--nox-level2);
}

.contentColumn__5f80b .input_f27786,
.bioTextArea_f46f71.bioTextArea_f46f71 {
    background-color: var(--nox-level1);
}

.itemFilled__5a849 {
    background-color: var(--nox-level3);
}

.itemFilled__5a849[aria-checked="true"] {
    background-color: var(--nox-level1);
}

.top_fae1fa .brand_ce3ecf.item__48dda:hover {
    border-color: var(--nox-white4);
}
.top_fae1fa .brand_ce3ecf.selected_a523ff.item__48dda {
    border-color: var(--nox-accent);
}

.avatarBackground__1bc8d {
    background-color: transparent;
}

.health__313df {
    width: 95%;
}
.line_bfb82b,
.marker_ec77a6 {
    background-color: var(--nox-level3);
}
.marker_ec77a6 .empty__3837d {
    background-color: var(--nox-level1);
}

.cardPrimary_cb7a0e.outline__16075 {
    background: var(--nox-level3);
    border: none;
}

.connectContainer_e331e3 {
    background-color: var(--nox-level1);
}
.accountButtonInner__00bdd {
    background-color: var(--nox-level2);
}

.connection__6dbd8 {
    background-color: var(--nox-level1-5);
}
.connectionHeader__2b82f {
    background: var(--nox-level1);
}
.metadataContainer__1842c,
.integration_b27c42 {
    background-color: var(--nox-level2);
}

#appearance-tab .cardPrimary_cb7a0e.outline__16075 {
    background-color: var(--nox-level1);
}

#bd-editor-controls {
    background-color: var(--nox-level1);
}

.bd-addon-list .bd-addon-card {
    background: var(--nox-level1-5);
}
.bd-addon-list .bd-addon-header {
    background: var(--nox-level1);
}