// Content background color
.standardSidebarView__1129a .contentRegionScroller__86c79 {
    background: var(--nox-level2);
}

.contentColumn_dc7d36 .input_d266e7,
.bioTextArea_a108c9.bioTextArea_a108c9 {
    background-color: var(--nox-level1);
}

.itemFilled__373d7 {
    background-color: var(--nox-level3);
}

.itemFilled__373d7[aria-checked="true"] {
    background-color: var(--nox-level1);
}

.top__592a7 .brand_ce3ecf.item__48dda:hover {
    border-color: var(--nox-white4);
}
.top__592a7 .brand_ce3ecf.selected__5711d.item__48dda {
    border-color: var(--nox-accent);
}

.avatarBackground__92f2a {
    background-color: transparent;
}

.health__313df {
    width: 95%;
}
.line__333ed,
.marker__6f061 {
    background-color: var(--nox-level3);
}
.marker__6f061 .empty__3837d {
    background-color: var(--nox-level1);
}

.cardPrimary_cb7a0e.outline_cb0aed {
    background: var(--nox-level3);
    border: none;
}

.connectContainer__8050b {
    background-color: var(--nox-level1);
}
.accountButtonInner__80e3a {
    background-color: var(--nox-level2);
}

.connection_fff5f6 {
    background-color: var(--nox-level1-5);
}
.connectionHeader__3c82d {
    background: var(--nox-level1);
}
.metadataContainer__7b316,
.integration_d2f026 {
    background-color: var(--nox-level2);
}

#appearance-tab .cardPrimary_cb7a0e.outline_cb0aed {
    background-color: var(--nox-level1);
}

#bd-editor-controls {
    background-color: var(--nox-level1);
}

.bd-addon-list .bd-addon-card {
    background: var(--nox-level1-5);
}
.bd-addon-list .bd-addon-header {
    background: var(--nox-level1);
}