
.bd-plugin-container,
.bda-slist li {
    background: var(--nox-level1)!important;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 0!important;
    padding-bottom: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2)
}

.bd-plugin-container {
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
}

.bd-plugin-container .bd-plugin-info .bd-plugin-name,
.bda-slist .bda-name {
    color: var(--nox-white7)!important;
    border: none!important;
}

.bd-plugin-container .bd-plugin-info .bd-plugin-description,
.bda-slist .bda-description {
    color: var(--nox-white7)
}

.bd-plugin-container .bd-plugin-info .bd-plugin-description {
    margin-top: 5px
}

.bda-slist .checkbox::before {
    color: var(--nox-white5);
}

.avatar-uploader .avatar-uploader-inner {
    border-color: var(--nox-level1)
}

div.control-group .shortcut-recorder input {
    background: var(--nox-level2);
    color: var(--nox-white);
    border: 2px solid var(--nox-level1)
}

div.control-group .shortcut-recorder input:focus {
    border: 2px solid #F04747;
}

.bd-settings #bd-customcss-attach-controls {
    border: none;
    background: var(--nox-level2);
    box-shadow: none;
}

.bd-settings .CodeMirror {
    border-radius: 3px;
}

.standardSidebarView-3F1I7i #bd-settingspane-container .content-column.default .ui-form-title.h2+.bd-pfbtn,
.bd-updatebtn {
    background:var(--nox-accent);
    font-weight:600;
}

.bd-updatebtn {
    margin-left: 30px;
}

#bd-settings-sidebar .ui-tab-bar-separator {
    display: none;
}

#bd-settings-sidebar::after {
    content: "";
    display: block;
    background: rgba(255,255,255,.04);
    height: 2px;
    margin: 8px 10px;
}

#bd-settings-sidebar + .separator-gCa7yv {
    display: none;
}

#bd-settingspane-container h2.ui-form-title{
    display: inline-block;
  }

  .standardSidebarView-3F1I7i #editor-detached button {
    background: var(--nox-accent);
}

.bda-slist .bda-footer a,
#bd-settings-sidebar a {
    color: var(--nox-accent) !important;
}

#bd-settingspane-container .ui-switch-item h3{
    color:rgba(255,255,255,.95);
}
#bd-settingspane-container .ui-switch-item .style-description{
    color:var(--nox-white3);
    line-height:15px;
    padding-bottom:10px;
    border-bottom: 2px solid rgba(255,255,255,.04);
    margin-top:0;
}

#bd-settings-sidebar .ui-tab-bar-header{
    color: rgba(255,255,255,.25);
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch-checkbox+.ui-switch:before{
    transform:translate(-1px,0);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch-checkbox:checked+.ui-switch:before{
    transform:translate(21px,0)!important;
}
.standardSidebarView-3F1I7i .bda-slist .bda-right .ui-switch-wrapper{
    position:relative;
}
.standardSidebarView-3F1I7i .bda-slist .bda-right .ui-switch-wrapper{
    left:auto;
    margin-left:auto;
    position:relative;
    right:10px!important;
    flex:initial!important;
    display: block;
    height: 15px;
}
.bd-plugin-container, .bda-slist li{
    border:none!important;
    background:#292929!important;
    border-radius:4px;
}



.standardSidebarView-3F1I7i .bda-slist .bda-right button{
    position:absolute;
    bottom:5px;
    right:0;
}

.standardSidebarView-3F1I7i .bda-slist .bda-description{
    color:var(--nox-white5);
}




#bd-settings-sidebar span{
    color:var(--nox-white3)!important;
}


.standardSidebarView-3F1I7i #bd-settingspane-container .content-column.default{
    position:relative;
}









.standardSidebarView-3F1I7i .bda-slist li{
    position:relative;
}
.standardSidebarView-3F1I7i .bda-slist li h3{
    color:var(--nox-white8);
}
.standardSidebarView-3F1I7i .bda-slist li{
    color:var(--nox-white6);
}
.standardSidebarView-3F1I7i .bda-slist li textarea,
.standardSidebarView-3F1I7i .bda-slist li input{
    color:var(--nox-white6);
    background:transparent;
    border:none;
    border-bottom:2px solid var(--nox-white4);
    max-width:100%;
}
.standardSidebarView-3F1I7i .bda-slist li textarea:focus,
.standardSidebarView-3F1I7i .bda-slist li input:focus{
    border-bottom:2px solid var(--nox-accent);
    outline:0;
    color:var(--nox-white8);
}
.standardSidebarView-3F1I7i .bda-slist li button{
    color:var(--nox-white);
    margin-right:5px;
}
.standardSidebarView-3F1I7i .bda-slist li li{
    min-height: initial;
    max-height: initial;
    box-shadow:none;
}

.standardSidebarView-3F1I7i .bda-slist li input[type=range] {
  -webkit-appearance: none;
  width: 150px;
  background: transparent;
  border:none!important;
  position:relative;
  height:10px;
}

.standardSidebarView-3F1I7i .bda-slist li input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.standardSidebarView-3F1I7i .bda-slist li input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background:var(--nox-accent);
  width:20px;
  height: 20px;
  cursor: pointer;
  border-radius:50%;
  margin-top:-8px;
  box-shadow:0 2px 10px rgba(0,0,0,.3);
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background:var(--nox-accent);
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}





.standardSidebarView-3F1I7i .bda-slist .bda-description{
    border-color:rgba(255,255,255,.03);
}









#bd-settingspane-container .bda-slist::after {
    display: block;
    position: relative;
    background: var(--nox-accent);
    padding: 10px 15px;
    white-space: pre;
    margin-bottom: -10px;
    margin-bottom:5px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    font-weight: 600;
    color: var(--nox-white);
    text-transform: initial;
    text-align:center;
    order:-10;
}
#bd-settings-sidebar>span>span::after,
#bd-settings-sidebar>span>div:nth-child(3)::after {
    padding-left:10px;
    display:block;
    padding-top:5px;
    margin-bottom:-10px;
    content: var(--nox-version);
}

#bd-settings-sidebar>span>div:nth-child(3)::after {
    padding-left: 0px;
    margin-bottom: 0px;
}
#bd-settingspane-container .bda-slist{
  display:flex;
  flex-direction:column;
}

#bd-settingspane-container .bda-slist::before {
    display: block;
    position: relative;
    background: var(--nox-accent);
    padding: 10px 15px;
    white-space: pre;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    font-weight: 600;
    margin-top: 2px;
    color: var(--nox-white);
    text-transform: initial;
}

.bda-slist .ui-switch-wrapper {
    margin-top: 9px;
}