.root-1gCeng .footer-3rDWdC {
  background-color: var(--nox-level2);
  border-top: 0!important;
  box-shadow: none;
}

.root-1gCeng .emojiButtonContainer-3d6DFV {
    margin-left: 0;
}

.root-1gCeng .emojiButton-2NpAb3 {
    padding: 0;
    width: 32px;
    filter: none!important;
    box-shadow: none!important;
    background-color: transparent;
}

.root-1gCeng .emojiButton-2NpAb3 img.emoji,
.root-1gCeng .emojiButton-2NpAb3 img.emoji:hover {
    background-color: var(--nox-level2);
}

.art-347BZj {
    filter: grayscale(100%) brightness(90%);
}