.backdrop-1wrmKB[style*="background-color: rgb(255, 255, 255);"] {
    background-color: black!important;
  }
  
  .downloadApps-wbBFdZ .footer-1nkeBm a,
  .downloadApps-wbBFdZ .header-nJMe-Q {
    color: var(--nox-accent);
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ {
    border-color: var(--nox-accent);
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ .downloadButton-1bWXpg {
    background-color: var(--nox-accent);
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ p {
    color: var(--nox-accent);
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 .icon-2Pk7pb {
    transform: scale(0.8);
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ .icon-2Pk7pb.active-iLSdWQ {
    opacity: 0;
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ .icon-2Pk7pb {
    opacity: 1;
    filter: brightness(0);
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236 .iconWrap-1pnF3w {
    transition: background 200ms ease;
    border-radius: 25px;
    background: transparent;
  }
  
  .downloadApps-wbBFdZ .platforms-28Rb-3 .platform-iik236.active-iLSdWQ .iconWrap-1pnF3w {
    background: var(--nox-accent);
  }