.lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.selectorButtonSelected-1j4DmC {
  background: var(--nox-accent);
}
.selectorNitroIcon-2rQO-z path {
  fill: var(--nox-accent);
}
.modal-3HD5ck .tiles-2aXG_k {
  background: var(--nox-level2);
}
.imageSelected-4Kl81J {
  border-color: var(--nox-accent);
}