// Home Icon
.homeIcon__00b1b {
    width: 32px;
    height: 32px;
}

// Change to home symbol
.childWrapper__01b9c:not(.acronym_cd4809) path {
    d: path("M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z") !important;
    transform: translate(2px, -2px);
}
