// Guild list bg color
.guilds__2b93a {
    z-index: $guilds-elevation;
    width: 70px;
    background: var(--nox-level1) !important;
    box-shadow: $elevation-shadow;
}

// Remove existing color and padding
.guilds__2b93a .scroller_de945b {
    background: transparent;
    padding: 0;
}

// Hide scroller
.guilds__2b93a .scroller_de945b::-webkit-scrollbar {
    width: 0 !important;
}

// Separator
.guildSeparator__75928 {
    background: var(--nox-white1);
}

// Remove move down on click
.listItemWrapper__3d465:active,
.listItem__48528 .blobContainer_c44493:active {
    transform: none;
}

// remove folder background
.folder__17546 {
    background: none !important;
}

// recolor closed folders
.collapsed__98ad5+div .folderIconWrapper__11165 {
    background: var(--nox-white2) !important;
}

// recolor open folders
.expandedFolderBackground_b1385f {
    background: var(--nox-white1) !important;
}

// TODO might be able to remove this - Remove weird folder background
.expandedFolderBackground_b1385f.collapsed__98ad5 {
    background: none !important;
}

// Allow smaller border radii
.expandedFolderBackground_b1385f + .listItem__48528 .svg__34dd4 foreignObject {
    mask: none;
}

// remove margin between servers
.listItem__48528 {
    margin-bottom: 0;
    width: 70px;
}

// increase clicking area
.listItem__48528 .svg__34dd4 {
    height: 70px;
    width: 70px;
    z-index: $guilds-elevation;
}

// allow dragging to work properly
.wrapper__0a9af {
    z-index: $guilds-elevation;
}

// increase wrapper size and center servers
.listItem__48528 .wrapper__9916c {
    height: 70px;
    width: 70px;
    border-radius: unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

// scale down icons back to normal
.wrapper__8436d .childWrapper_a6ce15, // home icon
.wrapper__8436d .acronym_fb7739, // iconless servers
.folder__17546 .folderIconWrapper__11165, // folders
.circleIconButton__05cf2, // add server and discovery
.wrapper__8436d .icon__11cf1 {
    transform: scale(calc(48/70));
    border-radius: 50%;
}

// fix spacing after unread dm circle
.scroller_de945b div[style="opacity: 1; height: 56px; transform: scale(1);"] {
    height: 70px !important;
}

// Home button and circle buttons
.childWrapper_a6ce15,
.circleIconButton__05cf2 {
    background: var(--nox-level2);
}

// change blurple to accent bg
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, // home icon and iconless guilds
.circleIconButton__05cf2.selected_aded59 { // add server and discovery
    background: var(--nox-accent);
}

// discovery and add server change blurple to accent
.circleIconButton__05cf2 {
    color: var(--nox-accent);
}

// blanks pill item
.listItem__48528 .item_f9d377 {
    box-sizing: border-box;
    background: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

// set up hover/active/selected bg
.wrapper__9916c::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 0;
}

// hover bg
.wrapper__9916c:hover::after {
    background: var(--nox-white1);
}

// active bg
.wrapper__9916c:active::after {
    background: var(--nox-black2);
}

.selected_e85eba .wrapper__9916c::after,
.selected__501f5 .wrapper__9916c::after,
.listItem__48528:has(.item_f9d377[style="opacity: 1; height: 40px; transform: none;"]) .wrapper__9916c::after {
    background: var(--nox-black2);
}

// set up unread circle
.wrapper__9916c::before {
    content: "";
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    top: 6px;
    left: 6px;
    border: 3px solid transparent;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 2;
}

.listItem__48528:has(.item_f9d377[style="opacity: 1; height: 8px; transform: none;"]) .wrapper__9916c::before {
    border-color: var(--nox-notification-color);
}


// TODO might move to another file Server folder stuff

// change hover/active/selected background for folders
.wrapper__832f2 ul[id*=folder-items] .wrapper__9916c::after {
    width: 60px;
    left: 5px;
}

// prevent hover highlight for open folder icon
.wrapper__832f2 > :not(.collapsed__98ad5) + .listItem__48528 .wrapper__9916c::after {
    content: none
}

.wrapper__832f2 ul[id*=folder-items] .listItem__48528:last-child .wrapper__9916c::after {
    border-radius: 0 0 30px 30px;
    height: 62px;
}

.wrapper__832f2 ul[id*=folder-items] {
    height: auto !important;
}

.expandedFolderBackground_b1385f {
    padding: 6px;
    left: 5px;
    border-radius: 16px 16px 30px 30px;
}


// BADGES

// alignment of badges
.lowerBadge_e89e22,
.upperBadge__00ad0 {
    top: calc((100% - 48px) / 2);
    left: calc((100% - 48px) / 2);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    z-index: calc($guilds-elevation + 1);
}

.lowerBadge_e89e22 {
    align-items: flex-end;
}

.upperBadge__00ad0 {
    align-items: flex-start;
}

// in call background green to accent
.iconBadge__19638.participating-2Z81oO {
    background-color: var(--nox-accent);
}

// recolor call available background
.iconBadge__19638 {
    background-color: var(--nox-level1-5);
}

// recolor ping icon
.numberBadge__40d6f {
    background-color: var(--nox-important-notification) !important;
}

// TODO Will move to separate file

// folder color to accent
.expandedFolderIconWrapper__324c1 svg {
    color: var(--nox-accent) !important;
}

// material icon
.folder__17546 svg path {
    d: path("M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z");
}

// material icon hover/open
.folder__17546.hover__043de svg path {
    d: path("M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z");
}

// make material icon bigger
.folder__17546 svg {
    height: 32px;
    width: 32px;
}

// enlarge drag placeholder wrapper
.placeholderMask_ca6625 {
    width: 70px;
    height: 70px;
}

 // color and scale icon back down
.dragInner_d5b34c {
    background-color: var(--nox-black3);
    border-radius: 50%;
    transform: scale(calc(48/70));
}

// dragging position indicator green to accent
.centerTarget_ec3a01.dragOver_efabec:before, // combine server
.target__2c5c2.dragOver_efabec:before { // above server
	background-color: var(--nox-accent);
}