/* Activity Feed */
#app-mount .activityFeed-1C0EmJ,
.activityFeed-1C0EmJ .feed-1o0xmF {
    background: var(--nox-level1);
}

.card-GqTca8 {
    box-shadow: 0 5px 5px var(--nox-black4);
}

.card-GqTca8,
.card-GqTca8 .cardBody-3kgGGF,
.card-GqTca8 .cardBody-3_HhbX,
.card-GqTca8 .popoutContainer-3WC9HR,
.card-GqTca8.outer-2IVh5n {
    background: var(--nox-level2);
}

.card-GqTca8 .section-2VKIPC,
.card-GqTca8 .cardHeader-ey0m8X,
.card-GqTca8 .cardHeader-3nTWsD {
    background: var(--nox-level3);
}

.card-GqTca8 .cardHeader-ey0m8X:hover,
.card-GqTca8 .cardHeader-3nTWsD:hover {
    background: var(--nox-level2);
}

.card-GqTca8 .title-3sZWYQ {
    padding: 5px 0 0 8px;
}

// .card-GqTca8 .cardHeader-ey0m8X::after,
// .card-GqTca8 .cardHeader-3nTWsD::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }

// .card-GqTca8 .cardHeader-ey0m8X:hover::after,
// .card-GqTca8 .cardHeader-3nTWsD:hover::after {
//     background: var(--nox-accent);
//     opacity: 0.05;
// }

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: var(--nox-level1);
}

.card-GqTca8 .button-38aScr {
    margin-bottom: 0!important;
}

.dock-1-sUKH {
    margin-top: 5px;
    padding-bottom: 5px;
}
.overflowMenu-3mlkvt,
.dock-1-sUKH .dockItem-2kQDqg button {
    margin: 0;
}

.dock-1-sUKH .dockItem-2kQDqg:hover {
    background: var(--nox-level2);
    box-shadow: 0 5px 5px var(--nox-black4);
}

.overflowMenu-3mlkvt {
    opacity: 1;
}

.buttonText-13IoY7 {
    padding: 0;
}

.card-GqTca8 .lookBlank-3eh9lL,
.card-GqTca8 .lookBlank-3eh9lL:hover,
.card-GqTca8 .lookBlank-3eh9lL:active,
.overflowMenu-npo2XH,
.overflowMenu-npo2XH:hover,
.overflowMenu-npo2XH:active {
    background: none!important;
    transform: none!important;
    box-shadow: none!important;
    filter: none!important;
    padding: 0;
    min-height: unset;
    color: white!important;
}

.card-GqTca8 .lookBlank-3eh9lL::after,
.overflowMenu-npo2XH::after {
    content:"";
    background:var(--nox-white);
    border-radius:50%;
    display:block;
    width:100%;
    padding-top:100%;
    height:0;
    position:absolute;
    opacity:0;
    transform:scale(1.4);
    transition:all 300ms ease, visibility 0ms 300ms;
    animation-fill-mode: forwards;
    visibility: hidden;
    pointer-events: none;
    top: 0;
}

.card-GqTca8 .lookBlank-3eh9lL:active::after,
.overflowMenu-npo2XH:active::after {
    opacity:0.1;
    transition:all 300ms ease, visibility 0ms;
    visibility: visible;
    animation:scale 100ms cubic-bezier(.2,0,0,1),opacity 50ms ease;
}
/* /Activity Feed */
.pagination-1GYdtQ .paginationItem-2lUq0s {
    box-shadow: 0 5px 5px var(--nox-black4);
}

.pagination-1GYdtQ .paginationItem-2lUq0s::after {
    background: linear-gradient(270deg,transparent 0, var(--nox-level3));
}

.pagination-1GYdtQ .scroller-2FKFPG {
    padding-bottom: 5px;
}

.carousel-2WxMes {
    box-shadow: 0 5px 5px var(--nox-black4);
}

.news-1uHrMX,
.carousel-JbsNzL,
.article-3kb3qm {
    background: var(--nox-level3);
}

.news-1uHrMX:hover {
    background: var(--nox-level3);
}

.news-1uHrMX:hover .background-3zYSQO {
    filter: brightness(125%);
}


.popouts-3dRSmE .gamePreview-9weYR2 {
    background: var(--nox-level2);
}

.gamePreview-9weYR2 .body-1SVoBw {
    background: var(--nox-level1);
}


.coloredBackground-37Z6Gv {
    background: url(/assets/0858a3392fd80f98d8957ad7c3e195d3.svg) no-repeat 100% 0 var(--nox-accent);
}

.grid-1rkoVH {
    padding: 0 6px;
    column-gap: 6px;
}