// sidebar
.sidebar-1tnWFu {
    background-color: var(--nox-level2);
}

.categoryItem-1QIroW .itemInner-gPkiWb:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.categoryItem-1QIroW .itemInner-gPkiWb:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: var(--nox-accent);
}

// content area
.content-1SgpWY .pageWrapper-2PwDoS {
    background-color: var(--nox-level1);
}

.footerImage-3DpC_8,
.headerImage-2D5D-v {
    filter: grayscale(100%) brightness(50%);
}

.pageWrapper-2PwDoS .input-2g-os5:focus {
    box-shadow: none!important;
}

.search-25t1e9 .searchBox-31Zv9h:focus,
.search-25t1e9 .searchBox-31Zv9h:focus-within {
    box-shadow: 0 0 0 1px var(--nox-accent), 0 0 0 2px var(--nox-accent), 0 0 0 3px var(--nox-accent);
}

.pageWrapper-2PwDoS .card-2TuZPZ,
.pageWrapper-2PwDoS .iconMask-2fMR98 {
    background-color: var(--nox-level3);
}

.pageWrapper-2PwDoS .card-2TuZPZ:hover,
.pageWrapper-2PwDoS .iconMask-2fMR98:hover,
.pageWrapper-2PwDoS .iconMask-2fMR98:hover .iconMask-2fMR98 {
    background-color: var(--nox-level2);
}

.pageWrapper-2PwDoS .card-2TuZPZ:hover .splash-1VADA3 {
    transform: scale(1.01) translateZ(0);
}

.pageWrapper-2PwDoS .card-2TuZPZ:hover {
    transform: translateY(-1px);
}

.pageWrapper-2PwDoS .card-2TuZPZ:focus .splash-1VADA3 {
    transform: scale(0.99) translateZ(0);
}

.pageWrapper-2PwDoS .card-2TuZPZ:focus {
    transform: translateY(1px);
}