.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--nox-level1);
}

.bg-AYqtMd {
    filter: brightness(50%);
}

.search-JQJ-3r .searchBox-3Y2Vi7 {
    background: transparent;
    box-shadow: none;
};

.guildCard-2arfcG .card-3DjzTQ {
    background-color: var(--nox-level2);
}

.guildCard-2arfcG .card-3DjzTQ:hover {
    background-color: var(--nox-level3);
}



// Language dreopdown
.css-1rckt42-menu,
.css-1wqqa50-container {
    background: var(--nox-level1);
}
.css-12o7ek3-option {
    background: var(--nox-black3);
}
// .css-1aymab5-option //css-1ye7vu0

.css-1ye7vu0::-webkit-scrollbar {
    width: 13px
}
.css-1ye7vu0::-webkit-scrollbar-track {
    display:none;
}
.css-1ye7vu0::-webkit-scrollbar-track-piece {
    border: 4px solid var(--nox-white0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.css-1ye7vu0::-webkit-scrollbar-thumb {
    border: 4px solid var(--nox-white0) !important;
    background-color: rgba(225, 225, 225, 0.1) !important;
    display: initial;
}
.css-1ye7vu0::-webkit-scrollbar-thumb:hover {
    border: 4px solid var(--nox-white0) !important;
    background-color: rgba(225, 225, 225, 0.15) !important;
}
.css-1ye7vu0::-webkit-scrollbar-thumb:active {
    border: 4px solid var(--nox-white0) !important;
    background-color: rgba(225, 225, 225, 0.2) !important;
}