// sidebar
.sidebar-2K8pFh {
    background-color: var(--nox-level2);
}

.categoryItem-1QIroW .itemInner-gPkiWb:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.categoryItem-1QIroW .itemInner-gPkiWb:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: var(--nox-accent);
}

// content area
.content-98HsJk .pageWrapper-1PgVDX {
    background-color: var(--nox-level1);
}

.footerImage-1CwWjz,
.headerImage-3X1tyY {
    filter: grayscale(100%) brightness(50%);
}

.pageWrapper-1PgVDX .input-cIJ7To:focus {
    box-shadow: none!important;
}

.search-1iTphC .searchBox-2_mAlO:focus,
.search-1iTphC .searchBox-2_mAlO:focus-within {
    box-shadow: 0 0 0 1px var(--nox-accent), 0 0 0 2px var(--nox-accent), 0 0 0 3px var(--nox-accent);
}

.pageWrapper-1PgVDX .card-3DjzTQ,
.pageWrapper-1PgVDX .iconMask-3b8GzQ {
    background-color: var(--nox-level3);
}

.pageWrapper-1PgVDX .card-3DjzTQ:hover,
.pageWrapper-1PgVDX .iconMask-3b8GzQ:hover,
.pageWrapper-1PgVDX .iconMask-3b8GzQ:hover .iconMask-3b8GzQ {
    background-color: var(--nox-level2);
}

.pageWrapper-1PgVDX .card-3DjzTQ:hover .splash-3N0nhD {
    transform: scale(1.01) translateZ(0);
}

.pageWrapper-1PgVDX .card-3DjzTQ:hover {
    transform: translateY(-1px);
}

.pageWrapper-1PgVDX .card-3DjzTQ:focus .splash-3N0nhD {
    transform: scale(0.99) translateZ(0);
}

.pageWrapper-1PgVDX .card-3DjzTQ:focus {
    transform: translateY(1px);
}