.container-1D34oG {
    background: var(--nox-level1) !important;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border-top: 0px solid transparent!important;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud {
    transition: all 100ms ease,z-index 0ms 100ms;
    margin-top: 10px;
  margin:0 20px 0 20px;
  opacity: .9!important;
  border-radius: 0;
  background:#333333;
    padding: 16px 10px;
    z-index: 0;
    position: relative;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:first-of-type:hover,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:first-of-type{
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 20px;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:last-of-type:hover,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:last-of-type{
  border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .username{
  color:var(--nox-white8)!important;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:hover {
    transition: all 100ms ease,z-index 0ms;
    opacity: 1!important;
    background:#353535!important;
    z-index: 2;
    border-radius: 0;
  box-shadow: 0 3px 10px rgba(0,0,0,.05);
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:active {
  transition: all 50ms ease,z-index 0ms;
    opacity: 1!important;
    background:#353535;
    z-index: 2;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm .wrapper-2F3Zv8 {
    border: none;
    transition: all 300ms ease;
    margin-left: 10px;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnName-1zBOKm .wrapper-2F3Zv8 {
    transition: all 100ms ease;
}

.container-1D34oG .friendsTable-133bsv .friendsTableBody-1ZhKif {
    background: var(--nox-level1);
    padding-top: 31px;
}

.container-1D34oG .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ {
    color: rgba(225, 225, 225, 0.3)!important;
    transition: all 200ms ease
}

.container-1D34oG .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ:hover {
    color: rgba(225, 225, 225, 0.7)!important;
}

/* .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP {
    transition: all 200ms ease!important;
} */


.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP:not(.primary-3j8BhM) {
  color: var(--nox-white2);
  height: 55px;
  line-height: 55px;
  box-sizing: border-box;
  border-radius: 0;
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.selected-3s45Ha {
  background: none;
  color: var(--nox-white);
  border-bottom: 2px solid var(--nox-white);
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .discord-tag .discriminator {
    visibility: visible;
    color: rgba(225, 225, 225, 0);
    transition: all 100ms ease;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .discriminator,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M {
    transition: all 100ms ease!important;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:active .friendsColumnActions-1LT3_M,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M{
    transition: all 100ms ease!important;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:hover .discriminator {
    transition: all 0ms ease!important;
    color: rgba(225, 225, 225, 0.4);
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: transparent!important;
    transition: all 200ms cubic-bezier(.33, .01, 0, 1);
    border-radius: 50%;
    transform: scale(1);
    opacity: 0.6;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9::after {
    content:"";
    background:#fff;
    border-radius:50%;
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    opacity:0;
    transform:scale(1);
    transition:300ms ease;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:active::after{
    opacity:0.1;
    transform:scale(1);
    animation:scale 200ms cubic-bezier(.4,0,0,1),opacity 100ms ease;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionAccept-3mkemT::after,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionIgnore-1-RPlq::after{
  background:#000!important;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionAccept-3mkemT:active::after,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionIgnore-1-RPlq:active::after{
  opacity:0.2;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:hover,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:active {
  background-color:rgba(255,255,255,.1)!important;
  opacity: 1;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionIgnore-1-RPlq:active,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionIgnore-1-RPlq:hover{
  background-color: #f04747!important;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionAccept-3mkemT:active,
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionAccept-3mkemT:hover{
  background-color: #43b581!important;
}
.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M {
    padding-right: 12px;
    visibility: visible;
    opacity: 0;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud:hover .friendsColumnActions-1LT3_M {
    padding-right: 12px;
    visibility: visible;
    opacity: 1;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M {
    padding-right: 12px;
}


.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionAccept-3mkemT {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiICB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNSwxNEMxMi4zMywxNCA3LDE1LjMzIDcsMThWMjBIMjNWMThDMjMsMTUuMzMgMTcuNjcsMTQgMTUsMTRNNiwxMFY3SDRWMTBIMVYxMkg0VjE1SDZWMTJIOVYxME0xNSwxMkE0LDQgMCAwLDAgMTksOEE0LDQgMCAwLDAgMTUsNEE0LDQgMCAwLDAgMTEsOEE0LDQgMCAwLDAgMTUsMTJaIiAvPgo8L3N2Zz4K);
    background-size: 62%;
    background-position: 50%;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionIgnore-1-RPlq {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    background-size: 67%;
    background-position: 50%;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionAccept-3mkemT {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNOSAxNi4xN0w0LjgzIDEybC0xLjQyIDEuNDFMOSAxOSAyMSA3bC0xLjQxLTEuNDF6Ii8+PC9zdmc+);
    background-size: 67%;
    background-position: 50%;
}

.container-1D34oG .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border-bottom: 0!important;
    background: #252525;
    z-index: 7
}

.container-1D34oG .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: var(--nox-level3)!important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .8);
    z-index: 8;
    border-bottom: 0!important
}

.container-1D34oG .friendsTable-133bsv {
    margin-top: 0;
    padding-top: 0;
}



/*--Friends Search bar--*/
.privateChannels-1nO12o {
    -webkit-transform: none;
    transform: none;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 button {
  font-size: 0;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 {
    position: absolute;
    background: transparent;
    z-index: 5;
    bottom:40px;
    right:35px;
    padding: 0;
    overflow:hidden;
    border:none;
    transition:box-shadow 200ms;
    transform:translate(50%,50%)scale(.195);
    width:260px;
    height:260px;
    border-radius: 100000px;
    box-shadow: 0 25.64px 76.92px rgba(0, 0, 0, .25), 0 -5.13px 0px rgba(0, 0, 0, 0.2) inset, 0 10.26px 5.13px rgba(255,255,255,.03) inset!important;
    background: var(--nox-level1);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    background-position:bottom 50% right 78px;
    background-repeat: no-repeat;
    background-size: 40%;
    transition: all 500ms cubic-bezier(.4,0,0,1) 200ms,transform 400ms cubic-bezier(.4,0,0,1),background-color 200ms ease,background-image 200ms ease 200ms,box-shadow 200ms ease;
}

.privateChannels-1nO12o .searchBar-6Kv8R2:hover{
  background-color:#353535;
  box-shadow: 0 51.28px 76.92px rgba(0, 0, 0, .3), 0 -5.13px 0px rgba(0, 0, 0, 0.2) inset, 0 10.26px 5.13px rgba(255, 255, 255, .05) inset;
}

.privateChannels-1nO12o .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  border-radius: 0;
  position: absolute;
  visibility: visible;
  z-index: 3;
  width:100%;
  height:100%;
  background: transparent;
  border:none;
  padding: 0
}
  
//   .privateChannels-1nO12o .searchBar-6Kv8R2 input{
//     pointer-events: initial;
    
    
//     border:none;
//     width:100%;
//     height:100%;
    
//     cursor: pointer;
//   }
  // .stop-animations .privateChannels-1nO12o .searchBar-6Kv8R2 input{
  //   transform:translate(50%,50%)scale(.195)!important;
  // }

  // .privateChannels-1nO12o .searchBar-6Kv8R2 input:focus{
  //   bottom:50%;
  //   right:50%;
  //   transform:translate(50%,50%)scale(1);
  //   cursor: text;
  //   transition: all 500ms cubic-bezier(.4,0,0,1),transform 400ms cubic-bezier(.4,0,0,1),background-color 200ms ease,background-image 150ms ease,box-shadow 200ms ease;
  //   background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48L3N2Zz4=);
  //   box-shadow: 0 51.28px 76.92px rgba(0, 0, 0, 0), 0 -5.13px 0px rgba(0, 0, 0, 0) inset, 0 10.26px 5.13px rgba(255, 255, 255, 0) inset;
  //   background-color:#373737;
  // }
  // .privateChannels-1nO12o .searchBar-6Kv8R2 input::-webkit-input-placeholder{
  //   color:transparent;
  //   transition:100ms ease;
  // }
  // .privateChannels-1nO12o .searchBar-6Kv8R2 input:focus::-webkit-input-placeholder{
  //   color:var(--nox-white3);
  //   transition:200ms ease 300ms;
  // }

  .privateChannels-1nO12o .channel-2QD9_O .wrapper-2F3Zv8:hover{
    z-index: 1
  }
  .privateChannels-1nO12o .scrollerWrap-2lJEkd{
    flex-direction: column;
  }
  .privateChannels-1nO12o .scrollerWrap-2lJEkd::before{
    min-height: 48px; // alt 56
    width: 100%;
    background: var(--nox-level3);
    content: "Home";
    color:#fff;
    padding: 0 16px 0 24px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 47px;
    font-weight: 500;
    box-shadow: 0 2px 20px rgba(0,0,0,.4)!important;
    box-sizing: border-box;
        // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1),0 2px rgba(255,255,255,.05) inset!important;
  }
  /*--/Friends Search bar--*/


  .container-1D34oG .friendsTable-133bsv .friendsTableHeader-32yE7d {
    border: none!important;
    box-shadow: 0 -11px 0px -10px rgba(255, 255, 255, .02) inset;
}

.container-1D34oG .friendsTable-133bsv .friendsTableHeader-32yE7d+ .scrollerWrap-2lJEkd .scroller-2FKFPG {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .1) inset;
}

.container-1D34oG .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9.friendsActionVoiceCall-3EdPsR {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNi42MiAxMC43OWMxLjQ0IDIuODMgMy43NiA1LjE0IDYuNTkgNi41OWwyLjItMi4yYy4yNy0uMjcuNjctLjM2IDEuMDItLjI0IDEuMTIuMzcgMi4zMy41NyAzLjU3LjU3LjU1IDAgMSAuNDUgMSAxVjIwYzAgLjU1LS40NSAxLTEgMS05LjM5IDAtMTctNy42MS0xNy0xNyAwLS41NS40NS0xIDEtMWgzLjVjLjU1IDAgMSAuNDUgMSAxIDAgMS4yNS4yIDIuNDUuNTcgMy41Ny4xMS4zNS4wMy43NC0uMjUgMS4wMmwtMi4yIDIuMnoiLz48L3N2Zz4=)!important;
    background-size: 60%;
}

/* friends header */
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primary-3j8BhM {
    color: var(--nox-white2)!important;
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primary-3j8BhM:hover {
    color: var(--nox-white4)!important;
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primary-3j8BhM:not(.selected-3s45Ha):hover .wrapper-232cHJ,
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primarySelected-3uHKZn {
  color: var(--nox-accent);
}

.container-1r6BKw {
  background-color: var(--nox-level3) !important;
}

.container-1D34oG .container-1r6BKw .tabBar-1E2ExX {
  height: 100%;
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP:not(.selected-3s45Ha):hover {
  background: none;
  color: var(--nox-white4);
  border-bottom: 2px solid var(--nox-white4);
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP .wrapper-232cHJ {
  color: var(--nox-level3);
  background: var(--nox-white2);
  vertical-align: text-top;
  transition: 300ms ease;
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP:not(.selected-3s45Ha):hover .wrapper-232cHJ {
  color: var(--nox-level3);
  background: var(--nox-white4);
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.selected-3s45Ha .wrapper-232cHJ {
  background: var(--nox-important-notification);
  color: var(--nox-white);
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primarySelected-3uHKZn .wrapper-232cHJ{
  background:var(--nox-accent);
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primary-3j8BhM:not(.selected-3s45Ha):hover{
  background:var(--nox-accent);
  border: none;
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP:not(.primary-3j8BhM) {
  color: var(--nox-white2);
  height: 47px;
  line-height: 47px;
  box-sizing: border-box;
  border-radius: 0;
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.selected-3s45Ha {
  background: none;
  color: var(--nox-white);
  border-bottom: 2px solid var(--nox-white);
}

.container-1r6BKw {
    border-bottom: none!important
}


.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP.primarySelected-3uHKZn {
    color: #36393e!important;
}

.container-1D34oG .container-1r6BKw {
  z-index: 5;
}

.container-1D34oG .container-1r6BKw {
  box-shadow: 0 2px 20px rgba(0,0,0,.4);
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP{
    border-bottom:none!important;
    position: relative;
    margin:0!important;
    padding: 2px 16px;
    min-width: 80px;
    transition: 300ms ease!important;
    display: block;
    font-size: 14px;
}

.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP:hover{
    transition: 100ms ease!important;
}
.theme-dark .container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP:active{
    color:#fff!important;
    transition: 0ms ease!important;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP::after{
    content:"";
    width:100%;
    height:2px;
    position: absolute;
    background: white;
    bottom:0;
    left:0;
    opacity: 1;
    transform-origin: bottom;
    pointer-events: none;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP.selected-3s45Ha::after{
    transition:200ms cubic-bezier(0,0,0,1), opacity 1ms ease;
    transform: scale(1,1);
    transform-origin: bottom;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP:not(.selected-3s45Ha)::after{
    transform: translate(80px) scale(2.5,1);
    transition:200ms cubic-bezier(1,0,0,.7), opacity 100ms;
    opacity: 0;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP.selected-3s45Ha ~ .item-3HpYcP::after{
    transform: translate(-80px) scale(2.5,1);
    transition:200ms cubic-bezier(1,0,0,.7), opacity 100ms;
    opacity: 0;
}

.container-1D34oG .tabBar-1E2ExX .item-3HpYcP[style*="background-color"]{
    height: 47px;
    line-height: 47px;
    box-sizing: border-box;
    border-radius: 0;
    background:transparent!important;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP[style*="background-color"]:hover{
    color:#fff!important;
}
.container-1D34oG .container-1r6BKw .tabBar-1E2ExX .item-3HpYcP[style*="background-color: rgba(67, 181, 129, 0.2);"]{
    background:transparent!important;
    color:#fff!important;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP[style*="background-color: rgba(67, 181, 129, 0.2);"]::after{
    height:100%;
    z-index: -1;
    background:var(--nox-accent)!important;
    transform: scale(1,1);
    opacity: 1;
}
.container-1D34oG .tabBar-1E2ExX .item-3HpYcP[style*="background-color: rgb(67, 181, 129);"]::after{
    transform: scale(1,0)!important;
    transition:200ms ease 10ms;
    opacity: 0;
    transform-origin: bottom left;
    background:var(--nox-accent)!important;
}
.friendTableAddWrapper-nHHZtK{
    animation:friend-table-wrapper 300ms cubic-bezier(.4,0,0,1);
    transform-origin: top;
    top:0;
    left: 0;
    width: 100%;
    z-index: 7
}
@keyframes friend-table-wrapper{
    from{
        transform:translate(0,-231px);
    }
}
.friendsTable-133bsv>.scrollerWrap-2lJEkd{
    margin-top:0px;
    transform:translate(0,0);
    animation:testabcd 300ms cubic-bezier(.4,0,0,1), max-height 1ms;
}
// .friendTableAddWrapper-nHHZtK+.scrollerWrap-2lJEkd{
//     max-height:calc(100% - 231px);
//     transition:all 300ms cubic-bezier(.4,0,0,1), max-height 100ms 300ms;
//     transform:translate(0,231px);
// }
// .friendsTableHeader-32yE7d+.scrollerWrap-2lJEkd{
//     max-height:calc(100% - 34px);
//     transition:all 300ms cubic-bezier(.4,0,0,1), max-height 1ms;
//     transform:translate(0,34px);
// }
.friendsTableHeader-32yE7d{
    transform-origin: top;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 2
}






.friendsTableHeader-32yE7d {
    background-color: var(--nox-level3) !important;
}


.friendsTableHeader-32yE7d {
    border-bottom: none!important
}


.friendsTableHeader-32yE7d {
    box-shadow: none!important
}
.container-1D34oG .friendsTableHeader-32yE7d {
    display: -ms-flexbox;
    display: flex;
}

.friendWrapper-2SrUFF .friendSelected-1sa4bG {
  background: var(--nox-level1);
}

.searchBarComponent-yxeVIL.container-2XeR5Z {
  background: none;
}

.searchBarComponent-yxeVIL{
  overflow: hidden;
}

.searchBarComponent-yxeVIL input,
.searchBarComponent-yxeVIL input:hover{
  background:transparent!important;
  border:none!important;
  box-shadow:0 2px 0 rgba(255,255,255,.05),-660px 2px 0 var(--nox-accent)!important;
  margin-bottom:2px!important;
  transition:200ms ease!important;
  border-radius:0!important;
}

.searchBarComponent-yxeVIL input:focus{
  background:transparent!important;
  border:none!important;
  transition:300ms cubic-bezier(0,0,0,1)!important;
  box-shadow:0 2px 0 rgba(255,255,255,.05),0 2px 0 var(--nox-accent)!important;
}

.nowPlayingColumn-2sl4cE {
  background: var(--nox-level1);
}

.nowPlayingColumn-2sl4cE .wrapper-3D2qGf {
  background: var(--nox-level2);
}

.nowPlayingColumn-2sl4cE .wrapper-3D2qGf .inset-3sAvek {
  background: var(--nox-level3);
}

.nowPlayingColumn-2sl4cE .wrapper-3D2qGf .separator-XqIyoz {
  background: var(--nox-level2);
}