// Roles
.container-3EtAkD {
    border-radius: 3px;
    background: var(--nox-level1);
    color: var(--nox-white6);
}

.container-3EtAkD:hover {
    background: rgba(255, 255, 255, 0.15);
    color: var(--nox-white9);
}

.icon-2DGsye {
    background: #3E3E3E;
}

.container-3EtAkD:hover .icon-2DGsye {
    background: #3A3A3A;
}

.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) {
    background: rgba(255, 255, 255, 0.05);
}

.secondary-2bzKEX {
    background: var(--nox-level1);
}

.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY {
    background: var(--nox-level2);
}

.header-JUTO-g,
.titleContainer-3fPic2 {
    background: none;
}

[aria-label="GUILD_SETTINGS"] .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background: var(--nox-level3);
}

[aria-label="GUILD_SETTINGS"] .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover {
    background: rgba(255, 255, 255, 0.05);
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
    border-bottom-color: var(--nox-white4);
}

.top-K_jibn .brand-3g5E0C.item-3XjbnG:active,
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG {
    border-bottom-color: var(--nox-accent);
}

.memberRow-1FhJgR:hover {
    background: rgba(255, 255, 255, 0.05)   
}

.removeButton-JGNeoQ {
    color: var(--nox-white6);
}

.removeButton-JGNeoQ:hover {
    color: var(--nox-white9);
}

.removeButtonDisabled-1Dhuv7,
.removeButtonDisabled-1Dhuv7:hover {
    color: var(--nox-white3);
}

// /Roles

// Stickers/Boost Status
.theme-dark .background-3xJH_4 {
    color: var(--nox-level3);
}

.theme-dark .tierAccomplished-1I5NaT,
.theme-dark .tierCurrent-2nowYi,
.theme-dark .tierDefault-39L2SF {
    background: var(--nox-accent);
}

.theme-dark .tierInProgress-1vFUnw {
    background: var(--nox-level3);
}

.theme-dark .tierHeaderLocked-30MLlO,
.theme-dark .tierHeaderUnlocked-1OpOLf {
    background: #292929;
}

.wrapper-24fR1R {
    background: var(--nox-level1);
}

.wrapper-24fR1R:focus-within, .wrapper-24fR1R:hover {
    background: #292929;
}

.action-2YPPom {
    background: var(--nox-level1);
}

.tierIconLocked-RGSkSl,
.tierLock-1eabw6 {
    color: var(--nox-white4)
}

.tierIcon-3m8V16 {
    color: var(--nox-white);
}

.theme-dark .tierBody-1d3UiS {
    background: var(--nox-level1);
    color: var(--nox-white7);
}

.emptyTierImage-2bJjxU {
    filter: grayscale(100%);
}

.serverBoostTabItem-2hFTIN[aria-selected=true] {
    background-color: var(--nox-accent) !important;
}

.foreground-3_3Pgi {
    color: var(--nox-accent)
}

// /Stickers/Boost Status

// Members
.overflowButton-3p0YaR::before {
    content: none;
}

.overflowButton-3p0YaR {
    background: none;
}

.theme-dark .overflowRolesPopout-1Puiuq,
.theme-dark .overflowRolesPopoutArrow-2R7g3K {
    background: var(--nox-level1);
}

.theme-dark .overflowRolesPopout-1Puiuq {
    border-radius: 2px;
}

.overflowRolesPopoutHeaderIcon-2LIuSc path {
    fill: var(--nox-white4)
}

.overflowRolesPopoutHeaderText-3HyHGv {
    color: var(--nox-white4);
}