// main container and bg stuff
.guilds-2JjMmN .scroller-3X7KbA {
    padding-top: 0;
}

.guilds-2JjMmN .scroller-3X7KbA::-webkit-scrollbar {
    width: 0!important;
}

.guilds-2JjMmN {
    background: var(--nox-level1) !important;
    width: 70px;
}

.guilds-2JjMmN .scrollerWrap-1IAIlv {
    width: 70px;
}

// .scroller-2TZvBN {
//     padding-top: 0;
// }

.guilds-2JjMmN .scroller-3X7KbA {
    background: transparent;
}

// Home Icon

.homeIcon-r0w4ny {
    height: 32px;
    width: 32px;
    z-index: 1;
}

// change to home symbol
.homeIcon-r0w4ny path {
    d: path("M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z") !important;
    transform: translate(2px, -2px);
}

.wrapper-3kah-n .childWrapper-1j_1ub:not(.acronym-2zrAHN),
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub:not(.acronym-2zrAHN),
.listItem-3SmSlK .circleIconButton-1VxDrg.selected-2r1Hvo {
    background: transparent;
}

// change blurple to accent
// .wrapper-1Rf91z .button-OhfaWu.selected-wSa2KV {
//     background-color: var(--nox-accent);
// }

.listItem-3SmSlK .circleIconButton-1VxDrg::after,
.wrapper-3kah-n .childWrapper-1j_1ub:not(.acronym-2zrAHN)::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--nox-level2);
    width: 48px;
    height: 48px;
    z-index: 0;
    transition: background 200ms ease;
}

.listItem-3SmSlK .circleIconButton-1VxDrg.selected-2r1Hvo::after,
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub:not(.acronym-2zrAHN)::after {
    background: var(--nox-accent);
}




// Separator
.listItem-3SmSlK.bd-guild-separator {
    margin: 4px 0;
    display: none;
    height: 2px
}

.guildSeparator-33mFX6 {
    background: var(--nox-white1);
}

// .listItem-2P_4kh:not(.scroller-2TZvBN > :first-child)

// Guilds/List Items
.listItem-3SmSlK {
    width: 70px;
    margin: 0;
}

// Prevent moving down on click
.listItemWrapper-KhRmzM:active, // home button
.blob-3RT82C:active, // dms
.listItem-3SmSlK .blobContainer-pmnxKB:active {
    transform: none;
}

// Expands wrapper to increase clicking area
.listItem-3SmSlK .wrapper-28eC3z {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Expands svg area to increase clicking area
.listItem-3SmSlK .svg-2zuE5p {
    position: relative;
// }


// .listItem-2P_4kh .blobContainer-239gwq .svg-2zuE5p {
    width: 100%;
    height: 100%;
}

// Scales guild icon + svg icons back down
.dragPlaceholder-D9-haY, // placeholder
.homeIcon-r0w4ny, // home button icon
.button-OhfaWu::after, // home button
.icon-3AqZ2e, // guild icon
.acronym-2zrAHN, // iconless guilds
.circleIconButton-1VxDrg > svg, // discovery
.circleIconButton-1VxDrg::after,
.childWrapper-1j_1ub:not(.acronym-2zrAHN)::after {
    transform: scale(calc(48/70));
    border-radius: 50%;
}

.listItem-3SmSlK .acronym-2zrAHN {
    background: var(--nox-level2);
}

.listItem-3SmSlK .selected-1Drb7Z .acronym-2zrAHN {
    background: var(--nox-accent);
}

// Prevent masking
.wrapper-28eC3z > svg > mask > path {
    d: path("M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24Z")!important;
}

// Resize pill to full size
.wrapper-z5ab_q {
    width: 100%;
    height: 100%;
}

// sets up blank pill item
.listItem-3SmSlK .item-2LIpTv {
    box-sizing: border-box;
    background: none;
    margin: 0;
    width: 100%;
    height: 100%!important;
    transform: none!important;
    opacity: 0.7!important;
}

// sets up notification ring
.listItem-3SmSlK .item-2LIpTv::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: calc((100% - 58px) / 2);
    left: calc((100% - 58px) / 2);
    width: 58px;
    height: 58px;
    border: 3px solid transparent;
    border-radius: 50%;
    z-index: 2;
}

// sets up background
.item-2LIpTv::after {
    content: "";
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    z-index:1;
}

// hover bg
.listItem-3SmSlK:hover .item-2LIpTv::after {
    background: var(--nox-white1);
}

// active bg
.listItem-3SmSlK:active .item-2LIpTv::after {
    background: var(--nox-black2);
}

// unread ring
.listItem-3SmSlK .item-2LIpTv[style*="opacity: 1; height: 8px; transform: none;"]::before,
.listItem-3SmSlK.bd-unread .item-2LIpTv::before {
    border-color: var(--nox-notification-color);
}

// selected bg
.listItem-3SmSlK .item-2LIpTv[style*="opacity: 1; height: 40px; transform: none;"]::after,
.listItem-3SmSlK.bd-selected .item-2LIpTv::after {
    background: var(--nox-black5);
}

// add/join and discovery
.circleIconButton-1VxDrg > svg {
    z-index: 1;
}
.circleIconButton-1VxDrg {
    color: var(--nox-accent);
    background-color: transparent;
    transition: color 200ms ease;
}

.circleIconButton-1VxDrg {
    color: var(--nox-white);
    background-color: transparent;
}

// badge container
.lowerBadge-3WTshO,
.upperBadge-1V6Iyi {
    top: calc((100% - 54px) / 2);
    left: calc((100% - 54px) / 2);
    width: 54px;
    height: 54px;
    display: flex;
}

// mention badges
.lowerBadge-3WTshO {
    justify-content: flex-end;
    align-items: flex-end;
}

// media badges
.upperBadge-1V6Iyi {
    justify-content: flex-end;
    align-items: flex-start;
}

.iconBadge-2wi9r4.participating-NBGDkr {
    background-color: var(--nox-accent);
}

//dms container
.guilds-2JjMmN .scroller-3X7KbA > div[style] {
    height: auto!important;
}

// .scroller-2TZvBN > div[style] {
//     height: 70px !important;
// }

.guilds-2JjMmN .scroller-3X7KbA > div[style] + .bd-guild-separator {
    display:flex;
}

// .wrapper-1Rf91z .scroller-2TZvBN > div[style] > div:last-child {
//     margin-bottom: 14px;
    
// }


.guilds-2JjMmN .dragPlaceholder-D9-haY {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjQxIDE2LjA5bC00LjU4LTQuNTkgNC41OC00LjU5TDE0IDUuNWwtNiA2IDYgNnoiLz4gICAgPHBhdGggZD0iTTAtLjVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: var(--nox-level2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2) inset;
}





/****Server Folders****/
.folder-241Joy {
    background: none;
}

.folder-241Joy.hover-3m7-WT {
    background: none;
}

// Fix weird scaled folders.
.collapsed-uGXEbi + div .folderIconWrapper-1oRIZr {
    background-color: var(--nox-white1) !important;
    transform: scale(calc(48/70));
    border-radius: 50%;
}

// blurple to accent
.expandedFolderIconWrapper-3RwQpD svg {
    color: var(--nox-accent)!important;
}

// material icon
.folder-241Joy svg path {
    d: path("M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z");
}

// material icon open
.folder-241Joy.hover-3m7-WT .expandedFolderIconWrapper-3RwQpD svg path{
    d: path("M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z")!important;
}


// expand bg to fit
.expandedFolderBackground-1kSAf6 {
    background: var(--nox-white1);
    padding: 6px;
    left: 5px;
    border-radius: 16px 16px 30px 30px;
}

// Fix last guild being cut off
.wrapper-38slSD ul {
    height: auto!important;
}


// Fix hover/active blocks
.wrapper-38slSD ul .item-2LIpTv::after {
    width: 60px;
    left: 5px;
}

.wrapper-38slSD ul .listItem-3SmSlK:last-child .item-2LIpTv::after {
    border-radius: 0 0 30px 30px;
    height: 62px;
}

// active bg
.wrapper-38slSD ul .listItem-3SmSlK:active .item-2LIpTv::after {
    background: var(--nox-black5);
}

// selected bg
.wrapper-38slSD ul .listItem-3SmSlK.bd-selected .item-2LIpTv::after {
    background: var(--nox-black8);
}

@keyframes open-folder {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.expandedFolderBackground-1kSAf6.collapsed-uGXEbi {transform: scaleY(0);}
.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) {
    animation: open-folder 200ms ease-out;
    transform-origin: 0 0;
}

.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) + .listItem-3SmSlK {opacity: 0;}
.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) + .listItem-3SmSlK {
    animation: fade-in 200ms ease-out;
    animation-delay: 200ms;
    transform-origin: 0 0;
    animation-fill-mode: forwards;
}


.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) + .listItem-3SmSlK + div {
    height: unset!important;
}