// main container and bg stuff
.wrapper-1Rf91z .scroller-2FKFPG {
    padding-top: 0;
}

.wrapper-1Rf91z .scroller-2FKFPG::-webkit-scrollbar {
    width: 0!important;
}

.wrapper-1Rf91z {
    background: var(--nox-level1) !important;
    width: 70px;
}

.wrapper-1Rf91z .scrollerWrap-1IAIlv {
    width: 70px;
}

.wrapper-1Rf91z .scroller-2TZvBN {
    background: transparent;
}

// Home Icon

.homeIcon-tEMBK1 {
    height: 32px;
    width: 32px;
    z-index: 1;
}

// change to home symbol
.homeIcon-tEMBK1 path {
    d: path("M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z") !important;
    transform: translate(2px, -2px);
}

.wrapper-1BJsBx .childWrapper-anI2G9:not(.acronym-2mOFsV),
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9:not(.acronym-2mOFsV) {
    background: transparent;
}

// change blurple to accent
// .wrapper-1Rf91z .button-OhfaWu.selected-wSa2KV {
//     background-color: var(--nox-accent);
// }

.listItem-2P_4kh .circleIconButton-jET_ig::after,
.wrapper-1BJsBx .childWrapper-anI2G9:not(.acronym-2mOFsV)::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--nox-level2);
    width: 48px;
    height: 48px;
    z-index: 0;
    transition: background 200ms ease;
}

.listItem-2P_4kh .circleIconButton-jET_ig.selected-ugP_am::after,
.wrapper-1BJsBx.selected-wSa2KV .childWrapper-anI2G9:not(.acronym-2mOFsV)::after {
    background: var(--nox-accent);
}




// Separator
.listItem-2P_4kh.bd-guild-separator {
    margin: 4px 0;
    display: none;
    height: 2px
}

.guildSeparator-3s64Iy {
    background: var(--nox-white1);
}

// .listItem-2P_4kh:not(.scroller-2FKFPG > :first-child)

// Guilds/List Items
.listItem-2P_4kh {
    width: 70px;
    margin: 0;
}

// Prevent moving down on click
.blob-1PX1Gp:active, // home button
.blob-3RT82C:active, // dms
.listItem-2P_4kh .blobContainer-239gwq:active {
    transform: none;
}

// Expands wrapper to increase clicking area
.listItem-2P_4kh .wrapper-25eVIn {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Expands svg area to increase clicking area
.listItem-2P_4kh .svg-1X37T1 {
    position: relative;
// }


// .listItem-2P_4kh .blobContainer-239gwq .svg-1X37T1 {
    width: 100%;
    height: 100%;
}

// Scales guild icon + svg icons back down
.dragPlaceholder-D9-haY, // placeholder
.homeIcon-tEMBK1, // home button icon
.button-OhfaWu::after, // home button
.icon-27yU2q, // guild icon
.acronym-2mOFsV, // iconless guilds
.circleIconButton-jET_ig > svg, // discovery
.circleIconButton-jET_ig::after,
.childWrapper-anI2G9:not(.acronym-2mOFsV)::after {
    transform: scale(calc(48/70));
    border-radius: 50%;
}

.listItem-2P_4kh .acronym-2mOFsV {
    background: var(--nox-level2);
}

.listItem-2P_4kh .selected-bZ3Lue .acronym-2mOFsV {
    background: var(--nox-accent);
}

// Prevent masking
.wrapper-25eVIn > svg > mask > path {
    d: path("M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C37.2548 0 48 10.7452 48 24Z")!important;
}

// Resize pill to full size
.wrapper-sa6paO {
    width: 100%;
    height: 100%;
}

// sets up blank pill item
.listItem-2P_4kh .item-2hkk8m {
    box-sizing: border-box;
    background: none;
    margin: 0;
    width: 100%;
    height: 100%!important;
    transform: none!important;
    opacity: 0.7!important;
}

// sets up notification ring
.listItem-2P_4kh .item-2hkk8m::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: calc((100% - 58px) / 2);
    left: calc((100% - 58px) / 2);
    width: 58px;
    height: 58px;
    border: 3px solid transparent;
    border-radius: 50%;
    z-index: 2;
}

// sets up background
.item-2hkk8m::after {
    content: "";
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    z-index:1;
}

// hover bg
.listItem-2P_4kh:hover .item-2hkk8m::after {
    background: var(--nox-white1);
}

// active bg
.listItem-2P_4kh:active .item-2hkk8m::after {
    background: var(--nox-black2);
}

// unread ring
.listItem-2P_4kh.bd-unread .item-2hkk8m::before {
    border-color: var(--nox-notification-color);
}

// selected bg
.listItem-2P_4kh.bd-selected .item-2hkk8m::after {
    background: var(--nox-black5);
}

// add/join and discovery
.circleIconButton-jET_ig > svg {
    z-index: 1;
}
.circleIconButton-jET_ig {
    color: var(--nox-accent);
    background-color: transparent;
    transition: color 200ms ease;
}

.circleIconButton-jET_ig.selected-ugP_am {
    color: var(--nox-white);
    background-color: transparent;
}

// badge container
.lowerBadge-29hYVK,
.upperBadge-2XnnGB {
    top: calc((100% - 54px) / 2);
    left: calc((100% - 54px) / 2);
    width: 54px;
    height: 54px;
    display: flex;
}

// mention badges
.lowerBadge-29hYVK {
    justify-content: flex-end;
    align-items: flex-end;
}

// media badges
.upperBadge-2XnnGB {
    justify-content: flex-end;
    align-items: flex-start;
}

.iconBadge-2wi9r4.participating-NBGDkr {
    background-color: var(--nox-accent);
}

//dms container
.wrapper-1Rf91z .scroller-2FKFPG > div[style] {
    height: auto!important;
}

.wrapper-1Rf91z .scroller-2FKFPG > div[style] + .bd-guild-separator {
    display:flex;
}

// .wrapper-1Rf91z .scroller-2FKFPG > div[style] > div:last-child {
//     margin-bottom: 14px;
    
// }


.wrapper-1Rf91z .dragPlaceholder-D9-haY {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjQxIDE2LjA5bC00LjU4LTQuNTkgNC41OC00LjU5TDE0IDUuNWwtNiA2IDYgNnoiLz4gICAgPHBhdGggZD0iTTAtLjVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: var(--nox-level2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2) inset;
}





/****Server Folders****/
.folder-21wGz3 {
    background: none;
}

.folder-21wGz3.hover-2ji_A7 {
    background: none;
}

// Fix weird scaled folders.
.collapsed-1GMuSb + div .folderIconWrapper-226oVY {
    background-color: var(--nox-white1) !important;
    transform: scale(calc(48/70));
    border-radius: 50%;
}

// blurple to accent
.expandedFolderIconWrapper-1xLaU- svg {
    color: var(--nox-accent)!important;
}

// material icon
.folder-21wGz3 svg path {
    d: path("M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z");
}

// material icon open
.folder-21wGz3.hover-2ji_A7 .expandedFolderIconWrapper-1xLaU- svg path{
    d: path("M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z")!important;
}


// expand bg to fit
.expandedFolderBackground-2sPsd- {
    background: var(--nox-white1);
    padding: 6px;
    left: 5px;
    border-radius: 16px 16px 30px 30px;
}

// Fix last guild being cut off
.expandedGuilds-1JMD4M {
    height: auto!important;
}


// Fix hover/active blocks
.expandedGuilds-1JMD4M .item-2hkk8m::after {
    width: 60px;
    left: 5px;
}

.expandedGuilds-1JMD4M .listItem-2P_4kh:last-child .item-2hkk8m::after {
    border-radius: 0 0 30px 30px;
    height: 62px;
}

// active bg
.expandedGuilds-1JMD4M .listItem-2P_4kh:active .item-2hkk8m::after {
    background: var(--nox-black5);
}

// selected bg
.expandedGuilds-1JMD4M .listItem-2P_4kh.bd-selected .item-2hkk8m::after {
    background: var(--nox-black8);
}

@keyframes open-folder {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.expandedFolderBackground-2sPsd-.collapsed-1GMuSb {transform: scaleY(0);}
.expandedFolderBackground-2sPsd-:not(.collapsed-1GMuSb) {
    animation: open-folder 200ms ease-out;
    transform-origin: 0 0;
}

.expandedFolderBackground-2sPsd-:not(.collapsed-1GMuSb) + .listItem-2P_4kh {opacity: 0;}
.expandedFolderBackground-2sPsd-:not(.collapsed-1GMuSb) + .listItem-2P_4kh {
    animation: fade-in 200ms ease-out;
    animation-delay: 200ms;
    transform-origin: 0 0;
    animation-fill-mode: forwards;
}


.expandedFolderBackground-2sPsd-:not(.collapsed-1GMuSb) + .listItem-2P_4kh + div {
    height: unset!important;
}