/* LFG */
.base-3dtUhz .lfg-3xoFkI {
    background: var(--nox-level1);
}

.lfg-3xoFkI .header-3lpf0u {
    background: var(--nox-level2);
}

.theme-dark .headerText-1r7YO4 strong {
    color: var(--nox-accent);
}

.lfg-3xoFkI .tabBar-PTjkZh {
    border: none;
}

.lfg-3xoFkI .top-28JiJ- .itemSelected-1qLhcL {
    border: none;
}

.lfg-3xoFkI .pill-1nbD-Z {
    background: var(--nox-accent);
}

.wrapper-33pNYY {
    align-items: center;
}

.lfg-3xoFkI .card-FDVird:before {
    background-color: #2b2b2b;
}

.lfg-3xoFkI .wrapperDefault-NeXRmD {
    background: #212121;
}

.lfg-3xoFkI .max-mvI_jT {
    background: #2b2b2b;
}

.lfg-3xoFkI .max-mvI_jT::before {
    background-color: #212121;
    border-bottom-color: #2b2b2b;
}

.lfg-3xoFkI .wrapperFull-2_7g2- {
    background: var(--nox-level3);
    opacity: 0.5;
}

.lfg-3xoFkI .buttonGreyFilledDefault-3uZpOq {
    background: #4f545c;
}

.lfg-3xoFkI .buttonGreyFilledDisabled-Fjw1_v {
    opacity: 0.3;
}
/* /LFG */