#app-mount .gameLibrary-TTDw4Y,
#app-mount .root-26DmKJ,
#app-mount .root-1BQpZw {
    background: var(--nox-level1); 
}

.gameLibrary-TTDw4Y .scroller-1IIF0A {
    background: none;
}

.table-1tDS6w .header-39GIC8 {
    background-color: var(--nox-level3) !important;
}

.table-1tDS6w .rowWrapperActive-2L7i9f {
    background-color: #333
}

.libraryHeader-3g95kE .topPill-30KHOu .item-PXvHYJ {
    color: var(--nox-white2);
    transition: color 100ms ease, border-bottom 100ms ease;
    height: 47px;
    line-height: 47px;
    box-sizing: border-box;
    border-radius: 0;
    background: none!important;
    border-bottom: 2px solid transparent;
}

.libraryHeader-3g95kE .topPill-30KHOu .item-PXvHYJ:hover {
    background: none;
    color: var(--nox-white4);
    border-bottom: 2px solid var(--nox-white4);
}

.libraryHeader-3g95kE .topPill-30KHOu .itemSelected-1qLhcL,
.libraryHeader-3g95kE .topPill-30KHOu .itemSelected-1qLhcL:hover {
    background: none;
    color: var(--nox-white);
    border-bottom: 2px solid var(--nox-white);
}

