#app-mount .gameLibrary-TTDw4Y,
#app-mount .root-26DmKJ,
#app-mount .root-1BQpZw {
    background: none; 
}

.table-1tDS6w .header-39GIC8 {
    background-color: var(--nox-level3) !important;
}

.table-1tDS6w .rowWrapperActive-2L7i9f {
    background-color: #333
}