#app-mount .gameLibrary-TTDw4Y,
#app-mount .root-26DmKJ,
#app-mount .root-1BQpZw {
    background: var(--nox-level1); 
}

.gameLibrary-TTDw4Y .scroller-2XLwLg {
    background: none;
}

.table-2J5ScI .header-2EadGG {
    background-color: var(--nox-level3) !important;
}

.table-2J5ScI .rowWrapperActive-nOO7R3 {
    background-color: #333
}

.libraryHeader-2loraV .topPill-3DJJNV .item-3XjbnG {
    color: var(--nox-white2);
    transition: color 100ms ease, border-bottom 100ms ease;
    height: 47px;
    line-height: 47px;
    box-sizing: border-box;
    border-radius: 0;
    background: none!important;
    border-bottom: 2px solid transparent;
}

.libraryHeader-2loraV .topPill-3DJJNV .item-3XjbnG:hover {
    background: none;
    color: var(--nox-white4);
    border-bottom: 2px solid var(--nox-white4);
}

.libraryHeader-2loraV .topPill-3DJJNV .itemSelected-1qLhcL,
.libraryHeader-2loraV .topPill-3DJJNV .itemSelected-1qLhcL:hover {
    background: none;
    color: var(--nox-white);
    border-bottom: 2px solid var(--nox-white);
}

