/* Member List */
.members-1998pB .member-3W1lQa.memberOffline-2lN7gt .wrapper-2F3Zv8 {
    opacity:0.7;
}

.members-1998pB .member-3W1lQa.popout-open .wrapper-2F3Zv8,
.members-1998pB .member-3W1lQa:hover .wrapper-2F3Zv8 {
    opacity:1;
}

.members-1998pB .member-3W1lQa.memberOffline-2lN7gt {
    color:var(--nox-white4);
}

.members-1998pB .member-3W1lQa .activity-1IYsbk {
    color:var(--nox-white4);
}

.theme-dark .members-1998pB .member-3W1lQa:hover .content-OzHfo4 {
    background:rgba(255,255,255,.04);
}

.theme-dark .members-1998pB .member-3W1lQa.popout-open .content-OzHfo4 {
    background:var(--nox-level3);
}

.members-1998pB .member-3W1lQa .content-OzHfo4 {
    padding: 6px 0px 6px 10px;
    border-radius: 3px!important;
    margin-left:8px
}
.members-1998pB .member-3W1lQa {
    overflow: visible;
    margin: 0;
    height: unset;
    min-height: 40px;
}
.members-1998pB .membersGroup-v9BXpm {
    margin-top:0px;
    margin-left: 10px;
    height: auto;
}

.members-1998pB::-webkit-scrollbar {
    background: transparent;
    width: 8px!important
}

.membersWrap-2h-GB4 .members-1998pB::-webkit-scrollbar-thumb {
    border: none !important;
    background-color: rgba(255,255,255,.05)!important;
    display: initial;
    border-radius: 0!important;
    border-left: 3px solid var(--nox-level2)!important;
}
.membersWrap-2h-GB4 .members-1998pB::-webkit-scrollbar-thumb:hover {
    background-color: var(--nox-white1) !important;
    border-left: 3px solid var(--nox-level2)!important;
}

.membersWrap-2h-GB4 .members-1998pB::-webkit-scrollbar-thumb:active {
    border: none !important;
    background-color: var(--nox-white2) !important;
    display: initial;
    border-radius: 0!important;
    border-left: 3px solid var(--nox-level2)!important;
}

.membersWrap-2h-GB4 .scrollerWrap-2lJEkd.scrollerFade-1Ijw5y {
    background: var(--nox-level1)
}
.members-1998pB .wrapper-2F3Zv8 .status-2s6iDp {
    border-color: var(--nox-level2)!important
}
//wrapper-2F3Zv8
// .members-1998pB .member-3W1lQa.popout-open .wrapper-2F3Zv8,
// .members-1998pB .member-3W1lQa:hover .wrapper-2F3Zv8,
.members-1998pB .member-3W1lQa.popout-open .image-33JSyf,
.members-1998pB .member-3W1lQa:hover .image-33JSyf {
    // width: 36px;
    // height: 36px;
    transform: scale(1.2);
}

.members-1998pB .member-3W1lQa.popout-open .wrapper-2F3Zv8,
.members-1998pB .member-3W1lQa .wrapper-2F3Zv8,
.members-1998pB .member-3W1lQa.popout-open .image-33JSyf,
.members-1998pB .member-3W1lQa .image-33JSyf {
    transition: all 100ms ease;
}

.members-1998pB .member-3W1lQa.popout-open .status-oxiHuE,
.members-1998pB .member-3W1lQa:hover .status-oxiHuE {
    // width: 12px;
    // height: 12px;
    // bottom: -5px;
    // right: -3px;
    transform: scale(1.2);
}

.members-1998pB .member-3W1lQa.popout-open .status-oxiHuE.streaming-2_dnHe,
.members-1998pB .member-3W1lQa:hover .status-oxiHuE.streaming-2_dnHe {
    width: 12px;
    height: 12px;
    bottom: -5px;
    right: -3px;
    transform: none;
}

.members-1998pB .member-3W1lQa.popout-open .status-oxiHuE,
.members-1998pB .member-3W1lQa .status-oxiHuE {
    transition: all 100ms ease;
}

.privateChannels-1nO12o .channel-2QD9_O .name-2WpE7M,
.members-1998pB .member-3W1lQa .activity-1IYsbk,
.members-1998pB .member-3W1lQa .nameTag-3p0yK- {
    transition: all 100ms cubic-bezier(.43, 0, 0, 1);
}

.members-1998pB .member-3W1lQa:hover .activity-1IYsbk,
.members-1998pB .member-3W1lQa.popout-open .activity-1IYsbk,
.members-1998pB .member-3W1lQa:hover .nameTag-3p0yK-,
.members-1998pB .member-3W1lQa.popout-open .nameTag-3p0yK- {
    -ms-transform: translate(5px);
    transform: translate(5px);
}

.privateChannels-1nO12o,
.members-1998pB {
    background: var(--nox-level2)!important;
}

.members-1998pB {
    width: 240px;
}

.members-1998pB-loading {
    filter: grayscale(100%)brightness(60%);
    filter: grayscale(100%)brightness(60%);
}

.memberGroupsPlaceholder-3mwPub,
.placeholder-oNR4zO.member-3W1lQa {
    animation: none!important;
}

.memberGroupsPlaceholder-3mwPub,
.placeholderUsername-236yYU,
.placeholderAvatar-uzH8f6 {
    filter: grayscale(100%)brightness(60%);
    filter: grayscale(100%)brightness(60%);
}

.members-1998pB {
	height: calc(100% + 100px);
	padding-bottom: calc(20px + 100px);
 }
.members-1998pB::-webkit-scrollbar-track-piece {
    margin-bottom: 100px
}

.botTag-2WPJ74 {
    color: var(--nox-white)!important;
    background: var(--nox-accent);
    font-weight: 600;
}

.botTag-2WPJ74.botTagInvert-18-95s {
    color: var(--nox-accent)!important;
    background: var(--nox-white) !important;
}

/* End Member List */


.streaming-2_dnHe {
    animation: streaming-flash 1.5s linear infinite;
}