/* Member List */
.members-3WRCEx .member-2gU6Ar.offline-22aM7E .layout-1qmrhw {
    opacity: 0.7;
}

.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw,
.members-3WRCEx .member-2gU6Ar:hover .layout-1qmrhw {
    opacity: 1;
}

.members-3WRCEx .member-2gU6Ar.offline-22aM7E {
    color: var(--nox-white4);
}

.members-3WRCEx .member-2gU6Ar .activity-1IYsbk {
    color: var(--nox-white4);
}

.members-3WRCEx .member-2gU6Ar:hover .layout-1qmrhw {
    background: rgba(255,255,255,.04);
}

.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw {
    background: var(--nox-level3);
}

.members-3WRCEx .member-2gU6Ar .layout-1qmrhw {
    margin-left: 8px;
    padding: 3px 0 3px 10px;
    border-radius: 3px !important;
}

.members-3WRCEx .member-2gU6Ar {
    overflow: visible;
    margin: 0;
    height: unset;
    min-height: 40px;
}
.members-3WRCEx .membersGroup-2eiWxl {
    margin-top:0px;
    margin-left: 10px;
    height: auto;
}

.members-3WRCEx::-webkit-scrollbar {
    background: transparent;
    width: 8px!important
}

.membersWrap-3NUR2t .members-3WRCEx::-webkit-scrollbar-thumb {
    border: none !important;
    background-color: rgba(255,255,255,.05)!important;
    display: initial;
    border-radius: 0!important;
    border-left: 3px solid var(--nox-level2)!important;
}
.membersWrap-3NUR2t .members-3WRCEx::-webkit-scrollbar-thumb:hover {
    background-color: var(--nox-white1) !important;
    border-left: 3px solid var(--nox-level2)!important;
}

.membersWrap-3NUR2t .members-3WRCEx::-webkit-scrollbar-thumb:active {
    border: none !important;
    background-color: var(--nox-white2) !important;
    display: initial;
    border-radius: 0!important;
    border-left: 3px solid var(--nox-level2)!important;
}

.membersWrap-3NUR2t .scrollerWrap-2lJEkd.scrollerFade-1Ijw5y {
    background: var(--nox-level1)
}
.members-3WRCEx .layout-1qmrhw .status-2s6iDp {
    border-color: var(--nox-level2)!important
}
//layout-1qmrhw
// .members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw,
// .members-3WRCEx .member-2gU6Ar:hover .layout-1qmrhw,
.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .image-33JSyf,
.members-3WRCEx .member-2gU6Ar:hover .image-33JSyf {
    // width: 36px;
    // height: 36px;
    transform: scale(1.2);
}

.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .layout-1qmrhw,
.members-3WRCEx .member-2gU6Ar .layout-1qmrhw,
.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .image-33JSyf,
.members-3WRCEx .member-2gU6Ar .image-33JSyf {
    transition: all 100ms ease;
}

.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .status-oxiHuE,
.members-3WRCEx .member-2gU6Ar:hover .status-oxiHuE {
    // width: 12px;
    // height: 12px;
    // bottom: -5px;
    // right: -3px;
    transform: scale(1.2);
}

.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .status-oxiHuE.streaming-2_dnHe,
.members-3WRCEx .member-2gU6Ar:hover .status-oxiHuE.streaming-2_dnHe {
    width: 12px;
    height: 12px;
    bottom: -5px;
    right: -3px;
    transform: none;
}

.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .status-oxiHuE,
.members-3WRCEx .member-2gU6Ar .status-oxiHuE {
    transition: all 100ms ease;
}

.privateChannels-oVe7HL .channel-1Shao0 .name-2WpE7M,
.members-3WRCEx .member-2gU6Ar .activity-1IYsbk,
.members-3WRCEx .member-2gU6Ar .nameTag-3p0yK- {
    transition: all 100ms cubic-bezier(.43, 0, 0, 1);
}

.members-3WRCEx .member-2gU6Ar:hover .activity-1IYsbk,
.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .activity-1IYsbk,
.members-3WRCEx .member-2gU6Ar:hover .nameTag-3p0yK-,
.members-3WRCEx .member-2gU6Ar.selected-1-Z6gm .nameTag-3p0yK- {
    -ms-transform: translate(5px);
    transform: translate(5px);
}

.privateChannels-oVe7HL,
.members-3WRCEx,
.members-3WRCEx > div {
    background: var(--nox-level2) !important;
}

.members-3WRCEx {
    width: 240px;
}

.members-3WRCEx-loading {
    filter: grayscale(100%)brightness(60%);
    filter: grayscale(100%)brightness(60%);
}

.memberGroupsPlaceholder-9tqX9V,
.placeholder-oNR4zO.member-2gU6Ar {
    animation: none!important;
}

.memberGroupsPlaceholder-9tqX9V,
.placeholderUsername-236yYU,
.placeholderAvatar-uzH8f6 {
    filter: grayscale(100%)brightness(60%);
    filter: grayscale(100%)brightness(60%);
}

.members-3WRCEx {
	padding-bottom: calc(20px + 100px);
 }

.botTag-7aX5WZ {
    color: var(--nox-white)!important;
    background: var(--nox-accent);
    font-weight: 600;
}

.botTag-7aX5WZ.botTagInvert-1nKcq_ {
    color: var(--nox-accent)!important;
    background: var(--nox-white) !important;
}

/* End Member List */

// Role separator
.container-q97qHp {
    color: var(--nox-white4);
}

.streaming-2_dnHe {
    animation: streaming-flash 1.5s linear infinite;
}

.nameAndDecorators-3ERwy2 {
    padding-right: 5px;
    box-sizing: border-box;
}