.scroller-29cQFV {
    background: var(--nox-level1);
}

.theme-dark .feature-2IUcBI {
    background: var(--nox-level2)
}

.perkListItemIcon-3Odm5d {
    color: var(--nox-white7);
}

.perkListItemIcon-3Odm5d.hasPerkIcon-JJ5Ezo {
    color: var(--nox-accent);
}

.marketingRefreshTier1Graphic-1mUnMb {
    filter: grayscale(100%) brightness(90%);
}

.theme-dark .premiumContainer-3GGa8Q .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background: #262626 !important;
}