.scroller-9moviB {
    background: var(--nox-level1);
}

.theme-dark .feature-2w65J5 {
    background: var(--nox-level2)
}

.perkListItemIcon-2B4aA2 {
    color: var(--nox-white7);
}

.perkListItemIcon-2B4aA2.hasPerkIcon-JJ5Ezo {
    color: var(--nox-accent);
}

.marketingRefreshTier1Graphic-9B12wx {
    filter: grayscale(100%) brightness(90%);
}

.theme-dark .premiumContainer-2Iux5m .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background: #262626 !important;
}