/*SEARCH*/

.searchResultsWrap-3-pOjs,
.searchResultsWrap-3-pOjs .searchHeader-1EzJGH {
    background: var(--nox-level2)!important;
    box-shadow: none;
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4::before {
    background-image: linear-gradient(0deg, transparent 0, var(--nox-level2) 100%);
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4::after {
    background-image: linear-gradient(180deg, transparent 0, var(--nox-level2) 100%);
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4 .hit-1CXhXT {
    box-shadow: 0 0 10px 6px var(--nox-level2);
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4 .searchResultMessage-30QnSN.hit-1CXhXT,
.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4.expanded-v2Szsz {
    border: none;
}

.searchResultsWrap-3-pOjs .searchResult-2N9RV4 .searchResultMessage-30QnSN {
    border-radius: 3px;
    background: transparent;
    border: none!important;
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4 .hit-1CXhXT {
    background: var(--nox-level1)
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-2N9RV4.expanded-v2Szsz .searchResultMessage-30QnSN.hit-1CXhXT {
    background: var(--nox-level1)
}

.searchResultsWrap-3-pOjs .searchResult-2N9RV4 .searchResultMessage-30QnSN .container-1YxwTf {
    margin-bottom: 10px!important;
}

.theme-dark .searchResultsWrap-3-pOjs .channelSeparator-dTqJ4K .channelName-wvgELL {
    background: transparent;
}

.searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar {
    background: rgba(225, 225, 225, 0.04);
    width: 8px!important;
}

.theme-dark .searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: rgba(225, 225, 225, 0.2) !important;
    display: initial;
    border-radius: 0!important;
    border: 0px!important;
    background-clip: none;
}

.theme-dark .searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb:active {
    border: none !important;
    background: rgba(225, 225, 225, 0.4) !important;
    display: initial;
    border-radius: 0!important;
}

.searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    display: none;
}

.searchResultsWrap-3-pOjs .actionButtons-14P9IC {
    transform: translate(-5px, 15px);
}


/*/SEARCH*/


.searchResultsWrap-3-pOjs .searchResult-2N9RV4 {
    margin-left: 10px;
}
.theme-dark .searchResultsWrap-3-pOjs .channelSeparator-dTqJ4K .channelName-wvgELL {
    margin-left: 10px;
}

.searchResults-2J8dju .channelSeparator-dTqJ4K::before {
    display: none;
}

.actionButtons-14P9IC .jumpButton-Ia2hRJ {
    background: var(--nox-level2);
}

.searchResultMessage-30QnSN .messageGroupCozy-2Bj3ME .avatar-1BDn8e {
    left: -60px;
    top: calc(50% - 20px);
}