/*SEARCH*/

.searchResultsWrap-5RVOkx,
.searchResultsWrap-5RVOkx .searchHeader-1r_ZSh {
    background: var(--nox-level2)!important;
    box-shadow: none;
}

.theme-dark .searchResultsWrap-5RVOkx .searchResult-O9NDji::before {
    background-image: linear-gradient(0deg, transparent 0, var(--nox-level2) 100%);
}

.theme-dark .searchResultsWrap-5RVOkx .searchResult-O9NDji::after {
    background-image: linear-gradient(180deg, transparent 0, var(--nox-level2) 100%);
}

.theme-dark .searchResultsWrap-5RVOkx .searchResult-O9NDji {
    box-shadow: 0 0 10px 6px var(--nox-level2);
}

.theme-dark .searchResultsWrap-5RVOkx .searchResult-O9NDji {
    border: none;
}

.searchResultsWrap-5RVOkx .searchResult-O9NDji {
    border-radius: 3px;
    background: transparent;
    border: none!important;
}

.theme-dark .searchResultsWrap-5RVOkx .searchResult-O9NDji {
    background: var(--nox-level1)
}

.searchResultsWrap-5RVOkx .searchResult-O9NDji .container-1YxwTf {
    margin-bottom: 10px!important;
}

.theme-dark .searchResultsWrap-5RVOkx .searchResultGroup-1lU_-i .channelName-3w2Y3c {
    background: transparent;
}

.searchResultsWrap-5RVOkx .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar {
    background: rgba(225, 225, 225, 0.04);
    width: 8px!important;
}

.theme-dark .searchResultsWrap-5RVOkx .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: rgba(225, 225, 225, 0.2) !important;
    display: initial;
    border-radius: 0!important;
    border: 0px!important;
    background-clip: none;
}

.theme-dark .searchResultsWrap-5RVOkx .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb:active {
    border: none !important;
    background: rgba(225, 225, 225, 0.4) !important;
    display: initial;
    border-radius: 0!important;
}

.searchResultsWrap-5RVOkx .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    display: none;
}

// .searchResultsWrap-5RVOkx .buttonsContainer-Nmgy7x {
//     transform: translate(-5px, 15px);
// }


/*/SEARCH*/


.searchResultsWrap-5RVOkx .searchResult-O9NDji {
    margin-left: 10px;
}
.theme-dark .searchResultsWrap-5RVOkx .searchResultGroup-1lU_-i .channelName-3w2Y3c {
    margin-left: 10px;
}

.searchResults-2J8dju .searchResultGroup-1lU_-i::before {
    display: none;
}

.buttonsContainer-Nmgy7x .button-cfOvv- {
    background: var(--nox-level2);
}

.searchHeader-1r_ZSh .tab-2j5AEF.selected-2LAck8 {
    background: var(--nox-black4);
}

.message-24k8JL .avatar-2e8lTP {
    left: -60px;
}

.searchResultsWrap-5RVOkx .embedSpotify-1rDvOE {
    width: 100% !important;
}

.searchResultsWrap-5RVOkx .container-2sjPya .embed-hKpSrO {
    max-width: 265px;
}
