.theme-dark .perksModal-fSYqOq {
    background: var(--nox-level1);
}

.ctaBar-2UsjF2 {
    background: var(--nox-level2);
}

.badgeIconWithSubscribers-3PlMu9 {
    color: var(--nox-white);
}

.theme-dark .tierMarkerBackground-3q29am {
    background: none;
}

.tierMarker-5HkGJ_[style*="background: rgb(255, 115, 250)"] {
    background: var(--nox-accent) !important;
}

.tierMarkerLabelContainer-1qM0Ak .button-38aScr {
    padding: 0;
}

.tierMarkerLabelContainer-1qM0Ak .button-38aScr:hover {
    filter: none;
    box-shadow: none;
    transition: none;
}

.tierMarkerLabelText-F_zS1F:not(.isAccomplished-2EpZfL):hover {
    background: rgba(255, 255, 255, 0.05);
}

.tierMarkerLabelPlusIcon-1OS7E9 {
    color: var(--nox-accent);
}

.tierMarker-5HkGJ_[style*="background: rgb(32, 34, 37)"],
.theme-dark .barBackground-2EEiLw {
    background: var(--nox-level2) !important;
}

.theme-dark .tierMarkerInProgress-24LMzJ .currentTierIcon-2gcTCn.tier3Icon-Ku4Ahe {
    color: var(--nox-white)
}

.barForeground-3KglC8 {
    background: var(--nox-accent);
}

.barSecondary-3B1aP2 {
    background: var(--nox-white9);
}

.theme-dark .tierBody-16Chc9 {
    background: #1C1C1C;
}

.theme-dark .tierHeaderLocked-1s2JJz {
    background: var(--nox-level3);
    color: var(--nox-white3);
}

.theme-dark .tierLock-3CSxSX {
    color: var(--nox-white3)
}

.newBadge-25C6UM {
    background: var(--nox-important-notification) !important;
}

.theme-dark .perk-2WeBWW {
    background: var(--nox-level2);
}

.theme-dark .icon-QVoPRH {
    color: var(--nox-white);
}

.tier-1EY-yj {
    background: var(--nox-black2);
}