.theme-dark .perksModal-fSYqOq {
    background: var(--nox-level1);
}

.ctaBar-2UsjF2 {
    background: var(--nox-level2);
}

.badgeIconWithSubscribers-3PlMu9 {
    color: var(--nox-white);
}

.theme-dark .tierMarkerBackground-G8FoN4 {
    background: none;
}

.tierMarker-Vw1C95[style*="background: rgb(255, 115, 250)"] {
    background: var(--nox-accent) !important;
}

.tierMarkerLabelContainer-1bRYay .button-f2h6uQ {
    padding: 0;
}

.tierMarkerLabelContainer-1bRYay .button-f2h6uQ:hover {
    filter: none;
    box-shadow: none;
    transition: none;
}

.tierMarkerLabelText-1wk8KK:not(.isAccomplished-2NcqRT):hover {
    background: rgba(255, 255, 255, 0.05);
}

.tierMarkerLabelPlusIcon-2zLkr7 {
    color: var(--nox-accent);
}

.tierMarker-Vw1C95[style*="background: rgb(32, 34, 37)"],
.theme-dark .barBackground-unEPDT {
    background: var(--nox-level2) !important;
}

.theme-dark .tierMarkerInProgress-2Tdxjz .currentTierIcon-2rq-bv.tier3Icon-959FdD {
    color: var(--nox-white)
}

.barForeground-2kwBa_ {
    background: var(--nox-accent);
}

.barSecondary-VouwoY {
    background: var(--nox-white9);
}

.theme-dark .tierBody-16Chc9 {
    background: #1C1C1C;
}

.theme-dark .tierHeaderLocked-1s2JJz {
    background: var(--nox-level3);
    color: var(--nox-white3);
}

.theme-dark .tierLock-3CSxSX {
    color: var(--nox-white3)
}

.newBadge-25C6UM {
    background: var(--nox-important-notification) !important;
}

.theme-dark .perk-2WeBWW {
    background: var(--nox-level2);
}

.theme-dark .icon-QVoPRH {
    color: var(--nox-white);
}

.tier-1EY-yj {
    background: var(--nox-black2);
}