.container-1a3EgQ {
    background: var(--nox-level1);
}

.stageSection-3mAD8V {
    background: none;
}

.theme-dark .container-S9SaVf {
    background: var(--nox-level2);
    border: none;
}

.container-S9SaVf:hover {
    background: #1C1C1C !important;
}

// listener count
.container-7Unqij {
    background: var(--nox-black3);
}

// activity
.wrapper-3D2qGf {
    background: var(--nox-level2);
    border: none;
}

.wrapper-3D2qGf:hover {
    background: #1C1C1C !important;
}

.theme-dark .inset-3sAvek {
    background: var(--nox-level3);
}