.previewMessage-2uxBrA {
    background: var(--nox-level1);
}
.previewMessage-2uxBrA .message-2CShn3 .avatar-2e8lTP {
    top: 0;
}

.theme-dark .checkbox-f1HnKB {
    border-color: var(--nox-level1);
}
.theme-dark .checkbox-f1HnKB.checked-1pZh2h {
    background-color: var(--nox-accent) !important;
    border: none;
}