.previewMessage-1ZN7YG {
    background: var(--nox-level1);
}
.previewMessage-1ZN7YG .message-2qnXI6 .avatar-1BDn8e {
    top: 0;
}

.theme-dark .checkbox-1ix_J3 {
    border-color: var(--nox-level1);
}
.theme-dark .checkbox-1ix_J3.checked-3_4uQ9 {
    background-color: var(--nox-accent) !important;
    border: none;
}