.theme-dark .timestamp-1mruiI,
.theme-dark .auditLog-3jNbM6{
    color:var(--nox-white4);
}
.changeDetails-bk98pu {
    animation:audit 100ms cubic-bezier(0,0,0,1);
    padding-bottom:15px;
}

@keyframes audit{
    0%{
        padding-bottom:0;
    }
}

.header-GwIGlr {
    background:var(--nox-level1)!important;
    border-color:var(--nox-level1)!important;
    border-radius:3px;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    transition:300ms ease;
}
.header-GwIGlr.headerExpanded-CUEwZ5 {
    background:#353535!important;
}