.contentColumn-1C7as6 .notDetected-2HEmAp {
    background:#404040;
}
.contentColumn-1C7as6 .gameNameInput-3TuPuA:focus,
.contentColumn-1C7as6 .gameNameInput-3TuPuA:hover{
    background:transparent;
}
.contentColumn-1C7as6 .gameNameInput-3TuPuA{
    border:none;
    box-shadow:0 2px 0 transparent,-240px 2px 0 var(--nox-accent);
    border-radius:0;
    transition:200ms ease;
}
.contentColumn-1C7as6 .gameNameLastPlayed-2g48D5{
    overflow: hidden;
}
.contentColumn-1C7as6 .gameNameInput-3TuPuA:hover{
    border:none;
    box-shadow:0 2px 0 rgba(255,255,255,.05),-240px 2px 0 var(--nox-accent);
    border-radius:0;
}
.contentColumn-1C7as6 .gameNameInput-3TuPuA:focus{
    border:none;
    box-shadow:0 2px 0 rgba(255,255,255,.05),0 2px 0 var(--nox-accent);
    transition:200ms cubic-bezier(0,0,0,1);
}
.contentColumn-1C7as6 .lastPlayed-3aHvxk,
.contentColumn-1C7as6 .overlayStatusText-AHDYB3{
    color:var(--nox-white3);
    margin-top:4px;
}

.contentColumn-1C7as6 .game-3x3aDt {
    box-shadow:0 1px 0 0 rgba(255,255,255,.04);
}

.contentColumn-1C7as6 .notDetected-2HEmAp .lastPlayed-3aHvxk {
    color:var(--nox-white5);
    padding-bottom:3px;
}




.contentColumn-1C7as6 .now-playing .gameNameInput-3TuPuA:focus,
.contentColumn-1C7as6 .now-playing .gameNameInput-3TuPuA:hover{
    border-color:transparent!important;
    background: none;
}
.contentColumn-1C7as6 .now-playing .gameNameInput-3TuPuA{
    box-shadow: 0 2px 0 var(--nox-white3),-240px 2px 0 var(--nox-white);
}
.contentColumn-1C7as6 .now-playing .gameNameInput-3TuPuA:focus{
    box-shadow: 0 2px 0 var(--nox-white3),0 2px 0 var(--nox-white);
}
.contentColumn-1C7as6 .now-playing .gameName-Uw4dbt{
    color:var(--nox-white);
}






.contentColumn-1C7as6 .gameNameInput-3TuPuA{
    padding-left:6px;
}
.contentColumn-1C7as6 .default-rFvAvS, .hovered-20u3oh{
    height:16px;
}

.game-3x3aDt .removeGame-3Le1LJ {
    background-color: var(--nox-level1);
}

.contentRegion-3HkfJJ .flowerStar-2tNFCR path {
    fill: var(--nox-accent) !important;
}

.theme-dark .overlayToggleIconOn-3_-nGm .fill-MYciTJ {
    fill: var(--nox-white4)
}