.cardWrapper-CyvwQv {
    background: var(--nox-level3);
}

.card-2gdrYL:hover {
    background: var(--nox-black2);
}

.cardWrapper-CyvwQv .gemIndicatorContainer-PqApbX {
    background-color: var(--nox-level2);
}

.gemWithLabel-9XSuaB,
.gemIndicatorProgressCircle-Wb8Ju8 {
    color: var(--nox-accent);
}

.cardWrapper-CyvwQv .gemWithoutLabel-1od40y {
    color: var(--nox-white4);
}

.wrapper-3nSjSv::before,
.marketingLogoImage-1yeD_x {
    filter: grayscale(100%) brightness(90%);
}

.wrapper-3nSjSv {
    background: transparent;
}

.content-22JeIO .tierHeaderLocked-1a2opw {
    background: var(--nox-level3);
}

.content-22JeIO .tierBody-x9kBBp {
    background: var(--nox-level1);
}

.content-22JeIO .background-3xJH_4 {
    color: var(--nox-level3);
}

.content-22JeIO .tierInProgress-1vFUnw {
    background: var(--nox-level1);
}

.content-22JeIO .tierAccomplished-1I5NaT,
.content-22JeIO .tierCurrent-2nowYi,
.content-22JeIO .tierDefault-39L2SF {
    background: var(--nox-accent);
}

// Boosting for nitro only
.guildHeader-3nh5RK{
    background: var(--nox-level3);
}
.guildSubscriptionSlots-JPXXvN{
    background-color: var(--nox-level1)!important;
}
.guildSubscriptionSlot-1XGRPI{
    border-color: var(--background-modifier-accent)!important;
}