.cardWrapper-2Min21 {
    background: var(--nox-level3);
}

.card-3AyPWq:hover {
    background: var(--nox-black2);
}

.cardWrapper-2Min21 .gemIndicatorContainer-2jdECl {
    background-color: var(--nox-level2);
}

.gemWithLabel-2aecE_,
.gemIndicatorProgressCircle-3wDFa1 {
    color: var(--nox-accent);
}

.cardWrapper-2Min21 .gemWithoutLabel-7-ZvB_ {
    color: var(--nox-white4);
}

.wrapper-3nSjSv::before,
.marketingLogoImage-2SzXIR {
    filter: grayscale(100%) brightness(90%);
}

.wrapper-3nSjSv {
    background: transparent;
}

.content-22JeIO .tierHeaderLocked-1a2opw {
    background: var(--nox-level3);
}

.content-22JeIO .tierBody-x9kBBp {
    background: var(--nox-level1);
}

.content-22JeIO .background-3xPPFc {
    color: var(--nox-level3);
}

.content-22JeIO .tierInProgress-3mBoXq {
    background: var(--nox-level1);
}

.content-22JeIO .tierAccomplished-2eXPdI,
.content-22JeIO .tierCurrent-Lw7-4E,
.content-22JeIO .tierDefault-2qaRkD {
    background: var(--nox-accent);
}

// Boosting for nitro only
.guildHeader-3nh5RK{
    background: var(--nox-level3);
}
.guildSubscriptionSlots-JPXXvN{
    background-color: var(--nox-level1)!important;
}
.guildSubscriptionSlot-1XGRPI{
    border-color: var(--background-modifier-accent)!important;
}