.userSettingsVoice-1_dzjw .previewOverlay-2reuWf img {
    filter: grayscale(100%)brightness(110%);
}

.theme-dark .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
    background: #292929;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.03) inset;
    border-radius: 3px;
}

// .notches-2w7UZJ,
// .progress-1S-TDF,
// .wrapper-UvA17F,
// .container-3NTP7o {
//     // border-radius: 10px;
//     overflow: hidden;
// }

// .container-3NTP7o[style*="linear-gradient"] .progress-1S-TDF {
//     // border-radius: 0;
// }

.container-3NTP7o .progress-1S-TDF {
    background: var(--nox-level1);
}

.container-3NTP7o .notches-2w7UZJ {
    background: none !important;
}

.micTest-R7grQZ .micTestButton-3lpP11{
    width:106px!important;
}