.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC img {
    filter: grayscale(100%)brightness(110%);
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background: #292929;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.03) inset;
    border-radius: 3px;
}

// .notches-1sAcEM,
// .progress-1IcQ3A,
// .wrapper-3Z-vWm,
// .container-3PXSwK {
//     // border-radius: 10px;
//     overflow: hidden;
// }

// .container-3PXSwK[style*="linear-gradient"] .progress-1IcQ3A {
//     // border-radius: 0;
// }

.container-3PXSwK .progress-1IcQ3A {
    background: var(--nox-level1);
}

.container-3PXSwK .notches-1sAcEM {
    background: none;
}

.micTest-R7grQZ .micTestButton-3lpP11{
    width:106px!important;
}