$Classes: (
	Emojipicker: (
		diversitySelector: "diversitySelector-tmmMv0",
		popout: "popout-2nUePc",
		item: "item-16cXuq",
		emojiPicker: "emojiPicker-3m1S-j",
		dimmer: "dimmer-3iH-5D",
		visible: "visible-3k45bQ",
		header: "header-1nkwgG",
		stickyHeader: "stickyHeader-1SS0JU",
		category: "category-2U57w6",
		scrollerWrap: "scrollerWrap-PyxcLY",
		scroller: "scroller-3vODG7",
		row: "row-3j9Kuo",
		emojiItem: "emojiItem-109bjA",
		selected: "selected-39BZ4S",
		disabled: "disabled-1H1CfW",
		spriteItem: "spriteItem-2AFL7r",
		categories: "categories-1feg4n",
		recent: "recent-rdY7_c",
		people: "people-2y6eof",
		nature: "nature-WkggKK",
		food: "food-3vb4RY",
		activity: "activity-2oLAbd",
		travel: "travel-2FeozN",
		objects: "objects-ktZjG4",
		symbols: "symbols-3xtDtJ",
		flags: "flags-3peqg9",
		custom: "custom-2TY7UZ",
		premiumPromo: "premiumPromo-yVfLiA",
		premiumPromoClose: "premiumPromoClose-2sqoIR",
		premiumPromoImage: "premiumPromoImage-tGTlKV",
		premiumPromoTitle: "premiumPromoTitle-1SQQfF",
		premiumPromoDescription: "premiumPromoDescription-2Mn515"
	),
    "AccountDetails": (
        "flex": ".flex-1O1GKY",
        "weightNormal": ".weightNormal-WI4TcG",
        "weightSemiBold": ".weightSemiBold-NJexzi",
        "nameTag": ".nameTag-m8r81H",
        "username": ".username-2b1r56",
        "discriminator": ".discriminator-19kRMP",
        "ownerIcon": ".ownerIcon-1cARO0",
        "bot": ".bot-2Fta1w",
        "container": ".container-2Thooq",
        "avatar": ".avatar-3JE4B3",
        "status": ".status-2kJpnA",
        "accountDetails": ".accountDetails-3k9g4n",
        "button": ".button-2b6hmh",
        "buttonInner": ".buttonInner-LmnaN_"
    ),
    "UserPopout": (
        "marginBottom4": ".marginBottom4-2qk4Hy",
        "marginBottom8": ".marginBottom8-AtZOdT",
        "marginBottom20": ".marginBottom20-32qID7",
        "marginTop20": ".marginTop20-3TxNs6",
        "size10": ".size10-39i14u",
        "size12": ".size12-3R0845",
        "size14": ".size14-3iUx6q",
        "size16": ".size16-14cGz5",
        "height12": ".height12-2Ltw-k",
        "weightNormal": ".weightNormal-WI4TcG",
        "weightSemiBold": ".weightSemiBold-NJexzi",
        "weightBold": ".weightBold-2yjlgw",
        "userSelectText": ".userSelectText-1o1dQ7",
        "maskProfile": ".maskProfile-1ObLFT",
        "userPopout": ".userPopout-3XzG_A",
        "header": ".header-2BwW8b",
        "headerBotTag": ".headerBotTag-35luy-",
        "headerTop": ".headerTop-3C2Zn0",
        "headerNormal": ".headerNormal-T_seeN",
        "headerStreaming": ".headerStreaming-2FjmGz",
        "headerSpotify": ".headerSpotify-zpWxgT",
        "headerXbox": ".headerXbox-3G-4PF",
        "headerPlaying": ".headerPlaying-j0WQBV",
        "avatarWrapper": ".avatarWrapper-3H_478",
        "avatarWrapperNormal": ".avatarWrapperNormal-3wFMbf",
        "avatarHint": ".avatarHint-1qgaV3",
        "avatarWrapperNonUserBot": ".avatarWrapperNonUserBot-2DufN6",
        "avatarStatus": ".avatarStatus-3Ay1VL",
        "avatarHintInner": ".avatarHintInner-Dco91E",
        "headerText": ".headerText-2sdzFM",
        "headerName": ".headerName-fajvi9",
        "headerTagUsernameNoNickname": ".headerTagUsernameNoNickname-2_H881",
        "headerTag": ".headerTag-2pZJzA",
        "headerTagNoNickname": ".headerTagNoNickname-ENx6no",
        "headerActivityText": ".headerActivityText-gcopRr",
        "headerLive": ".headerLive-172YLb",
        "headerLiveText": ".headerLiveText-2NrUq_",
        "headerLiveIcon": ".headerLiveIcon-3ASKA7",
        "live-pulse": ".live-pulse-3GAxuT",
        "activity": ".activity-11LB_k",
        "body": ".body-3iLsc4",
        "rolesList": ".rolesList-22qj2L",
        "note": ".note-3HfJZ5",
        "endBodySection": ".endBodySection-Rf4s-7",
        "bodyTitle": ".bodyTitle-Y0qMQz",
        "footer": ".footer-1fjuF6",
        "wumpusWrapper": ".wumpusWrapper-yrvoR3",
        "wumpus": ".wumpus-3VDMUi",
        "wumpusTooltip": ".wumpusTooltip-65YlMT",
        "wumpusShown": ".wumpusShown-2xKVn_",
        "quickMessage": ".quickMessage-1yeL4E",
        "protip": ".protip-YaFfgO"
    ),
    "PopoutRoles": (
        "flex": ".flex-1O1GKY",
        "alignCenter": ".alignCenter-1dQNNs",
        "justifyCenter": ".justifyCenter-3D2jYp",
        "wrap": ".wrap-ZIn9Iy",
        "root": ".root-3-B5F3",
        "role": ".role-2irmRk",
        "roleCircle": ".roleCircle-3xAZ1j",
        "roleCircleButton": ".roleCircleButton-377y0l",
        "roleRemoveIcon": ".roleRemoveIcon-2-TeGW",
        "roleName": ".roleName-32vpEy",
        "actionButton": ".actionButton-VzECiy",
        "overflowButton": ".overflowButton-1SCpCf",
        "addButton": ".addButton-pcyyf6",
        "addButtonIcon": ".addButtonIcon-1NMJ8u",
        "overflowRolesPopout": ".overflowRolesPopout-140n9i",
        "overflowRolesPopoutArrowWrapper": ".overflowRolesPopoutArrowWrapper-2Dx30g",
        "overflowRolesPopoutArrow": ".overflowRolesPopoutArrow-2O66oH",
        "overflowRolesPopoutHeader": ".overflowRolesPopoutHeader-ciqDLE",
        "overflowRolesPopoutHeaderIcon": ".overflowRolesPopoutHeaderIcon-6PNEZA",
        "overflowRolesPopoutHeaderText": ".overflowRolesPopoutHeaderText-1SW-y3"
    ),
    "Backdrop": (
        "backdrop": ".backdrop-1wrmKB"
    ),
    "Modals": (
        "modal": ".modal-1UGdnR",
        "inner": ".inner-1JeGVc"
    ),
    "ContextMenu": (
        "darkBackgroundColor": ".#18191c",
        "darkBoxShadow": ".0",
        "darkItemColor": ".rgba(#ffffff,",
        "darkHoverItemColor": ".#ffffff",
        "darkHoverItemBackgroundColor": ".#040405",
        "lightBackgroundColor": ".#ffffff",
        "lightBoxShadow": ".0",
        "lightItemColor": ".#9099a4",
        "lightHoverItemColor": ".#747f8d",
        "lightHoverItemBackgroundColor": ".#f6f6f7",
        "contextMenu": ".contextMenu-HLZMGh",
        "disabled": ".disabled-2xniQf",
        "invertChildX": ".invertChildX-2fq7sY",
        "scroller": ".scroller-2PSBSf",
        "itemSlider": ".itemSlider-FZeYw0",
        "label": ".label-JWQiNe",
        "slider": ".slider-3BOep7",
        "itemSubMenu": ".itemSubMenu-1vN_Yn",
        "itemSubMenuHasScroller": ".itemSubMenuHasScroller-1J2hmF",
        "item": ".item-1Yvehc",
        "danger": ".danger-2dXSTE",
        "brand": ".brand-3igrJY",
        "hint": ".hint-22uc-R",
        "itemGroup": ".itemGroup-1tL0uz",
        "itemToggle": ".itemToggle-S7XGOQ",
        "itemImage": ".itemImage-htIz_v"
    ),
    "Textarea": (
        "flex": ".flex-1O1GKY",
        "channelTextArea": ".channelTextArea-1LDbYG",
        "channelTextAreaEnabled": ".channelTextAreaEnabled-iusU9o",
        "channelTextAreaEnabledNoAttach": ".channelTextAreaEnabledNoAttach-3tPFmT",
        "channelTextAreaDisabled": ".channelTextAreaDisabled-rZtG8r",
        "inner": ".inner-zqa7da",
        "innerEnabled": ".innerEnabled-3g80kR",
        "innerEnabledNoAttach": ".innerEnabledNoAttach-NE9K7P",
        "innerDisabled": ".innerDisabled-2mc-iF",
        "innerAutocomplete": ".innerAutocomplete-1PN280",
        "innerNoAutocomplete": ".innerNoAutocomplete-1WpcVO",
        "attachButton": ".attachButton-1UjEWA",
        "attachButtonPlus": ".attachButtonPlus-rUdX-B",
        "attachButtonInner": ".attachButtonInner-1iyZ9F",
        "attachButtonPlay": ".attachButtonPlay-ZnFdQr",
        "attachButtonDivider": ".attachButtonDivider-3Glu60",
        "uploadInput": ".uploadInput-2lNPSo",
        "textArea": ".textArea-2Spzkt",
        "textAreaEdit": ".textAreaEdit-bNLDk3",
        "textAreaEnabled": ".textAreaEnabled-3vQ5WZ",
        "textAreaEnabledNoAttach": ".textAreaEnabledNoAttach-1WxUwj",
        "textAreaForm": ".textAreaForm-18s4EO",
        "textAreaDisabled": ".textAreaDisabled-2_o-kZ",
        "emojiButton": ".emojiButton-2wRZts",
        "attachPopout": ".attachPopout-1n-ZKM",
        "attachPopoutRow": ".attachPopoutRow-KrE-f6",
        "attachPopoutIcon": ".attachPopoutIcon-26Np2W",
        "attachPopoutRowText": ".attachPopoutRowText-1tIocA",
        "autocomplete": ".autocomplete-i9yVHs",
        "attachPopoutIconForeground": ".attachPopoutIconForeground-OohRrL"
    ),
    "Scrollers": (
        "scrollerWrap": ".scrollerWrap-2lJEkd",
        "scrolling": ".scrolling-CehiO2",
        "scroller": ".scroller-2FKFPG",
        "scrollerWrapPolyfill": ".scrollerWrapPolyfill-DBQCMm",
        "scrollbar": ".scrollbar-2rkZSL",
        "pad": ".pad-29zQak",
        "track": ".track-1JN30G",
        "thumb": ".thumb-2JwNFC",
        "scrollerFade": ".scrollerFade-1Ijw5y",
        "scrollerThemed": ".scrollerThemed-2oenus",
        "themeLight": ".themeLight-1_DWyY",
        "scrollerTrack": ".scrollerTrack-1ZIpsv",
        "themeDark": ".themeDark-2cjlUp",
        "themeGhost": ".themeGhost-28MSn0",
        "themeGhostHairline": ".themeGhostHairline-DBD-2d",
        "themeGhostHairlineChannels": ".themeGhostHairlineChannels-3G0x9_"
    ),
    "Typing": (
        "activityInviteEducation": ".activityInviteEducation-8C0Czp",
        "activityInviteEducationFadeIn": ".activityInviteEducationFadeIn-1MAMAO",
        "activityInviteEducationArrow": ".activityInviteEducationArrow-3DEpKU",
        "typing": ".typing-2GQL18",
        "text": ".text-1y-e8-",
        "ellipsis": ".ellipsis-19qdx6"
    ),
    "UserModal": (
        "flex": ".flex-1O1GKY",
        "alignCenter": ".alignCenter-1dQNNs",
        "directionColumn": ".directionColumn-35P_nr",
        "justifyBetween": ".justifyBetween-2tTqYu",
        "justifyCenter": ".justifyCenter-3D2jYp",
        "userSelectText": ".userSelectText-1o1dQ7",
        "root": ".root-SR8cQa",
        "topSectionStreaming": ".topSectionStreaming-1Tpf5X",
        "topSectionSpotify": ".topSectionSpotify-1lI0-P",
        "topSectionXbox": ".topSectionXbox-3fWLjS",
        "topSectionPlaying": ".topSectionPlaying-1J5E4n",
        "profileBadgePartner": ".profileBadgePartner-SjK6L2",
        "header": ".header-QKLPzZ",
        "headerInfo": ".headerInfo-30uryT",
        "nameTag": ".nameTag-2IFDfL",
        "botTag": ".botTag-ymWxY6",
        "avatar": ".avatar-3EQepX",
        "username": ".username-3gJmXY",
        "discriminator": ".discriminator-xUhQkU",
        "profileBadges": ".profileBadges-2vWUYb",
        "profileBadge": ".profileBadge-2BqF-Z",
        "profileBadgeStaff": ".profileBadgeStaff-13GO7z",
        "profileBadgeHypesquad": ".profileBadgeHypesquad-1YIe7Z",
        "profileBadgePremium": ".profileBadgePremium-3kZ9Qj",
        "profileBadgeBugHunter": ".profileBadgeBugHunter-IV0vLE",
        "topSectionNormal": ".topSectionNormal-2-vo2m",
        "actionButton": ".actionButton-3W1xZa",
        "actionRightButton": ".actionRightButton-2vQaa9",
        "buttonInvertedPurple": ".buttonInvertedPurple-WtBglX",
        "headerFill": ".headerFill-adLl4x",
        "additionalActionsIcon": ".additionalActionsIcon-1FoUlE",
        "tabBarContainer": ".tabBarContainer-1s1u-z",
        "tabBar": ".tabBar-2MuP6-",
        "tabBarItem": ".tabBarItem-1b8RUP",
        "activity": ".activity-1ythUs",
        "body": ".body-3ND3kc",
        "listScroller": ".listScroller-2_vlfo",
        "userInfoSection": ".userInfoSection-2acyCx",
        "userInfoSectionHeader": ".userInfoSectionHeader-CBvMDh",
        "note": ".note-QfFU8y",
        "connectedAccounts": ".connectedAccounts-repVzS",
        "connectedAccount": ".connectedAccount-36nQx7",
        "connectedAccountIcon": ".connectedAccountIcon-3P3V6F",
        "connectedAccountNameInner": ".connectedAccountNameInner-1phBvE",
        "connectedAccountName": ".connectedAccountName-f8AEe2",
        "connectedAccountVerifiedIcon": ".connectedAccountVerifiedIcon-3aZz_K",
        "connectedAccountOpenIcon": ".connectedAccountOpenIcon-2cNbq5",
        "listAvatar": ".listAvatar-1NlAhb",
        "guildAvatarWithoutIcon": ".guildAvatarWithoutIcon-1sTmE_",
        "listRow": ".listRow-hutiT_",
        "listRowContent": ".listRowContent-3Kih4Q",
        "listName": ".listName-3w10cx",
        "guildNick": ".guildNick-3uAm3i",
        "listDiscriminator": ".listDiscriminator-253zfw",
        "empty": ".empty-2WtT5s",
        "emptyIcon": ".emptyIcon-pGTAhd",
        "emptyIconFriends": ".emptyIconFriends-BrjhY9",
        "emptyIconGuilds": ".emptyIconGuilds-3OViNh",
        "emptyIconStreamerMode": ".emptyIconStreamerMode-3RfWOW",
        "emptyText": ".emptyText-6tYmO5",
        "profileBadgeText": ".profileBadgeText-1JgCcU",
        "listAvatarStatus": ".listAvatarStatus-3qssrV"
    ),
    "Popouts": (
        "popouts": ".popouts-3dRSmE",
        "popout": ".popout-3sVMXz",
        "noShadow": ".noShadow-321ZPm",
        "popoutLeft": ".popoutLeft-30WmrD",
        "noArrow": ".noArrow-3BYQ0Z",
        "popoutRight": ".popoutRight-2ZVwL-",
        "popoutBottom": ".popoutBottom-1YbShG",
        "popoutBottomLeft": ".popoutBottomLeft-JehOp2",
        "popoutBottomRight": ".popoutBottomRight-2JrySt",
        "popoutTop": ".popoutTop-3uu9vG",
        "popoutTopRight": ".popoutTopRight-3BzFIE",
        "popoutTopLeft": ".popoutTopLeft-b5Eb3O",
        "popoutInvert": ".popoutInvert-3UdKhn",
        "themedPopout": ".themedPopout-25DgLi",
        "header": ".header-SsaQ8X",
        "title": ".title-23FrqZ",
        "subtitle": ".subtitle-37ivwK",
        "footer": ".footer-SRC48P",
        "tip": ".tip-2WErbi",
        "body": ".body-1CHPZz"
    ),
    "Titles": (
        "size12": ".size12-3R0845",
        "size14": ".size14-3iUx6q",
        "size16": ".size16-14cGz5",
        "size18": ".size18-3EXdSj",
        "size20": ".size20-2QkeeC",
        "weightNormal": ".weightNormal-WI4TcG",
        "weightSemiBold": ".weightSemiBold-NJexzi",
        "weightBold": ".weightBold-2yjlgw",
        "weightMedium": ".weightMedium-2iZe9B",
        "height16": ".height16-2Lv3qA",
        "height20": ".height20-mO2eIN",
        "height24": ".height24-3XzeJx",
        "statusRed": ".statusRed-21U8Tp",
        "marginReset": ".marginReset-236NPn",
        "marginBottom20": ".marginBottom20-32qID7",
        "marginBottom8": ".marginBottom8-AtZOdT",
        "title": ".title-3sZWYQ",
        "h1": ".h1-1qdNzo",
        "h2": ".h2-2gWE-o",
        "h3": ".h3-3PDeKG",
        "h4": ".h4-AQvcAz",
        "h5": ".h5-18_1nd",
        "defaultMarginh1": ".defaultMarginh1-peT3GC",
        "defaultMarginh4": ".defaultMarginh4-2vWMG5",
        "defaultMarginh2": ".defaultMarginh2-2LTaUL",
        "defaultMarginh3": ".defaultMarginh3-2iptLs",
        "defaultMarginh5": ".defaultMarginh5-2mL-bP",
        "disabled": ".disabled-2Dh7SK",
        "required": ".required-7sPBq3",
        "errorMessage": ".errorMessage-3Guw2R",
        "errorSeparator": ".errorSeparator-30Q6aR",
        "defaultColor": ".defaultColor-1_ajX0",
        "faded": ".faded-3bns_w",
        "error": ".error-25JxNp"
    ),
    "Notices": (
        "weightMedium": ".weightMedium-2iZe9B",
        "size14": ".size14-3iUx6q",
        "height36": ".height36-36OHCc",
        "flex": ".flex-1O1GKY",
        "alignCenter": ".alignCenter-1dQNNs",
        "justifyCenter": ".justifyCenter-3D2jYp",
        "notice": ".notice-2FJMB4",
        "noticeDefault": ".noticeDefault-362Ko2",
        "button": ".button-1MICoQ",
        "noticePremium": ".noticePremium-12Zvj9",
        "noticeInfo": ".noticeInfo-3_iTE1",
        "noticeSuccess": ".noticeSuccess-3Y62ob",
        "noticeDanger": ".noticeDanger-7u-yT9",
        "noticeStreamerMode": ".noticeStreamerMode-2TSQpg",
        "noticeFacebook": ".noticeFacebook-3equ5g",
        "noticeSpotify": ".noticeSpotify-27dhr0",
        "platformIcon": ".platformIcon-2NdO9F",
        "noticeBrand": ".noticeBrand-3nQBC_",
        "dismiss": ".dismiss-SCAH9H",
        "icon": ".icon-KgjVwm",
        "iconWindows": ".iconWindows-1KG_XN",
        "iconApple": ".iconApple-1hp9Sq",
        "iconAndroid": ".iconAndroid-3HTSwF",
        "btn": ".btn-2o56RF",
        "textLink": ".textLink-27KAGV",
        "premiumLogo": ".premiumLogo-30dge3",
        "premiumText": ".premiumText-C5NcRe",
        "premiumAction": ".premiumAction-3Tcani"
    ),
    "AuditLog": (
        "auditLog": ".auditLog-3jNbM6",
        "divider": ".divider-1pnAR2",
        "header": ".header-GwIGlr",
        "headerDefault": ".headerDefault-1wrJcN",
        "headerClickable": ".headerClickable-2IVFo9",
        "headerExpanded": ".headerExpanded-CUEwZ5",
        "timeWrap": ".timeWrap-2DasL6",
        "timestamp": ".timestamp-1mruiI",
        "avatar": ".avatar-_VZUJy",
        "expand": ".expand-1lx8E1",
        "expandForeground": ".expandForeground-1nZ4VR",
        "colorHook": ".colorHook-1CpiRO",
        "userHook": ".userHook-3AdCBF",
        "discrim": ".discrim-3rYTMj",
        "changeDetails": ".changeDetails-bk98pu",
        "detail": ".detail-1BhUh9",
        "prefix": ".prefix-24L010",
        "typeCreate": ".typeCreate-1kfBMl",
        "typeDelete": ".typeDelete-bTXOuk",
        "typeUpdate": ".typeUpdate-2bwuHy",
        "dash": ".dash-3L29dH",
        "change": ".change-ydJzJx",
        "changeStr": ".changeStr-12S1vf",
        "subListItem": ".subListItem-3Ax2Vo",
        "icon": ".icon-RTGJu3",
        "themeOverrideLight": ".themeOverrideLight-3bx_5B",
        "targetAll": ".targetAll-13V3n6",
        "targetBan": ".targetBan-3mbIPL",
        "targetChannel": ".targetChannel-TrRFlx",
        "targetGuild": ".targetGuild-mDWfAV",
        "targetEmoji": ".targetEmoji-3vhPhM",
        "targetInvite": ".targetInvite-1RQBlr",
        "targetMemberRole": ".targetMemberRole-jowY3I",
        "targetMember": ".targetMember-2iuwxX",
        "targetPermission": ".targetPermission-ZRUN5n",
        "targetRole": ".targetRole-2MoUny",
        "targetVanityUrl": ".targetVanityUrl-3OpsYX",
        "targetWebhook": ".targetWebhook-1xS7Z7",
        "targetWidget": ".targetWidget-3hFVSM",
        "targetMessage": ".targetMessage-2kBYMT",
        "themeOverrideDark": ".themeOverrideDark-1u5Vo0"
    ),
    "ChannelList": (
        "containerDefault": ".containerDefault-1ZnADq",
        "containerDragAfter": ".containerDragAfter-1F4fgZ",
        "containerDragBefore": ".containerDragBefore-31UGCO",
        "containerUserOver": ".containerUserOver-1U5YnL",
        "iconSpacing": ".iconSpacing-3JkGQO",
        "disableClick": ".disableClick-2A2elC",
        "disabled": ".disabled-PGteqt",
        "actionIcon": ".actionIcon-2Hi9ZG",
        "overflowEllipsis": ".overflowEllipsis-jeThUf",
        "marginReset": ".marginReset-3RfdVe",
        "wrapper": ".wrapper-KpKNwI",
        "wrapperConnectedText": ".wrapperConnectedText-3NUF2g",
        "wrapperConnectedVoice": ".wrapperConnectedVoice-2mvQJY",
        "wrapperDefaultText": ".wrapperDefaultText-2IWcE8",
        "wrapperDefaultVoice": ".wrapperDefaultVoice-1yvceo",
        "wrapperHoveredText": ".wrapperHoveredText-2geN_M",
        "wrapperHoveredVoice": ".wrapperHoveredVoice-3ItgyI",
        "wrapperLockedText": ".wrapperLockedText-wfOnM5",
        "wrapperLockedVoice": ".wrapperLockedVoice-3QrBs-",
        "wrapperMutedText": ".wrapperMutedText-1YBpvv",
        "wrapperMutedVoice": ".wrapperMutedVoice-10gPcW",
        "wrapperSelectedText": ".wrapperSelectedText-3dSUjC",
        "wrapperSelectedVoice": ".wrapperSelectedVoice-xzxa2u",
        "wrapperUnreadText": ".wrapperUnreadText-2zuiuD",
        "wrapperUnreadVoice": ".wrapperUnreadVoice-23GIYe",
        "icon": ".icon-sxakjD",
        "colorConnectedText": ".colorConnectedText-1c_uzY",
        "colorConnectedVoice": ".colorConnectedVoice-3kyvUN",
        "colorDefaultText": ".colorDefaultText-oas-QM",
        "colorDefaultVoice": ".colorDefaultVoice-3wYlhb",
        "colorHoveredText": ".colorHoveredText-OZnAgu",
        "colorHoveredVoice": ".colorHoveredVoice-1kucsK",
        "colorLockedText": ".colorLockedText-1VRkPt",
        "colorLockedVoice": ".colorLockedVoice-2UlBjl",
        "colorSelectedText": ".colorSelectedText-1y4Wvs",
        "colorSelectedVoice": ".colorSelectedVoice-Xcb_9R",
        "colorUnreadText": ".colorUnreadText-2t7XRb",
        "colorUnreadVoice": ".colorUnreadVoice-137o4S",
        "colorMutedText": ".colorMutedText-36M8WR",
        "colorMutedVoice": ".colorMutedVoice-3ghIuw",
        "foreground": ".foreground-2W-aJk",
        "background": ".background-2OVjk_",
        "content": ".content-20Aix8",
        "contentConnectedText": ".contentConnectedText-16O0fe",
        "contentConnectedVoice": ".contentConnectedVoice-qL-YrL",
        "contentDefaultText": ".contentDefaultText-3vZplL",
        "contentDefaultVoice": ".contentDefaultVoice-2ko43i",
        "contentHoveredText": ".contentHoveredText-2D9B-x",
        "contentHoveredVoice": ".contentHoveredVoice-3p_NEO",
        "contentLockedText": ".contentLockedText-1aHuz8",
        "contentLockedVoice": ".contentLockedVoice-1gx-SP",
        "contentMutedText": ".contentMutedText-2y6aPQ",
        "contentMutedVoice": ".contentMutedVoice-2lJ0UD",
        "contentSelectedText": ".contentSelectedText-3wUhMi",
        "contentSelectedVoice": ".contentSelectedVoice-1WDIBM",
        "contentUnreadText": ".contentUnreadText-2vNnZc",
        "contentUnreadVoice": ".contentUnreadVoice-1dijOt",
        "name": ".name-3M0b8v",
        "nameConnectedText": ".nameConnectedText-3CzNQn",
        "nameConnectedVoice": ".nameConnectedVoice-MHUX5F",
        "nameDefaultText": ".nameDefaultText-24KCy5",
        "nameDefaultVoice": ".nameDefaultVoice-3WUH7s",
        "nameHoveredText": ".nameHoveredText-1uO31y",
        "nameHoveredVoice": ".nameHoveredVoice-YJ1Vfd",
        "nameLockedText": ".nameLockedText-3pqQcL",
        "nameLockedVoice": ".nameLockedVoice-26MhB1",
        "nameMutedText": ".nameMutedText-3Vj4bM",
        "nameMutedVoice": ".nameMutedVoice-3oxyQZ",
        "nameSelectedText": ".nameSelectedText-sp_EUw",
        "nameSelectedVoice": ".nameSelectedVoice-1qSph5",
        "nameUnreadText": ".nameUnreadText-DfkrI4",
        "nameUnreadVoice": ".nameUnreadVoice-EVo-wI",
        "unread": ".unread-1Dp-OI",
        "spacer": ".spacer-29U_x8",
        "container": ".container-2lgZY8",
        "channels": ".channels-Ie2l6A",
        "base": ".base-3dtUhz"
    ),
    "MemberList": (
        "member": ".member-3W1lQa",
        "avatarOffline": ".avatarOffline-3GF27z",
        "darken": ".darken-1wMGLZ",
        "memberOffline": ".memberOffline-2lN7gt",
        "memberOnline": ".memberOnline-1CIh-0",
        "content": ".content-OzHfo4",
        "memberInner": ".memberInner-2CPc3V",
        "nameTag": ".nameTag-3p0yK-",
        "username": ".username-1cB_5E",
        "usernameOnline": ".usernameOnline-3jr_0Y",
        "usernameOffline": ".usernameOffline-3VSVLk",
        "ownerIcon": ".ownerIcon-uZ6mE7",
        "activity": ".activity-1IYsbk",
        "activityText": ".activityText-sLG0UL",
        "activityIcon": ".activityIcon-S3CciC",
        "avatarWrapper": ".avatarWrapper-3B0ndJ",
        "placeholder": ".placeholder-oNR4zO",
        "placeholderPulse": ".placeholderPulse-2rZrru",
        "placeholderUsername": ".placeholderUsername-236yYU",
        "placeholderAvatar": ".placeholderAvatar-uzH8f6",
        "status": ".status-2s6iDp",
        "statusAnimated": ".statusAnimated-1SvwJ-",
        "statusStatic": ".statusStatic-3QpK4G",
        "activityIconForeground": ".activityIconForeground-qYIPPg",
        "membersWrap": ".membersWrap-2h-GB4",
        "members": ".members-1998pB",
        "membersGroup": ".membersGroup-v9BXpm",
        "memberGroupsPlaceholder": ".memberGroupsPlaceholder-3mwPub"
    ),
    "TitleWrap": (
        "channelTextArea": ".channelTextArea-rNsIhG",
        "titleWrapper": ".titleWrapper-1l0xT9",
        "noChannel": ".noChannel-Z1DQK7",
        "editPartyIcon": ".editPartyIcon-1GA5r3",
        "title": ".title-3qD0b-",
        "titleCall": ".titleCall-_b9o8P",
        "titleText": ".titleText-3X-zRE",
        "channelName": ".channelName-3stJzi",
        "private": ".private-26pLvW",
        "channelIcon": ".channelIcon-MsmKOO",
        "background": ".background-1FptAZ",
        "groupDM": ".groupDM-3qU0Ks",
        "groupDMManaged": ".groupDMManaged-1GyXtq",
        "noTopic": ".noTopic-2b04lB",
        "topic": ".topic-2QX7LI",
        "aka": ".aka-1mqp34",
        "expandable": ".expandable-26ClD4"
    ),
    "Titlebar": (
        "titleBar": ".titleBar-AC4pGV",
        "typeMacOS": ".typeMacOS-3EmCyP",
        "typeWindows": ".typeWindows-1za-n7",
        "wordmark": ".wordmark-2iDDfm",
        "winButton": ".winButton-iRh8-Z",
        "winButtonMinMax": ".winButtonMinMax-PBQ2gm",
        "winButtonClose": ".winButtonClose-1HsbF-",
        "macButton": ".macButton-c_Adir",
        "macButtonClose": ".macButtonClose-MwZ2nf",
        "macButtonMaximize": ".macButtonMaximize-2FMHAO",
        "macButtonMinimize": ".macButtonMinimize-3EJ6wo",
        "unfocused": ".unfocused-1QsMU3"
    ),
    "Embeds": (
        "flex": ".flex-1O1GKY",
        "wrap": ".wrap-ZIn9Iy",
        "flexCenter": ".flexCenter-3_1bcw",
        "alignCenter": ".alignCenter-1dQNNs",
        "vertical": ".vertical-V37hAW",
        "horizontal": ".horizontal-2EEEnY",
        "marginTop4": ".marginTop4-2BNfKC",
        "marginTop8": ".marginTop8-1DLZ1n",
        "marginBottom4": ".marginBottom4-2qk4Hy",
        "embedMargin": ".embedMargin-UO5XwE",
        "embedMarginLarge": ".embedMarginLarge-YZDCEs",
        "embedLink": ".embedLink-1G1K1D",
        "embed": ".embed-IeVjo6",
        "embedPill": ".embedPill-1Zntps",
        "embedInner": ".embedInner-1-fpTo",
        "embedContent": ".embedContent-3fnYWm",
        "embedContentInner": ".embedContentInner-FBnk7v",
        "embedProvider": ".embedProvider-3k5pfl",
        "embedProviderLink": ".embedProviderLink-2Pq1Uw",
        "embedAuthor": ".embedAuthor-3l5luH",
        "embedAuthorName": ".embedAuthorName-3mnTWj",
        "embedAuthorNameLink": ".embedAuthorNameLink-1gVryT",
        "embedAuthorIcon": ".embedAuthorIcon--1zR3L",
        "embedTitle": ".embedTitle-3OXDkz",
        "embedTitleLink": ".embedTitleLink-1Zla9e",
        "embedDescription": ".embedDescription-1Cuq9a",
        "embedImage": ".embedImage-2W1cML",
        "embedThumbnail": ".embedThumbnail-2Y84-K",
        "embedVideo": ".embedVideo-3nf0O9",
        "embedVideoActions": ".embedVideoActions-O6vR7W",
        "embedVideoActionsInner": ".embedVideoActionsInner-2reMo2",
        "embedVideoAction": ".embedVideoAction-2BIhKO",
        "embedGIFV": ".embedGIFV-3_ebID",
        "embedGIFTag": ".embedGIFTag-n_mDqR",
        "embedFooter": ".embedFooter-3yVop-",
        "embedFooterText": ".embedFooterText-28V_Wb",
        "embedFooterSeparator": ".embedFooterSeparator-3klTIQ",
        "embedFooterIcon": ".embedFooterIcon-239O1f",
        "embedFields": ".embedFields-2IPs5Z",
        "embedField": ".embedField-1v-Pnh",
        "embedFieldInline": ".embedFieldInline-3-e-XX",
        "embedFieldName": ".embedFieldName-NFrena",
        "embedFieldValue": ".embedFieldValue-nELq2s"
    ),
    "Messages": (
        "marginSmall": ".8px",
        "marginMedium": ".20px",
        "fontWeightNormal": ".400",
        "fontWeightMedium": ".500",
        "marginCompactIndent": ".9ch",
        "grafSpacing": ".0.375rem",
        "marginHorizontal": ".20px",
        "container": ".container-1YxwTf",
        "containerCozy": ".containerCozy-jafyvG",
        "containerCompact": ".containerCompact-3V0ioj",
        "divider": ".divider-32i8lo",
        "dividerEnabled": ".dividerEnabled-2TTlcf",
        "isLocalBot": ".isLocalBot-38G0P0",
        "disableInteraction": ".disableInteraction-_YeVcv",
        "clickOverride": ".clickOverride-1J40_l",
        "localBotMessage": ".localBotMessage-1cGMdw",
        "message": ".message-1PNnaP",
        "messageCompact": ".messageCompact-kQa7ES",
        "messageCozy": ".messageCozy-2JPAPA",
        "headerCompact": ".headerCompact-3wRt2W",
        "headerCozy": ".headerCozy-2N9HOL",
        "headerCozyMeta": ".headerCozyMeta-rdohGq",
        "content": ".content-3dzVd8",
        "contentCompact": ".contentCompact-1QLHBj",
        "contentCozy": ".contentCozy-3XX413",
        "buttonContainer": ".buttonContainer-37UsAw",
        "avatar": ".avatar-17mtNa",
        "timestampCozy": ".timestampCozy-2hLAPV",
        "timestampCompactBase": ".timestampCompactBase-26h38e",
        "timestampCompact": ".timestampCompact-MHgFLv",
        "timestampCompactIsMentioned": ".timestampCompactIsMentioned-cQaQoQ",
        "latin12CompactTimeStamp": ".latin12CompactTimeStamp-3v5WB3",
        "latin24CompactTimeStamp": ".latin24CompactTimeStamp-3m4PhB",
        "asianCompactTimeStamp": ".asianCompactTimeStamp-2Y7Fg8",
        "timestampVisibleOnHover": ".timestampVisibleOnHover-276OMc",
        "username": ".username-_4ZSMR",
        "usernameWrapper": ".usernameWrapper-1S-G5O",
        "botTag": ".botTag-2BhDSU",
        "botTagCompact": ".botTagCompact-3mVLvM",
        "botTagCozy": ".botTagCozy-1875JY",
        "separator": ".separator-1xUax1",
        "separatorRight": ".separatorRight-3ctgKv",
        "separatorLeft": ".separatorLeft-3DZD2Q",
        "messageEditorCompact": ".messageEditorCompact-2PSR3v"
    ),
    "Guilds": (
        "guildsWrapper": ".guildsWrapper-5TJh6A",
        "scrollerWrap": ".scrollerWrap-1IAIlv",
        "guilds": ".guilds-1q_RqH",
        "friendsIcon": ".friendsIcon-2I7J-e",
        "homeIcon": ".homeIcon-1FoKUJ",
        "guildPlaceholder": ".guildPlaceholder-1ioaid",
        "guild": ".guild-1EfMGQ",
        "selected": ".selected-ML3OIq",
        "unread": ".unread-qLkInr",
        "guildInner": ".guildInner-3DSoA4",
        "audio": ".audio-3vVhBi",
        "video": ".video-15yGu3",
        "guildIcon": ".guildIcon-CT-ZDq",
        "badge": ".badge-1GsMF2",
        "dms": ".dms-rcsEnV",
        "guildSeparator": ".guildSeparator-1X4GQ1",
        "guildsError": ".guildsError-3cFMtY",
        "guildsAdd": ".guildsAdd-21_IdK",
        "guildsAddInner": ".guildsAddInner-1KMFy-",
        "downloadAppButton": ".downloadAppButton-3EFlA6",
        "downloadAppFill": ".downloadAppFill-1pdwhd",
        "unreadMentionsIndicatorBottom": ".unreadMentionsIndicatorBottom-BXS58x",
        "unreadMentionsIndicatorTop": ".unreadMentionsIndicatorTop-gA6RCh",
        "unreadMentionsBar": ".unreadMentionsBar-1VrBNe",
        "unreadMentionBar": ".unreadMentionBar-_NRWoQ"
    )
);


@function Class($component, $class) {
  @return map-get(map-get($Classes, $component), $class);
}