/*SEARCH*/

.searchResultsWrap-3-pOjs,
.searchResultsWrap-3-pOjs .searchHeader-2XoQg7 {
    background: var(--nox-level2)!important;
    box-shadow: none;
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-9tQ1uo::before {
    background-image: linear-gradient(0deg, transparent 0, var(--nox-level2) 100%);
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-9tQ1uo::after {
    background-image: linear-gradient(180deg, transparent 0, var(--nox-level2) 100%);
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-9tQ1uo {
    box-shadow: 0 0 10px 6px var(--nox-level2);
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-9tQ1uo {
    border: none;
}

.searchResultsWrap-3-pOjs .searchResult-9tQ1uo {
    border-radius: 3px;
    background: transparent;
    border: none!important;
}

.theme-dark .searchResultsWrap-3-pOjs .searchResult-9tQ1uo {
    background: var(--nox-level1)
}

.searchResultsWrap-3-pOjs .searchResult-9tQ1uo .container-1YxwTf {
    margin-bottom: 10px!important;
}

.theme-dark .searchResultsWrap-3-pOjs .searchResultGroup-1DphGG .channelName-1JRO3C {
    background: transparent;
}

.searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar {
    background: rgba(225, 225, 225, 0.04);
    width: 8px!important;
}

.theme-dark .searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: rgba(225, 225, 225, 0.2) !important;
    display: initial;
    border-radius: 0!important;
    border: 0px!important;
    background-clip: none;
}

.theme-dark .searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb:active {
    border: none !important;
    background: rgba(225, 225, 225, 0.4) !important;
    display: initial;
    border-radius: 0!important;
}

.searchResultsWrap-3-pOjs .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    display: none;
}

// .searchResultsWrap-3-pOjs .buttonsContainer-7PA8hy {
//     transform: translate(-5px, 15px);
// }


/*/SEARCH*/


.searchResultsWrap-3-pOjs .searchResult-9tQ1uo {
    margin-left: 10px;
}
.theme-dark .searchResultsWrap-3-pOjs .searchResultGroup-1DphGG .channelName-1JRO3C {
    margin-left: 10px;
}

.searchResults-2J8dju .searchResultGroup-1DphGG::before {
    display: none;
}

.buttonsContainer-7PA8hy .button-11zvza {
    background: var(--nox-level2);
}

.searchHeader-2XoQg7 .tab-2j5AEF.selected-2LAck8 {
    background: var(--nox-black4);
}

.message-1Ng5AR .avatar-1BDn8e {
    left: -60px;
}

.searchResultsWrap-3-pOjs .embedSpotify-tvxDCr {
    width: 100% !important;
}

.searchResultsWrap-3-pOjs .container-1ov-mD .embed-IeVjo6 {
    max-width: 265px;
}
