._3Mv0RaJ0,
._3Mv0RaJ0:hover,
.buttonBrandFilled-3Mv0Ra,
.buttonBrandFilled-3Mv0Ra:hover,
.button-38aScr,
.bd-pfbtn,
.bd-pluginrepobutton,
.bd-themerepobutton,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background: var(--nox-accent);
}

.bd-pluginrepobutton,
.bd-themerepobutton {
    font-weight: 600;
}


.button-38aScr.lookLink-9FtZy-,
.button-38aScr.lookOutlined-3sRXeN {
    background: none;
}
.button-38aScr.lookOutlined-3sRXeN {
    border: 1px solid #ffffff;
}
.button-38aScr.lookOutlined-3sRXeN:hover,
.button-38aScr.lookOutlined-3sRXeN:active {
    border-color: transparent;
}

.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    border: 1px solid var(--nox-accent);
    color: var(--nox-accent);
}
.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91:hover {
    border-color: transparent;
    color: white;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
    background: none;
    color: var(--nox-accent);
    border: 1px solid var(--nox-accent);
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover,
.lookOutlined-3sRXeN.colorGreen-29iAKY:active {
    border-color: transparent;
    color: white;
}


.button-38aScr:first-child + .button-38aScr:last-child {
    margin-right: 5px;
    margin-left: 5px;
}

.buttonBrandGhostDefault-2JCnWW {
    color: var(--nox-accent)!important;
    background: rgba(255,255,255, 0.05)!important;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91 {
    color: var(--nox-accent);
    background: rgba(255,255,255, 0.05);
    margin: 3px;
}

.lookGhost-2Fn_0-.colorBrand-3pXr91:hover {
    color: white;
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: var(--nox-white);
}

.button-38aScr,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.bd-pfbtn,
.bd-pluginrepobutton,
.bd-themerepobutton,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV,
._2t3of887,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV {
    // margin-bottom: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0);
    transition: all 200ms ease;
    border-radius: 3px;
}

.button-38aScr:hover,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.bd-pfbtn:hover,
.bd-pluginrepobutton:hover,
.bd-themerepobutton:hover,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover,
._2t3of887:hover,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
    background: var(--nox-accent);
    transform: translate(0, -1px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .2);
    transition:all 100ms ease, transform 150ms cubic-bezier(0,0,0,1)
}

.button-38aScr:active,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:active,
.lookOutlined-3sRXeN.colorGreen-29iAKY:active,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn:active,
.lookFilled-1Gx00P.colorBrand-3pXr91:active,
.lookInverted-2D7oAl.colorBrand-3pXr91:active,
.lookFilled-1Gx00P.colorGreen-29iAKY:active,
.button-38aScr.lookOutlined-3sRXeN.colorBrand-3pXr91:active,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:active,
.bd-pfbtn:active,
.bd-pluginrepobutton:active,
.bd-themerepobutton:active,
._2t3of887:active,
.lookGhost-2Fn_0-.colorBrand-3pXr91:active,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:active {
    color: rgba(0, 0, 0, 0.7);
    background: rgb(220, 220, 220);
    -ms-transform: translate(0, 2px);
    transform: translate(0, 2px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
    transition: all 50ms ease;
    border-radius: 4px;
}

.button-38aScr:hover,
.userSettingsAccount-2eMFVR .questionMark-CWEQZn:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.bd-pfbtn:hover,
.bd-pluginrepobutton:hover,
.bd-themerepobutton:hover,
.button-38aScr.lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:active,
._2t3of887:hover,
#app-mount .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
    filter: brightness(93%)contrast(110%)!important;
}



._2t3of887._1VCgwLw2 {
    background:#353535;
}



.buttonWhiteOutlinedDefault-3gEfoF,
.theme-dark .buttonPrimaryOutlinedDefault--H0hhk,
.theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx,
.theme-dark .-H0hhksL{
    border:none;
    background:#353535;
}
.buttonWhiteOutlinedDefault-3gEfoF:hover,
.theme-dark .buttonPrimaryOutlinedDefault--H0hhk:hover,
.theme-dark .buttonPrimaryOutlinedSubmitting-3m3eFx:hover,
.theme-dark .-H0hhksL:hover{
    color:var(--nox-white);
    background:var(--nox-level1);
    border:none;
    filter: none!important;
}

._2t3of887._1VCgwLw2{
    border:none;
    background:#353535;
    color:#F04747;
}

._2t3of887._1VCgwLw2:hover{
    border:none;
    color:var(--nox-white);
    background:#F04747;
}

._2t3of887._1VCgwLw2:active {
    border-color:transparent;
    color: rgba(0, 0, 0, 0.7);
    background: rgb(220, 220, 220);
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: var(--nox-accent);
}

.lookLink-9FtZy- .contents-18-Yxp {
    background-image: none !important;
}


.buttonGreyLinkDefault-3eCAFJ:active .contents-18-Yxp,
.buttonGreyLinkDefault-3eCAFJ:hover .contents-18-Yxp{
    background:none;
}
.buttonGreyLinkDefault-3eCAFJ{
    background:var(--nox-level1);
}
.buttonGreyLinkDefault-3eCAFJ:hover{
    filter: none!important;
    background:#353535;
}
.buttonGreyLinkDefault-3eCAFJ+.button-38aScr{
    margin-left:5px;
}



.button-38aScr {
    margin-bottom:0;
    padding: 2px 16px;
    min-height:32px;
}
.buttonBrandLink-3csEAP{
    color:#2196F3;
}


// .lookFilled-1Gx00P.colorGreen-29iAKY{
//     color:var(--nox-white);
//     background:var(--nox-accent);
// }
// .lookFilled-1Gx00P.colorGreen-29iAKY:hover{
//     background:var(--nox-accent);
//     color:var(--nox-white);
// }


.theme-dark .buttonPrimaryLinkDefault-1PQflF,
.theme-dark .buttonPrimaryLinkDisabled-3Ey7-S,
.theme-dark .buttonPrimaryLinkSubmitting-RbBzR4{
  color:var(--nox-white9)
}




.button-38aScr.lookLink-9FtZy- {
    background: transparent;
}

.button-38aScr.lookLink-9FtZy-:hover {
    background:#353535;
}

.button-38aScr.lookLink-9FtZy-:active {
    background: rgb(220, 220, 220);
}


.lookGhost-2Fn_0-.colorGrey-2DXtkV {
    color:var(--nox-white);
    margin: 3px;
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV:hover {
    color:var(--nox-white);
}
.lookGhost-2Fn_0-.colorGrey-2DXtkV:active {
    background: rgba(220, 220, 220, 0.15);
}



.button-1Pkqso.iconButton-eOTKg4 {
    padding: 0;
}


.button-38aScr.close-18n9bP {
    background: none!important;
    padding: 0 6px;
    min-height: unset;
    transform: none;
    box-shadow: none;
    color: white;
}

.button-38aScr.close-18n9bP::after{
    content:"";
    background:var(--nox-white);
    border-radius:50%;
    display:block;
    width:100%;
    padding-top:100%;
    height:0;
    position:absolute;
    opacity:0;
    transform:scale(1.4);
    transition:all 300ms ease, visibility 0ms 300ms;
    animation-fill-mode: forwards;
    visibility: hidden;
    pointer-events: none;
}

.button-38aScr.close-18n9bP:active::after{
    opacity:0.1;
    transition:all 300ms ease, visibility 0ms;
    visibility: visible;
    animation:scale 100ms cubic-bezier(.2,0,0,1),opacity 50ms ease;
}

.button-38aScr.lookBlank-3eh9lL {
    background: none;
}

.button-38aScr.lookBlank-3eh9lL:hover {
    transform: none;
}

.button-38aScr.lookBlank-3eh9lL:active {
    filter: none;
    transform: none;
    color: var(--nox-white);
    box-shadow: none;
}

.button-38aScr.actionRed-gYn8D3 {
    background: #a33030;
    color: var(--nox-white);
}



.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: #F04747;
    background: none;
    color: #F04747;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    border-color: transparent;
    color: var(--nox-white);
    background: #F04747;
}

.lookOutlined-3sRXeN.colorRed-1TFJan:active {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    background: rgb(220, 220, 220);
}

span+button {
    margin-left: 5px;
}

.button-38aScr.fullWidth-1orjjo+.button-38aScr.fullWidth-1orjjo {
    margin-left: 0;
    margin-right: 0;
}

.theme-dark .mobileIndicator-32N6Qx,
.theme-dark .mobileIndicator-U-7hTl,
.theme-dark .mobileIndicator-329Gd6,
.theme-dark .mobileIndicatorPrimary-2viufb {
    color: var(--nox-accent);
    opacity: 0.8;
    cursor: pointer;
}

.theme-dark .mobileIndicator-32N6Qx,
.theme-dark .mobileIndicator-U-7hTl:hover,
.theme-dark .mobileIndicator-329Gd6:hover,
.theme-dark .mobileIndicatorPrimary-2viufb:hover {
    opacity: 1;
}