/*   Context Menus   */
/* ================= */
.menu-3sdvDG, .submenu-2-ysNh {
    background: var(--nox-level2)!important;
    border-radius: 2px;
    padding: 0px 0px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.4)!important;
    animation: opacity 50ms ease, context-open-new 150ms cubic-bezier(0,0,0,1);
    transform-origin: top;
    border: 1px solid #252525;
}

// .theme-dark.menu-3sdvDG .menu-3sdvDG{
//     transform-origin: 0 0!important;
// }

// @keyframes context-open-new {
//     0% {
//         transform:scale(1,0.8);
//     }
// }
// @keyframes context-open {
//     0% {
//         padding-top: 0px;
//         padding-bottom: 0px;
//     }
// }

// .menu-3sdvDG.invertY, .menu-3sdvDG.undefined {
//     animation: opacity 50ms linear, context-open-new 150ms cubic-bezier(.2,0,0,1);
//     transform-origin: bottom!important;
// }

// .menu-3sdvDG .itemGroup-1tL0uz:not(:first-child):not(:empty) {
//     border-color: #242424!important
// }

// @keyframes context-open-invertY {
//     0% {
//         padding-top: 0px;
//         padding-bottom: 0px;
//         margin-top: 0px;
//     }
// }

// .theme-dark.menu-3sdvDG .itemGroup-1tL0uz {
//     border-color: rgba(255, 255, 255, .03)!important
// }

.menu-3sdvDG .item-1tOPte {
    background: transparent!important;
    border-radius: 0px;
    transition: all 80ms ease;
    cursor: pointer;
    margin: 0px;
    padding: 9px 15px;
    color: var(--nox-white6);
    animation:opacity 200ms 100ms backwards;
}

.menu-3sdvDG .item-1tOPte:hover {
    background: rgba(225, 225, 225, 0.03)!important;
    color: var(--nox-white8);
    transition: all 0ms;
}

.menu-3sdvDG .item-1tOPte.colorBrand-ROmMP1 {
    color: var(--nox-accent)!important;
}

// .menu-3sdvDG {
//     z-index: 1000000!important
// }
.menu-3sdvDG .item-1tOPte:active .slider .slider-handle::after,
.menu-3sdvDG .item-1tOPte:active .slider .slider-handle span,
.menu-3sdvDG .item-1tOPte:active .slider .slider-handle,
.menu-3sdvDG .item-1tOPte:active .slider-bar-fill {
    background: var(--nox-white);
    color: var(--nox-accent);
}

.menu-3sdvDG .item-1tOPte.colorDanger-2qLCe1,
.menu-3sdvDG .item-1tOPte.colorDanger-2qLCe1:hover {
    color: #F04747!important;
}

.menu-3sdvDG .item-1tOPte:active .checkbox-3kaeSU span {
    background: var(--nox-white)!important;
    border-color: var(--nox-white)!important;
}

.menu-3sdvDG .item-1tOPte:active .checkbox-3kaeSU span::before {
    border-color: var(--nox-accent)!important;
}

.menu-3sdvDG .item-1tOPte.colorDanger-2qLCe1:active {
    background: #F04747!important;
    color: var(--nox-white)!important;
}

.menu-3sdvDG .menu-3sdvDG {
    margin-top: -16px
}

.menu-3sdvDG .menu-3sdvDG.invertY,
.menu-3sdvDG .menu-3sdvDG.undefined {
    margin-top: 16px
}

.theme-dark.menu-3sdvDG .itemSubMenu-1vN_Yn {
    position: relative;
}

.menu-3sdvDG .slider-1PF9SW .track-11EASc {
    right: 0px!important;
    left:3px!important;
}
.menu-3sdvDG .slider-1PF9SW .grabber-3mFHz2 {
    background: var(--nox-accent);
    height: 12px;
    width: 12px;
    margin-left: -7px;
    margin-top: 3px;
}

.menu-3sdvDG .slider-1PF9SW .bar-2Qqk5Z {
    height: 3px
}

.menu-3sdvDG .item-1tOPte:hover .checkbox-3kaeSU span::before {
    border-color: #272727!important
}

.menu-3sdvDG .item-1tOPte:active .checkbox-3kaeSU span::before {
    border-color: #343434!important
}

.menu-3sdvDG .item-1tOPte .checkbox-3kaeSU span::before {
    border-color: var(--nox-level2)!important
}

.item-1tOPte.itemSubMenu-1vN_Yn .caret-UIZBlm {
    margin-right: -5px;
}

// .item-1tOPte.itemSubMenu-1vN_Yn::after {
//     content: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTguNTkgMTYuMzRsNC41OC00LjU5LTQuNTgtNC41OUwxMCA1Ljc1bDYgNi02IDZ6Ii8+ICAgIDxwYXRoIGQ9Ik0wLS4yNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
//     position: absolute;
//     right: 5px;
//     opacity: .6;
//     transition: all 100ms ease;
//     top: 5px;
// }

// .item-1tOPte.itemSubMenu-1vN_Yn:hover::after {
//     opacity: 1;
// }

.menu-3sdvDG ::-webkit-scrollbar-thumb {
    border: 2px solid var(--nox-white0) !important;
}
/* ================= */
/* End Context Menus */