/*settings animation*/
.layer-86YKbF.animating{
    pointer-events: initial!important;
    will-change:transform,opacity;
}
.modal-1UGdnR,
.inner-1JeGVc,
html,
body,
.layer-86YKbF>section,
.theme-dark .standardSidebarView-E9Pc3j{
  backface-visibility:hidden;
  backface-visibility:hidden;
}
.layer-86YKbF{
  backface-visibility:hidden;
  backface-visibility:hidden;
    transform:none!important;
    transition:all 0.3s cubic-bezier(.4,0,0,1);
}
/* .layer-86YKbF[style]{
    transform:none!important;
} */
.layer-86YKbF.animating-1rIrGV {
    transform:none!important;
}
.layer-86YKbF.stop-animations:first-of-type{
    transform:scale(0.95)!important;
    opacity:0!important;
}

.layer-86YKbF+.layer-86YKbF{
    transform:scale(1.1)!important;
    opacity:0!important;
    pointer-events: none!important;
    transition: all 300ms cubic-bezier(.4,0,0,1), opacity 150ms ease;
}

.layer-86YKbF.stop-animations~.layer-86YKbF{
    pointer-events: initial!important;
    transform:none!important;
    opacity:1!important;
    animation:pubslayer var(--nox-settings-time) cubic-bezier(.4,0,0,1);
}

#pubslayerroot .layer-86YKbF .standardSidebarView-E9Pc3j{
    animation:pubslayer 0.5s cubic-bezier(.4,0,0,1);
    transform:none;
    opacity:1;
}
@keyframes pubslayer{
    0%{
        transform:scale(1.1);
        opacity:0;
    }
}
/*/settings animation*/