.modal-3HD5ck a,
.messages-wrapper .messages .message-group a {
    color: #2196F3!important;
    transition: color 300ms ease;
    border-bottom: 2px solid transparent;
}
.modal-3HD5ck a:hover,
.messages-wrapper .messages .message-group a:hover {
    color: #90CAF9!important;
    text-decoration: none;
}