.wordmark-2iDDfm {font-size: 12px;padding: 0;}
.wordmark-2iDDfm::before {
    content: "";
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFIAAAAiCAMAAAD70H5oAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAD3RSTlMAECAwQFBgcICQoMDQ4PCEfbRbAAABFElEQVR42sXW6w6CMAyGYWCCk016/3drYJY3Y4omfon9RQl9shPbui8jpBQ6aYTFbAlqEVMlqswQt1jFYpY8/Nq6Nmht33ceZJe4xvpMNj2zaG8iupEz5pZRNldI+ki6YVYUMspu5+R9/XScId1wk4yy6ZwsozdkyM3AJKMsnJDMyFyRrtRJpOg1Sde3yE5WTMVTRpZYQ82UDEabgRDrlmRIRLre0/XGRKxJm51sRCawG601EY+kRScR2/VtjYkIydudTAeQSdtTTETIO21SkWmkVNDxgkxGSKYn+X8hW0SMnm6pJz4Q/JAgw2Im2zYYPdHmBjKZagsGuf5+UHCAuSk4zrSHruZq8P8LDCbiXy6D+ivrA9BeR4G9E94GAAAAAElFTkSuQmCC);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 17px;
    width: 70px;
    margin: 3px 0;
}

.wordmark-2iDDfm svg {
    display: none;
}

.titleBar-AC4pGV {
    background: #191919 !important;
}

.typeWindows-1za-n7 {
    margin-top: 0;
    padding-top: 4px;
}