.wordmark-2u86JB {font-size: 12px;padding: 0;}
.wordmark-2u86JB::before {
    content: "";
    display: block;
    background-image: url(inline-image("resources/images/logo.png"));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 17px;
    width: 70px;
    margin: 3px 0;
}

.wordmark-2u86JB svg {
    display: none;
}

.titleBar-1it3bQ {
    background: #191919 !important;
}

.typeWindows-2-g3UY {
    margin-top: 0;
    padding-top: 4px;
}