.wordmark-2iDDfm {font-size: 12px;padding: 0;}
.wordmark-2iDDfm::before {
    content: "";
    display: block;
    background-image: url(inline-image("resources/images/logo.png"));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 17px;
    width: 70px;
    margin: 3px 0;
}

.wordmark-2iDDfm svg {
    display: none;
}

.titleBar-AC4pGV {
    background: #191919 !important;
}

.typeWindows-1za-n7 {
    margin-top: 0;
    padding-top: 4px;
}